{% load staticfiles %}

<script src="{% static 'js/jquery.2.2.4.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/previewLogos.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXEuBW9AIFcfHx1UHvceIvCz0JnRNjGyo&callback=initMap">
</script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/html" id="contact-template">
    <div class="inline- -__prefix__">
        {% include 'shop/partials/additional-form.html' %}
    </div>
</script>

<script>
    $.fn.hasAttr = function (value) {
        return this.attr(value) !== undefined;
    };


    let formSetsCounter = 0;
    $(function () {
        $('#add-new-contact').click(function (ev) {
            ev.preventDefault();
            let count = parseInt($('#id_contacts_set-TOTAL_FORMS').attr('value'), 10);
            formSetsCounter = count;
            let tmplMarkup = $('#contact-template').html();
            let compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            $('div.inline-appended').append(compiledTmpl);
            $('#id_contacts_set-TOTAL_FORMS').attr('value', count + 1);
            initSetMarkerButton();
            initToggle();
            initFakeInputs();
            Disabled();
            Switch();
            TimepickerFrom();
            DeleteForm();
            //openMarkerModal(formSetsCounter);
        });
    });

    function DeleteForm(){
        let count = parseInt($('#id_contacts_set-TOTAL_FORMS').attr('value'), 10);
        $('.close-additional').click(function (e) {
        e.preventDefault();
        let parent = $(this).closest('.inline-');
        parent.remove();
        if (parent.remove()){
            $('#id_contacts_set-TOTAL_FORMS').attr('value', count - 1);
        }

        console.log(parent);

    });
    }


    $(".btn-toggle-day").click(function (e) {
        e.preventDefault();
        $(".toggle-days").slideToggle("100").attr('data-id');

    });

    initFakeInputs();

    function initFakeInputs() {
        $('.fake-input').each(function (i, obj) {
            let from = $(obj).find('input.from');
            let to = $(obj).find('input.to');
            let trueInput = $(obj).find('input.true_input');
            let that = $(this);

            from.unbind('change').bind('change', function () {
                trueInput.val($(this).val() + ' - ' + to.val());
                if (that.hasAttr('data-first')) {
                    let parent = that.parent();
                    setTime(from, to, parent);
                }
            });

            to.unbind('change').bind('change', function () {
                trueInput.val(from.val() + ' - ' + $(this).val());
                if (that.hasAttr('data-first')) {
                    let parent = that.parent();
                    setTime(from, to, parent);
                }
            });
        });
    }

    function setTime(_from, _to, parent) {
        $('.fake-input', parent).each(function (i, obj) {
            let from = $(obj).find('input.from');
            let to = $(obj).find('input.to');
            let trueInput = $(obj).find('input.true_input');
            if (from[0] !== _from[0] && to[0] !== _to[0]) {
                if (!from.hasAttr('disabled') && !to.hasAttr('disabled')) {
                    from.val(_from.val());
                    to.val(_to.val());
                    from.trigger('change');
                    to.trigger('change');

                }
            }
        });
    }

    Disabled();

    function Disabled() {
        $('.col-md-1').on('click', function () {
            let that = $(this);

            let from = that.prev().prev().find('.from');
            let to = that.prev().find('.to');
            if (to.hasAttr('disabled') && from.hasAttr('disabled')) {
                from.removeAttr('disabled');
                to.removeAttr('disabled');
            }
            else {
                from.attr('disabled', true);
                to.attr('disabled', true);
            }

        });

    }


    Switch();
    function Switch() {
        $('.switcher').on('change', function () {
            let that = $(this);
            let toggle = $('.toggle-days');
            let parent = that.closest(toggle);
            let weekDays = parent.find('.weekdays');
            if (that.attr('data-visible') === 'true') {
                $(weekDays).fadeOut('slow');
                that.attr('data-visible', 'false');
            } else {
                $(weekDays).fadeIn('slow');
                that.attr('data-visible', 'true');
            }
        });
        $('.switcher').each(function () {
            let that = $(this);
            let parent = that.closest('.toggle-days');
            let weekDays = parent.find('.weekdays');
            let checked = parent.find('input.switch__input');
            if (checked.hasAttr('checked')) {
                that.attr('data-visible', 'false');
                $(weekDays).fadeOut('slow');
            } else {
                that.attr('data-visible', 'true');
                $(weekDays).fadeIn('slow');
            }

        });
    }

    function initToggle() {
        $(".btn-toggle-day").each(function () {
            $(this).unbind('click').bind('click', function (e) {
                $('.toggle-days[data-id=' + $(this).attr('data-target') + ']').slideToggle("100");
            });
        });
    }

</script>
<script>
    let map = null;
    let markers = [

        {% for marker in shop.contacts_set.all %}
            {% if marker.longitude and marker.latitude %}
                {
                    'id': {{ forloop.counter }},
                    'data': {lng: {{ marker.longitude }}, lat: {{ marker.latitude }}}
                }{% if forloop.counter < shop.contacts_set.count %},{% endif %}
            {% endif %}
        {% endfor %}
    ];
    let mapCenter = {lat: 42.864272, lng: 74.579775};
    let workingIndex = -1;

    function initMap() {
        map = new google.maps.Map(document.getElementById('custom-map'), {
            center: mapCenter,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        map.addListener('click', function (event) {
            addMarker(event.latLng);
        });

        if (markers.length > 0) {
            for (let k = 0; k < markers.length; ++k) {
                let _marker = new google.maps.Marker({
                    position: markers[k]['data'],
                    map: map
                });
                markers[k]['data'] = _marker;
                center = _marker.position;


            }
{#            marker.addListener('click', function () {#}
{#                removeMarker(marker);#}
{#            });#}
        }


        // Adds a marker at the center of the map.
    }

    function addMarker(_location) {
        let currId = -1;
        for (let i = 0; i < markers.length; ++i) {
            if (markers[i]['id'] === workingIndex) currId = i;
        }

        console.log(currId);

        $('#id_contacts_set-' + workingIndex + '-longitude').val(_location['lng']);
        $('#id_contacts_set-' + workingIndex + '-latitude').val(_location['lat']);
        let marker = new google.maps.Marker({
            position: _location,
            input_id: workingIndex
        });
        if (markers.length > 0 && currId > -1) {
            markers[currId]['data'].setPosition(_location);
        }
        else {
            markers.push({'id': workingIndex, 'data': marker});
            marker.setMap(map);
        }

        if (markers.length > 0){
           marker.addListener('click', function () {
            removeMarker(marker);
        });
        }

    }

    function removeMarker(marker) {
        marker.setMap(null);
        markers.splice(markers.indexOf(marker.input_id), 1);
        $('#id_contacts_set-' + marker.input_id + '-longitude').val('');
        $('#id_contacts_set-' + marker.input_id + '-latitude').val('');
    }

    // Sets the map on all markers in the array.
    function setMapOnAll(map) {
        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setMapOnAll(null);
    }

    // Shows any markers currently in the array.
    function showMarkers() {
        setMapOnAll(map);
    }

    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }

    function openMarkerModal(index) {
        workingIndex = index;
        $('#set-marker-modal').modal('show');
        setTimeout(function () {
            google.maps.event.trigger(map, "resize");
            map.setCenter(mapCenter);
        }, 2000);
    }

    function closeMarkerModal() {
        $('#set-marker-modal').modal('hide');
    }
</script>

<script>
    function initSetMarkerButton() {
        $('.set-marker-trigger').unbind('click').bind('click', function (e) {
            e.preventDefault();
            openMarkerModal(parseInt($(this).attr('data-id')));
        });
    }
    initSetMarkerButton();
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script>
    TimepickerFrom();

    function TimepickerFrom() {
        $('.timepicker.from').timepicker({
            timeFormat: 'H:mm',
            show2400: true,
            change: function (time) {
                $(this).trigger('change');
            }
        });
        $('.timepicker.to').timepicker({
            timeFormat: 'H:mm',
            show2400: true,
            change: function (time) {
                $(this).trigger('change');
            }
        });
    }
</script>




