{% load widget_tweaks %}
{% for form in formset %}
    {{ form.id }}
    <div class="form-group input col-md-6">
        <label for="">Телефон</label>
        {{ form.phone|attr:"class:form-control" }}
    </div>

    <div class="form-group input col-md-6">
        <label for="">Адрес магазина:</label>
        {{ form.address|attr:"class:form-control" }}
    </div>


    <div class="form-group select col-md-6" style="margin-top: 10px">
        <label for="">Расположение вашего магазина</label>
        {{ form.place|attr:"class:form-control" }}
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-md-6 btn-toggle-day" data-target="0">
        <a class="add btn no-bg btn-toggle-day-time">Указать время работы</a>
    </div>

    <div class="col-md-12 toggle-days" data-id="0">
        <i>Оставьте поле пустым если выходной день</i>
        <div class="form-group input col-md-12 switcher" style="margin-top: 10px; margin-bottom: 20px;"
             data-visible="true">
            <label class="switch js-function">

                {{ form.round_the_clock|attr:"class:switch__input"|attr:"id:id_piblished" }}
                <div class="switch__toggle">
                    <div class="switch__handle"></div>
                </div>
            </label>
            <label>Всегда открыто</label>
        </div>

        <div class="weekdays">

            <div class="form-group input col-md-8 fake-input" data-first>
                <label class="col-md-3" for="">Понедельник</label>

                <div class=" col-md-4">
                    <span class="span-from">С</span> <input type="text"
                                                            class="from timepicker  form-control" >
                </div>
                <div class=" col-md-4">
                    <span class="span-to">До</span> <input type="text"
                                                           class="to timepicker form-control" >
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="checked"  checked="checked">
                    <div class="indicator"></div>
                </div>

                {% render_field form.monday|attr:"type:hidden" class='form-control true_input' placeholder='с 9:00 до 18:00' %}


            </div>
            <div class="clearfix"></div>
            <div class="form-group input col-md-8 fake-input">
                <label class="col-md-3" for="">Вторник</label>
                <div class=" col-md-4 ">
                    <span class="span-from">С</span> <input type="text"
                                                            class="from timepicker form-control" >
                </div>
                <div class=" col-md-4">
                    <span class="span-to">До</span> <input type="text"
                                                           class="to timepicker form-control" >
                </div>
                <div class="col-md-1">
                    <input type="checkbox" checked="checked">
                    <div class="indicator"></div>
                </div>
                {% render_field form.tuesday|attr:"type:hidden" class='form-control true_input' placeholder='с 9:00 до 18:00' %}

            </div>
            <div class="clearfix"></div>
            <div class="form-group input col-md-8 fake-input">
                <label class="col-md-3" for="">Среда</label>
                <div class=" col-md-4">
                    <span class="span-from">С</span> <input type="text"
                                                            class="from timepicker form-control" >
                </div>
                <div class=" col-md-4">
                    <span class="span-to">До</span> <input type="text"
                                                           class="to timepicker form-control" >
                </div>
                <div class="col-md-1">
                    <input type="checkbox" checked="checked">
                    <div class="indicator"></div>
                </div>
                {% render_field form.wednesday|attr:"type:hidden" class='form-control true_input' placeholder='с 9:00 до 18:00' %}
            </div>
            <div class="clearfix"></div>
            <div class="form-group input col-md-8 fake-input">
                <label class="col-md-3" for="">Четверг</label>
                <div class=" col-md-4">
                    <span class="span-from">С</span> <input type="text"
                                                            class="from timepicker form-control" >
                </div>
                <div class=" col-md-4">
                    <span class="span-to">До</span> <input type="text"
                                                           class="to timepicker form-control" >
                </div>
                <div class="col-md-1">
                    <input type="checkbox" checked="checked">
                    <div class="indicator"></div>
                </div>
                {% render_field form.thursday|attr:"type:hidden" class='form-control true_input' placeholder='с 9:00 до 18:00' %}
            </div>
            <div class="clearfix"></div>
            <div class="form-group input col-md-8 fake-input">
                <label class="col-md-3" for="">Пятница</label>
                <div class=" col-md-4">
                    <span class="span-from">С</span> <input type="text"
                                                            class="from timepicker form-control" >
                </div>
                <div class=" col-md-4">
                    <span class="span-to">До</span> <input type="text"
                                                           class="to timepicker form-control" >
                </div>
                <div class="col-md-1">
                    <input type="checkbox" checked="checked">
                    <div class="indicator"></div>
                </div>
                {% render_field form.friday|attr:"type:hidden" class='form-control true_input' placeholder='с 9:00 до 18:00' %}
            </div>
            <div class="clearfix"></div>
            <div class="form-group input col-md-8 fake-input">
                <label class="col-md-3" for="">Суббота</label>
                <div class=" col-md-4">
                    <span class="span-from">С</span> <input type="text"
                                                            class="from timepicker form-control" >
                </div>
                <div class=" col-md-4">
                    <span class="span-to">До</span> <input type="text"
                                                           class="to timepicker form-control" >
                </div>
                <div class="col-md-1">
                    <input type="checkbox" checked="checked">
                    <div class="indicator"></div>
                </div>
                {% render_field form.saturday|attr:"type:hidden" class='form-control true_input' placeholder='с 9:00 до 18:00' %}
            </div>
            <div class="clearfix"></div>
            <div class="form-group input col-md-8 fake-input">
                <label class="col-md-3" for="">Воскресенье</label>
                <div class=" col-md-4">
                    <span class="span-from">С</span> <input type="text"
                                                            class="from timepicker form-control" disabled>
                </div>
                <div class=" col-md-4">
                    <span class="span-to">До</span> <input type="text"
                                                           class="to timepicker form-control" disabled>
                </div>
                <div class="col-md-1">
                    <input type="checkbox">
                    <div class="indicator"></div>
                </div>
                {% render_field form.sunday|attr:"type:hidden" class='form-control true_input' placeholder='с 9:00 до 18:00' %}
            </div>
        </div>

    </div>



    <div class="form-group input col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
        <label class="switch">

            {{ form.published|attr:"class:switch__input"|attr:"id:id_piblished"|attr:"checked:checked" }}
            <div class="switch__toggle">
                <div class="switch__handle"></div>
            </div>
        </label>
        <label>Опубликовать</label>
    </div>

    <div class="form-group input col-md-12" style="margin-top: 10px; margin-bottom: 20px;">
        <label class="switch">

            {{ form.DELETE|attr:"class:switch__input"|attr:"id:id_piblished" }}
            <div class="switch__toggle">
                <div class="switch__handle"></div>
            </div>
        </label>
        <label>Удалить филиал <i>(удаляется тел, адрес, график работы и расположение на карте)</i></label>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn add no-bg set-marker-trigger" data-id="0">Поставить
            метку на карте
        </button>
    </div>


    <div class="form-group col-md-6">
        {{ form.longitude|attr:"class:form-control"|attr:"type:hidden" }}
    </div>
    <div class="form-group col-md-6">
        {{ form.latitude|attr:"class:form-control"|attr:"type:hidden" }}
    </div>


    {{ formset.management_form }}

{% endfor %}
