{% extends 'base-1.html' %}
{% load staticfiles %}
{% block categories %}
{% endblock %}


{% block content %}


    <section class="basket-page uk-margin-medium-top">
        <div class="uk-container">
            <div class="shadow  uk-padding-small">
                <form id="save_cart_form" method="post"
                      enctype="multipart/form-data">{% csrf_token %}
                    {% for shop in object.get_shops %}

                        <div class="cync-shop uk-grid">
                            <div class="image-magazin uk-width-1-5@m">
                                <div class="img-wrapper shadow">
                                    <a href="{{ shop.get_absolute_url }}">
                                        <img src="{{ shop.get_logo }}" alt="{{ shop.title }}"
                                             class="img-responsive">

                                    </a>
                                </div>
                            </div>

                            <div class="uk-width-expand@m" style="">
                                <div class="shadow">
                                    <div class="uk-grid">
                                        <div class="uk-width-1-2@m">
                                            <p class="uk-padding-small" style="background: #f1f1f1;padding-left: 40px;">
                                                Товар</p>
                                        </div>
                                        <div class="uk-width-expand@m uk-grid">
                                            <div class="uk-width-1-2@m uk-padding-small" style="background: #f1f1f1;">
                                                <p class="">Количество</p>

                                            </div>
                                            <div class="uk-width-1-2@m uk-padding-small" style="background: #f1f1f1;">
                                                <p class="">Цена</p>

                                            </div>
                                        </div>
                                    </div>
                                    {#   end head#}
                                    {% for item in object.cartitem_set.all %}
                                        {% if item.product.shop == shop %}

                                            <div class="body uk-grid">
                                                <div class="uk-width-1-2@m uk-grid">
                                                    <div class="uk-width-1-3@m">
                                                        <div class="uk-padding-small uk-text-center">
                                                            <img src="{{ item.product.get_avatar_image }}" width="50"
                                                                 alt="{{ item.product.title }}">
                                                        </div>

                                                    </div>
                                                    <div class="uk-width-expand@m " style="padding-left: 10px;">
                                                        <h3>
                                                            <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
                                                        </h3>
                                                        <p class="description-shop">{{ item.product.short_description }}</p>
                                                        <div class="availability">
                                                            <p>
                                                                Наличие:
                                                                <span class="{% if item.product.availability == "available" %} stock
                                                        {% elif item.product.availability == "waiting" %} expectation
                                                        {% else %} not-stock {% endif %}">{{ item.product.get_availability }}
                                                        </span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-expand@m uk-margin-remove-top uk-grid">
                                                    {#                                                <form action="" class="cart-form uk-width-expand@m uk-grid">#}
                                                    <input type="hidden" name="item" value="{{ item.id }}">
                                                    <input type="hidden" class="product-price"
                                                           value="{{ item.product.price }}">
                                                    <div class="uk-width-1-2@m">
                                                        <div class="form-group col-lg-6 col-lg-offset-3">
                                                            <input type="number" class="form-control uk-input item-qty"
                                                                   value="{{ item.quantity }}" name="qty" min="0">
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-expand@m">
                                                        <p class="price"
                                                           id="line-total-{{ item.product.id }}">{{ item.total }} {{ item.product.currency }}</p>
                                                    </div>
                                                    <div class="uk-width-auto@m uk-padding-remove-left uk-text-right">
                                                        <a class="delete-item" uk-icon="icon: close" title="Удалить"
                                                           uk-tooltip></a>
                                                    </div>
                                                    <div class="uk-width-1-1@m uk-margin-medium-top">

                                                        <div class="form-group">
                                            <textarea name="text" class="form-control uk-textarea item-comment"
                                                      data-product-id="{{ item.product.id }}" id="" cols="30" rows="5"
                                                      placeholder="Ваш коментарий к данному товару">{% if item.comments %}{{ item.comments }}{% endif %}</textarea>
                                                        </div>

                                                    </div>
                                                    {#                                                </form>#}
                                                </div>
                                            </div>
                                            <hr class="uk-divider-icon">
                                        {% endif %}
                                    {% endfor %}
                                    {# end body#}
                                </div>
                            <input type="hidden" class="shop-slug" value="{{ shop.slug }}">


                            </div>

                            <div class="uk-width-1-1 uk-grid uk-margin-medium-left shadow uk-padding uk-padding-remove-left">
                                <div class="border-top">
                                    <div class="">
                                        <h5>Доставка</h5>
                                    </div>
                                    <div class="">
                                        <h4 class="delivery_price">{% if forloop.first %}150{% else %}100{% endif %}
                                            сом</h4>
                                    </div>
                                </div>
                                <div class="one-shop-total uk-width-1-1">
                                    <h4>Сумма: <span class="item-total"></span> сом</h4>
                                </div>
                            {% if user.is_staff %}
                            <button class="uk-button uk-button-default red confirm-order" type="button"
                                {% if shop in object.simpleorder.confirm_shops.all %}disabled="disabled">Подтверждено{% else %}>Подтвердить{% endif %}
                            </button>
                            <button class="uk-button uk-button-default red reject-order" type="button"
                                {% if shop in object.simpleorder.rejected_shops.all %}disabled="disabled">Отклонено{% else %}>Отклонить{% endif %}
                            </button>
                        {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                    <div class="shadow uk-padding uk-margin-small-top">
                        {% if not object.get_shops %}
                            <h4>Ваша корзина пуста</h4>
                        {% else %}

                            <h3>Итого к оплате</h3>
                            <h5 id="subtotal">{{ object.subtotal }} сом</h5>
                        {% endif %}
                    <div>
                        <button class="uk-button uk-button-default red" type="submit">Сохранить</button>
                    </div>
                    </div>

                </form>
            </div>


        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="{% static 'js/confirm_order.js' %}"></script>
    <script src="{% static 'js/calc_cart.js' %}"></script>
{% endblock %}
