{% extends 'base-1.html' %}
{% load staticfiles i18n account socialaccount widget_tweaks %}
<!--</ul>-->

{% block header %}

    <header uk-sticky="media: 320" class="uk-sticky uk-sticky-fixed ">
        <a href="{% url 'home' %}" class="mobile-logo uk-hidden@m"> <img width="120" src="{% static 'img/logo.svg' %}" alt=""></a>
        <div class="uk-container uk-visible@m">
            <nav class="uk-navbar-container " uk-navbar>
                <div class="uk-navbar-left logo">
                    <a href="{% url 'home' %}" class="logo-svg uk-padding-small">
                        <img src="{% static 'img/logo.svg' %}" alt="" width="120">
                    </a>
                    <a href="{{ global.get_absolute_url }}" class="name-category">{{ global.title }}</a>
                </div>
            </nav>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="login  uk-margin-medium-top">
        <div class="uk-container">
            <div class="shadow uk-padding-large">
                <div class="uk-grid-divider uk-grid" uk-grid>
                    <div class="uk-width-1-2@l ">
                        <form method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend uk-text-center">Войти</legend>
                                {% get_providers as socialaccount_providers %}

                                <div class="uk-margin">
                                    <label class="uk-form-label">Facebook</label>
                                    <div class="uk-form-controls">
                                        <a title="Facebook"
                                           class="socialaccount_provider uk-button uk-button-default facebook"
                                           href="/accounts/facebook/login/?process=login">
                                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            Войти через Facebook
                                        </a>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Google</label>
                                    <div class="uk-form-controls">
                                        <a title="Google"
                                           class="socialaccount_provider uk-button uk-button-default google"
                                           href="/accounts/google/login/?process=login">
                                            <i class="fa fa-google" aria-hidden="true"></i>
                                            Войти через Google
                                        </a>
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label">*E-mail</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input {% if form.errors %}uk-form-danger{% endif %}"
                                               type="text" name="login" placeholder="Ваша почта" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Пароль</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input {% if form.errors %}uk-form-danger{% endif %}"
                                               type="password" name="password" placeholder="Пароль" required>
                                        {% if form.errors %}
                                            <label class="uk-form-label">{{ form.errors|striptags|slice:"7:" }}</label>
                                        {% endif %}
                                        <a class="lost-pass" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
                                    </div>
                                </div>
                                <button class="uk-margin-medium-top uk-button uk-button-default" type="submit" name="submit">Войти</button>
                            </fieldset>
                        </form>
                    </div>

                    <div class="uk-width-1-2@l">
                        <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend uk-text-center">Регистрация</legend>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Имя</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" placeholder="Имя" name="username" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">E-mail</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" placeholder="Ваша почта" name="email" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Пароль</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="password" placeholder="Пароль" name="password1" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Повторный Пароль</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="password" placeholder="Повторный Пароль" name="password2" required>
                                    </div>
                                </div>
                                <button class="uk-margin-medium-top uk-button uk-button-default">Регистрация</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    <section class="registration">#}
{#        <div class="container">#}
{##}
{##}
{#            <div class="col-md-6">#}
{##}
{#                <h2>Войти</h2>#}
{##}
{#                {% get_providers as socialaccount_providers %}#}
{##}
{#                {% if socialaccount_providers %}#}
{##}
{#                    <div class="socialaccount_ballot">#}
{##}
{#                        <ul class="socialaccount_providers">#}
{#                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#                        </ul>#}
{##}
{#                        <div class="login-or">{% trans 'или' %}</div>#}
{##}
{#                    </div>#}
{##}
{#                    {% include "socialaccount/snippets/login_extra.html" %}#}
{##}
{#                {% endif %}#}
{##}
{#                <form method="POST" action="{% url 'account_login' %}">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group {% if form.errors %}has-error{% endif %}">#}
{#                        <label>E-mail*</label>#}
{#                        <input type="email" class="form-control" name="login" placeholder="Ваша почта" required>#}
{#                    </div>#}
{#                    <div class="form-group {% if form.errors %}has-error{% endif %}">#}
{#                        <label>Пароль*</label>#}
{#                        <input type="password" class="form-control" name="password" placeholder="Пароль" required>#}
{#                        {% if form.errors %}#}
{#                            <label>{{ form.errors|striptags|slice:"7:" }}</label>#}
{#                        {% endif %}#}
{#                        <a class="lost-pass" href="{% url 'account_reset_password' %}">Забыли пароль?</a>#}
{#                    </div>#}
{##}
{#                    <button type="submit" name="submit" class="btn btn-default">Войти</button>#}
{#                </form>#}
{##}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{#                <h2>Регистрация</h2>#}
{#                <form id="signup_form" method="post" action="{% url 'account_signup' %}">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <label>Имя*</label>#}
{#                        <input type="text" class="form-control" placeholder="Имя" name="username" required>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label>E-mail*</label>#}
{#                        <input type="email" class="form-control" placeholder="Ваша почта" name="email" required>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label>Пароль*</label>#}
{#                        <input type="password" class="form-control" placeholder="Пароль" name="password1" required>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label>Повторный Пароль*</label>#}
{#                        <input type="password" class="form-control" placeholder="Повторный Пароль" name="password2"#}
{#                               required>#}
{#                    </div>#}
{#                    <button type="submit" name="submit" class="btn btn-default">Регистрация</button>#}
{#                </form>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}

{% endblock %}
