{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <section class="change-pass  uk-margin-medium-top">
        <div class="uk-container">
            <div class="shadow uk-padding-large">
                <div class="uk-grid uk-flex-center" uk-grid>
                    <div class="uk-width-1-2@l ">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend uk-text-center">{% trans "Password Reset" %}</legend>
                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                                <label class="uk-form-label uk-text-center uk-display-block uk-margin-medium-top">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</label>
                                <div class="uk-margin">
                                    <label class="uk-form-label">*Email</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" placeholder="E-mail адрес">
                                    </div>
                                </div>
                                <div class="uk-margin uk-text-center">
                                    <button type="submit" class="save uk-button uk-button-default" type="submit"
                                            value="">
                                        {% trans 'Reset My Password' %}
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

