{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}



<section class="change-pass  uk-margin-medium-top">
    <div class="uk-container">
        <div class="shadow uk-padding-large">
            <div class="uk-grid uk-flex-center" uk-grid>
                <div class="uk-width-1-2@l ">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend uk-text-center">{% trans "Change Password" %}</legend>
                            <div class="uk-margin">
                                <label class="uk-form-label">Текущий пароль*</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label">Новый пароль*</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label">Новый пароль (ещё раз)*</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text">
                                </div>
                            </div>
                            <div class="uk-margin uk-text-center">
                                <button type="submit" class="save uk-button uk-button-default" type="submit" name="action">
                                    {% trans "Change Password" %}
                                </button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
