@media screen and (max-width: 3000px)
  header
    .search
      button
        span
          display: none
//@media screen and (max-width: 1600px)

@media screen and (max-width: 1440px)
  header
    .search
      form
        margin: 0 5%
@media screen and (max-width: 1300px)
  header
    .search
      button
        font-size: 0
        padding-left: 15px
        padding-right: 15px
        span
          display: inline-block
@media screen and (max-width: 1200px)

  .product-detail
    .image-zoom
      text-align: center
      margin-bottom: 40px
    .zoom-parent
      width: 70%
    .shop-list
  .dropdown-category
    padding: 0
  .search-global-category
    .uk-first-column
      padding: 0
@media (min-width: 960px) and (max-width: 970px)
  header .uk-navbar-nav>li>a
    font-size: 12px
@media screen and (max-width: 960px)
  .product-list
    .add-product-item
      .footer
        a
          padding: 50px 0
    .footer
      h4
        text-align: center
      h4 + div
        height: 45px
        margin-top: 10px !important
      p
        text-align: center
      strike
        text-align: center !important
  .shop-list
    .footer
      a
        margin-left: 0
        margin-top: 10px
  .product-detail
    .shop-list
      margin-top: 40px
@media screen and (max-width: 688px)
  .global-category
    form
      input.uk-form-width-large
        width: 70%
        padding-left: 10px
      button
        width: 30%
        padding-left: 0
        padding-right: 0

@media screen and (max-width: 640px)
  .mobile-button-nav
    font-size: 0 !important
  .mobile-button-category
    font-size: 0 !important
    span
      margin: 0 !important
  .product-detail
    .zoom-children
      height: 50px
    .uk-button-group
      a
        margin-bottom: 20px
    .about-product
      h1
        font-size: 20px
  #image-preview
    width: 100%
  .product-list
    .add-product-item
      .footer
        a
          padding: 30px 0
  .sale
    a
      margin-bottom: 5px
  .shop-banner
    .social
      button
        width: 100%
        margin-bottom: 10px
      .uk-float-right
        float: none
      a
        width: 100%
  .order-list
    h1
      font-size: 25px
  .product-list
    .footer
      padding: 10px
      h4
        height: 30px
        font-size: 10px
      h4 + div
        height: auto
@media (min-width: 960px)
  .uk-container
      padding-left: 80px
      padding-right: 80px

