.create {
    margin-top: 30px;
    margin-bottom: 30px;
}

.create_form {
    background: #ffffff;
    padding: 20px;
}
.agreement p {
    margin-left: 20px;
    background: #ffffff;
    padding: 10px;
}

