{% extends 'base-1.html' %}
{% load staticfiles %}

{% block header %}
    {% include 'layout/header.html' with global_title=object.title %}
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
{% endblock %}


{% block categories %}
    <section class="category-link hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="clearfix"></div>
            {% include 'layout/categories.html' with object=object %}
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="shop-category global-category">
        <div class="goods-of-week search_results">
            <div class="container" id="root">

            </div>
        </div>
    </section>
{% endblock %}


{% block js %}

    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
    <script src="{% static 'js/globalcategory_detail.js' %}"></script>
   <script src="{% static 'js/select2.js' %}"></script>
{% endblock %}

