{% extends 'base-1.html' %}
{% load staticfiles %}

{% block header %}
    {% include 'layout/header.html' with global=object %}
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
{% endblock %}


{% block categories %}
    <section class="dropdown-category">
        <div class="uk-container">

            <div class="uk-text-center uk-flex-middle uk-grid uk-visible@l" uk-grid>
                {% include 'layout/categories.html' with object=object %}
            </div>

            <div id="global-category-slide" uk-offcanvas>
                <div class="uk-offcanvas-bar">

                    <button class="uk-offcanvas-close" type="button" uk-close></button>

                    <h3>Категории</h3>
                    <ul uk-accordion>
                        <li class="">
                            <h3 class="uk-accordion-title">Item 1</h3>
                            <div class="uk-accordion-content">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section class="product-list uk-margin-medium-top">
        <div class="uk-container" id="root">

        </div>
    </section>

    <section class="shop-category global-category">
        <div class="goods-of-week search_results">
            <div class="container" id="root">

            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'js/globalcategory_detail.js' %}"></script>
{% endblock %}

