{% extends "base-1.html" %}
{% load staticfiles %}
{% block content %}
    <section class="help">
        <div class="uk-container">
            <div class="uk-grid uk-margin-remove">

                <ul class="shadow uk-margin-remove  uk-width-1-4@s uk-display-block uk-subnav uk-subnav-pill"
                    uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                    {% for item in help_items %}
                        <li class=" uk-padding-remove"><a href="#">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="uk-width-expand@s uk-switcher uk-margin">
                    {% for item in help_items %}
                        <li>
                            {{ item.description|safe }}
                        </li>
                    {% endfor %}

                </ul>

            </div>
        </div>
    </section>
{% endblock %}
