@import "bourbon"

/* Large Devices, Wide Screens */
@media (min-width : 992px) and (max-width : 1200px)
  .col-md-3
    width: 33.3%
  form.form-inline.sm-form
    display: block !important
    margin: 0 0 40px 0
  header
    .form-inline
      display: none
  .category-link
    a
      font-size: 15px
    .pull-right
      a
        span
          position: absolute
          top: 18px
          left: 0
  .single-product
    .zoom-left
      float: none
      margin: 0 auto
    .about-product
      float: none
      margin: 0 auto
    .single-magazin
      float: none
      margin: 40px auto
/**/


/* Medium Devices, Desktops */
@media (min-width : 768px) and (max-width : 992px)
  .search-index
    ul.category
      li
        width: 32.6%
  header
    .form-inline
      display: none
  .category-link
    display: none
  .goods-of-week
    padding: 30px 0
  .single-product
    .zoom-left
      float: none
      margin: 0 auto
    .about-product
      float: none
      margin: 0 auto
    .single-magazin
      float: none
      margin: 40px auto
/**/

/* Small Devices, Tablets */
@media (min-width : 480px) and (max-width : 768px)
  body
    margin-top: 50px
    padding-bottom: 50px
  header
    padding: 0 !important
    .navbar-brand
      img
        width: 107px
        margin: 7px 10px
        float: left
    .nav.navbar-nav.navbar-right
      text-align: center
      a
        float: none
        display: block
        width: 200px
        margin: 5px auto
  .navbar-toggle
    .icon-bar
      background-color: #f3481c
  button.navbar-toggle[aria-expanded="true"]
    .icon-bar + .icon-bar
      margin-top: 0
      height: 1px
  .search-index
    padding: 10px 0
    .form-group
      input
        width: 75%
      button
        width: 25%
    ul.category
      overflow: hidden
      margin-top: 40px
      li
        width: 48.8%
  .goods-of-week
    padding: 30px 0
    .img-wrapper
      height: auto !important
      img
        position: static !important
  .single-product
    .zoom-left
      width: 100%
    .about-product
      width: 100%
      float: none
      .add.basket.favorite
        a
          width: 50%
          margin: 5px 0
      .availability
        span
          margin-right: 10px
        .truck
          padding-left: 13px
    .single-magazin
      float: none
      margin: 0 auto
      overflow: hidden
      margin-top: 40px
  .fixed-category
    display: none
  .category-link
    display: none !important
  .about-product-text
    img
      width: 100% !important
      height: auto !important
    h3
      margin: 20px 0
  .reviews.edit
    margin-bottom: 50px
/**/

/* Extra Small Devices, Phones */
@media (min-width : 320px) and (max-width : 480px)
  body
    margin-top: 50px
    padding-bottom: 50px
  header
    padding: 0 !important
    .form-inline
      width: 100%
      padding: 0 20px
    .navbar-brand
      img
        width: 107px
        margin: 7px 10px
        float: left
    .nav.navbar-nav.navbar-right
      text-align: center
      a
        float: none
        display: block
        width: 200px
        margin: 5px auto
  .navbar-toggle
    .icon-bar
      background-color: #f3481c
  button.navbar-toggle[aria-expanded="true"]
    .icon-bar + .icon-bar
      margin-top: 0
      height: 1px
  .search-index
    padding: 10px 0
    .form-group
      input
        width: 75%
      button
        width: 25%
    ul.category
      margin-top: 40px
      text-align: center
      li
        width: 30%
        float: none
        display: inline-block
        margin-bottom: 6px
        padding: 10px
        .img-wrapper
          height: 50px
        .title
          height: 30px
          p
            font-size: 10px
  .single-product
    .zoom-left
      width: 100%
    .about-product
      width: 100%
      float: none
      .add.basket.favorite
        a
          width: 100%
          margin: 5px 0
      .availability
        span
          margin-right: 10px
        .truck
          padding-left: 13px
    .single-magazin
      float: none
      margin: 0 auto
      overflow: hidden
      margin-top: 40px
  .fixed-category
    display: none
  .category-link
    display: none !important
  .about-product-text
    img
      width: 100% !important
      height: auto !important
    h3
      margin: 20px 0
  .reviews.edit
    margin-bottom: 50px
  .goods-of-week
    padding: 30px 0
  .registration
    .socialaccount_providers
      li
        padding: 0
    form
      padding: 0 0 50px 0
  .user-detail
    a
      margin: 10px
  .user_update
    form
      width: 90%
  .sing-out
    button
      margin: 10px
    form.add_email
      width: 90%
/**/


