@import "bourbon"

//Load Libs SASS
.custom-scroll
  position: relative
  overflow: hidden

h1, h2, h3, h4, h5, h6, p, span, b, i, ul, li, button, input, select, a
  text-decoration: none !important
  box-shadow: none!important
  margin: 0
  padding: 0
  list-style: none!important
  outline: none!important
  transition: all 0.3s ease
.container
  width: 1200px
  margin: 0 auto
  padding: 0 15px
//.facebook
//  background: url(../img/social.png) -31px 0 no-repeat
//  width: 28px
//  height: 25px
//  display: inline-block
//  &:hover
//    opacity: 0.5
//.tweet
//  background: url(../img/social.png) -61px 0 no-repeat
//  width: 28px
//  height: 25px
//  display: inline-block
//  &:hover
//    opacity: 0.5
//.google
//  background: url(../img/social.png) -92px 0 no-repeat
//  width: 28px
//  height: 25px
//  display: inline-block
//  &:hover
//    opacity: 0.5
//.instagram
//  background: url(../img/social.png) -216px 0 no-repeat
//  width: 28px
//  height: 25px
//  display: inline-block
//  &:hover
//    opacity: 0.5
.js-select
  margin-bottom: 5px !important
.search-index .col-md-6
  position: relative
.auto-complite.active
  display: block
.auto-complite
  position: absolute
  left: 0
  right: 0
  top: 240px
  padding: 50px 20%
  background-color: #fff
  overflow: hidden
  z-index: 100
  display: none
  .goods
    p
      width: 100px
  .child-goods
    ul
      border-left: 1px solid #CCCCCC
      margin-left: 50px
      margin-bottom: 20px
      li:hover
        background-color: #F7F7F7
      li
        position: relative
        padding: 10px 50px
        a
          position: absolute
          top: 0
          bottom: 0
          right: 0
          left: 0
          z-index: 1
        .img-wrapper
          float: left
          width: 40px
          height: 40px
          overflow: hidden
          position: relative
          margin-right: 20px
          img
            position: absolute
            top: -9999px
            bottom: -9999px
            right: -9999px
            left: -9999px
            margin: auto
            display: block
            max-width: 100%
        .discript
          overflow: hidden
          .name
            float: left
            h3
              font-size: 15px
            a
              font-size: 12px
              color: #999999
              text-transform: uppercase
              position: relative
              z-index: 10
              display: inline-block
              margin-bottom: 0
              &:hover
                color: #000
          .price
            padding: 10px 0
            float: right
            span
    .see-more
      color: #F3481C
      font-weight: bold
      position: relative
      transition: 0.3s
      &:before
        position: absolute
        transition: 0.3s
        content: ''
        bottom: 0
        left: 0
        right: 0
        width: 0
        height: 1px
        background-color: transparent
      i
        color: #F3481C
    .see-more:hover
      &:before
        width: 100%
        height: 1px
        background-color: #F3481C
.basket-modal
  .modal-dialog
    width: 500px
  .modal-header
    border: 0
  .modal-body
    form
      padding: 50px
      .form-group
        margin-bottom: 10px
      input
        border-radius: 0
      button
        display: block
        width: 100%

        border-radius: 5px
        color: #fff
        background-color: #F3481C
        border: 1px solid #F3481C
        margin: 20px auto

        height: 40px
        text-align: center
        &:hover
          background-color: #fff
          color: #F3481C

//Custom Styles Here
.availability
  margin: 20px 0
  span
    margin-right: 20px
    font-size: 14px
    font-weight: 300
    color: #333333
    .stock
      margin-right: 0
      color: #39B54A
    .not-stock
      margin-right: 0
      color: #F3481C
    .expectation
      margin-right: 0
      color: #ccc
  .truck
    padding-left: 20px
    border-left: 1px solid #CCCCCC
    i
      color: #CCCCCC
      font-size: 20px
      display: inline-block
      margin-right: 5px

body
  background-color: #F6F6F6
  font-family: 'Roboto', sans-serif
  margin-top: 90px
.fixed-category:hover
  left: 0
  background: rgba(0, 0, 0, 0.7)
.fixed-category
  height: 100vh
  width: 40px
  background: rgba(0, 0, 0, 0)
  transition: 0.3s
  position: fixed
  left: -20px
  top: 0
  z-index: 9999
  padding-top: 85px
  .tooltip
    z-index: 999
  li:hover
    .img-wrapper
      transform: rotateY(360deg)
  li
    .img-wrapper
      width: 100%
      height: 40px
      position: relative
      overflow: hidden
      transition: 0.8s
      a
        display: block
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        height: 50px
        img
          position: absolute
          top: -9999px
          bottom: -9999px
          right: -9999px
          left: -9999px
          margin: auto
          display: block
          max-width: 100%
header.padding
  padding: 10px 0
header
  background-color: #fff
  padding: 20px 0
  transition: 0.2s
  nav.navbar
    margin-bottom: 0
  .navbar-right
    padding: 6px 0
  .navbar-brand
    margin-left: 0!important
    padding: 0
    height: auto
    img
      width: 140px
      margin: 2px 0
      float: left
  .navbar-brand + a
      font-size: 18px
      font-weight: 700
      color: #808080
      display: inline-block
      margin-left: 5px
      line-height: 44px
  .form-inline
    width: 420px
    display: inline-block
    .form-group
      width: 100%
      margin-bottom: 0
      input
        width: 75%
        float: left
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        border: 1px solid #CCCCCC
        color: #808080
        height: 36px
        font-weight: 300
      button
        float: left
        width: 25%
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border: 1px solid #CCCCCC
        border-left: 0
        background-color: #CCCCCC
        color: #333
        height: 36px
        font-size: 15px
        font-weight: 400
        &:hover
          background-color: #b8b7b7
  a.btn
    color: #333
    font-size: 15px
    text-transform: capitalize
    box-shadow: none!important
    border-radius: 0
    background-color: #F6F6F6
    margin-left: 10px
    padding: 7px 15px
    font-weight: 300

  .favorites
    background-color: transparent!important
    span
      color: #ED1C24
  .basket
    background-color: transparent!important
    span
      color: #0071BC
  .enter
    border: 1px solid #CCCCCC
    position: relative
    &:hover
      border-color: #333

  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
    background-color: #eee
    border-color: #CCCCCC

  .dropdown
    display: inline-block
    margin-left: 10px
    .enter.btn:hover
      border-color: #808080!important
      &:before
        background-color: #333
    .enter.btn
      padding-right: 52px
      padding-left: 20px
      margin-left: 0!important
      &:before
        position: absolute
        width: 1px
        height: 100%
        right: 35px
        background-color: #CCCCCC
        top: 0
        bottom: 0
        content: ''
        transition: 0.3s
    .glyphicon
      display: inline-block
      padding: 10px
      position: absolute
      font-size: 15px
      right: 0
      top: 0
      color: #CCCCCC
    ul.dropdown-menu
      width: 100%
      border-top: 0
      border-radius: 0
      padding: 0
      margin: 0
      min-width: 100%
      max-width: 100%
      -webkit-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.75) !important
      -moz-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.75) !important
      box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.75) !important
      li
        a
          padding: 8px 20px
          font-weight: 300
          white-space: normal
  .dropdown.open
    .glyphicon
      transform: rotate(180deg)
      color: #808080
.search-index
  padding: 90px 0
  position: relative
  img.center-block
    width: 200px
    margin-bottom: 30px
  img.center-block
    animation: up-down 2s linear infinite
    transform-origin: 50% 50%
  @keyframes up-down
    0%
      transform: translateY(0)
    50%
      transform: translateY(-8px)
    100%
      transform: translateY(0)
  .col-md-6
    margin-bottom: 40px
  .form-group
    width: 100%
    margin-bottom: 0
    input
      width: 80%
      float: left
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border: 1px solid #CCCCCC
      color: #808080
      height: 40px
      font-weight: 300
    button
      float: left
      width: 20%
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      border: 1px solid #CCCCCC
      border-left: 0
      background-color: #CCCCCC
      color: #333
      height: 40px
      font-size: 15px
      font-weight: 400
      &:hover
        background-color: #b8b7b7
  ul.category
    margin-bottom: 40px
    li
      border-radius: 5px
      width: 19.5%
      float: left
      background-color: #fff
      text-align: center
      padding: 40px 10px
      margin: 2px
      position: relative
      a
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        z-index: 1
      .img-wrapper
        width: 80%
        height: 85px
        overflow: hidden
        position: relative
        margin: 0 auto
        transition: 0.8s
        img
          position: absolute
          top: -9999px
          bottom: -9999px
          right: -9999px
          left: -9999px
          margin: auto
          display: block
          max-width: 100%
      .title
        margin-top: 20px
        height: 45px
        overflow: hidden
        p
          font-size: 16px
          color: #333
          font-weight: 400
    li:hover
      background-color: #FAFAFA
      .img-wrapper
        transform: rotateY(360deg)

.goods-of-week
  margin-bottom: 40px
  h1
    font-size: 26px
    color: #333
    text-align: center
    margin-bottom: 30px
    font-weight: 400
  .add-product
    padding: 112px 30px
    background-color: #fff
    text-align: center
    i
      font-size: 40px
      color: #CCCCCC
    p
      margin: 10px
  .stock:hover
    background-color: #005d9a
  .stock
    z-index: 10
    text-align: center
    background-color: #0071BC
    position: relative
    transition: 0.3s
    a
      font-weight: 300
      color: #fff
      padding: 20px 50px
      display: inline-block
  .col-md-3:hover, .col-md-4:hover
    .cover
      border-color: #cecece
      .top-line
        background-color: #e1dfdf
  .col-md-3, .col-md-4
    padding: 0 10px
    margin-bottom: 20px
    .cover.active
      &:before
        position: absolute
        text-align: center
        padding: 120px 20px
        color: #fff
        font-weight: 300
        font-size: 24px
        content: 'Товар скрыт'
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 1
        background: rgba(253, 123, 123, 0.8)
        transition: 0.3s
      .bottom-line
        z-index: 0!important
      .top-line
        h2
          a
            z-index: 0!important
    .cover
      border: 1px solid #eee
      background-color: #fff
      transition: 0.3s
      position: relative
      a.url-item
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 1
    .top-line
      background-color: #ECECEC
      padding: 5px
      margin-bottom: 20px
      transition: 0.3s
      h2
        text-align: center
        color: #808080
        font-size: 12px
        text-transform: uppercase
        font-weight: 400
        a
          color: #808080
          z-index: 9
          position: relative
          display: block
          &:hover
            color: #F3481C
      .edited
        position: absolute
        right: 30px
        top: 3px
        font-size: 17px
        z-index: 10
      .glyphicon-eye-open
        color: #808080 !important
        position: absolute
        right: 5px
        top: 3px
        font-size: 17px
        z-index: 10
      .glyphicon-eye-close
        color: #F3481C !important
        position: absolute
        top: 3px
        font-size: 17px
        right: 5px
        z-index: 10
    .img-wrapper
      width: 85%
      height: 300px
      overflow: hidden
      position: relative
      margin: 0 auto
      img
        position: absolute
        top: -9999px
        bottom: -9999px
        right: -9999px
        left: -9999px
        margin: auto
        display: block
        max-width: 100%
    .title
      width: 85%
      margin: 10px auto

      p
        font-weight: 300
        font-size: 15px
        color: #333
        padding-bottom: 10px
        margin-bottom: 10px
        border-bottom: 1px solid #E4E4E4
        height: 45px
        overflow: hidden
      span
        font-size: 17px
        color: #333
        font-weight: 700
      span.old-price
        color: #808080 !important
        padding-left: 10px
        font-weight: 300
    .bottom-line
      width: 100%
      padding-left: 20px
      z-index: 2
      position: relative
      .in-the-basket:hover

      .in-the-basket
        color: #0071BC!important
        span
          color: #0071BC !important
      .add-basket
        color: #686868
        padding: 1px 0 10px 0
        display: inline-block
        font-size: 15px
        font-weight: 300
        &:hover
          color: #000
          span
            color: #000
        span
          padding-right: 5px
          color: #ccc
      .hearth.like
        background-color: #ED1C24
      .hearth
        display: inline-block
        width: 30px
        height: 30px
        text-align: center
        background-color: #ccc
        margin-right: 2px
        padding: 4px
        cursor: pointer
        i
          font-size: 20px
          color: #fff
      .truck
        display: inline-block
        width: 30px
        height: 30px
        text-align: center
        background-color: #ccc
        margin-right: 2px
        padding: 4px
        cursor: pointer
        i
          font-size: 20px
          color: #fff
      .truck.yellow
        background-color: #FFDA00
      .truck.green
        background-color: #39B54A
.magazin
  margin-bottom: 40px
  h2
    font-size: 26px
    color: #333
    text-align: center
    margin-bottom: 30px
    margin-top: 80px
  .owl-carousel
    background-color: #fff
    padding: 80px 100px 0px 10px
    .owl-item
      margin-left: 20px
      position: relative
      &:before
        position: absolute
        content: ''
        right: -20px
        top: 0
        bottom: 0
        border-right: 1px solid #EEEEEE
        width: 1px
        height: 70px
      .item:hover
        img
          opacity: 0.4
      .item
        height: 70px
        overflow: hidden
        position: relative
        img
          position: absolute
          top: -9999px
          bottom: -9999px
          right: -9999px
          left: -9999px
          margin: auto
          display: block
          max-width: 90%
          transition: 0.3s
    .owl-nav
      position: absolute
      right: 15px
      top: 50%
      margin-top: -15px
      .owl-prev
        width: 30px
        height: 30px
        font-size: 0
        background:  url(../img/png/arrow0.png) 5px 2px no-repeat
        float: left
      .owl-next
        width: 30px
        height: 30px
        font-size: 0
        background:  url(../img/png/arrow0.png) -40px 2px no-repeat
        float: left
.category-link
  background-color: #333
  margin-bottom: 40px
  .left-scroll-mouse
    max-width: 800px

  .overflow
    list-style: none
    white-space: nowrap

    overflow-x: auto
    -webkit-overflow-scrolling: touch
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
    background-color: #eee
    border-color: transparent!important

  .dropdown
    display: inline-block
    margin-left: 10px
    .enter.btn:hover
      border-color: transparent!important
      &:before
        background-color: transparent!important
    .enter.btn
      padding-right: 30px
      margin-left: 0!important

    .glyphicon
      display: inline-block
      padding: 20px 5px
      position: absolute
      font-size: 15px
      right: 0
      top: 0
      color: #CCCCCC
    ul.dropdown-menu

      border-top: 0
      border-radius: 0
      padding: 0
      margin: 0
      min-width: 300px

      -webkit-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.75) !important
      -moz-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.75) !important
      box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.75) !important
      li
        a
          padding: 3px 20px
          font-weight: 300
  .dropdown.open
    .glyphicon
      transform: rotate(180deg)
      color: #808080
  a
    font-size: 16px
    font-weight: 300
    color: #eee
    display: inline-block
    padding: 15px 0
    &:hover
      color: #ccc
  .pull-right
    a
      span
        font-size: 14px
.single-product
  border-bottom: 1px solid #EEEEEE
  margin-bottom: 40px
  padding: 40px 0
  background-color: #fff
  .zoom-left
    width: 380px
    float: left
    margin-right: 35px
    .zoomWrapper
      width: 380px!important
      position: relative
      height: 250px !important
      overflow: hidden
      img
        top: -9999px
        bottom: -9999px
        right: -9999px
        left: -9999px
        margin: auto
        max-width 100%
        display: block
        width: 100%!important

    #gallery_01
      margin-top: 10px
      img
        width: 19%
        margin-right: 1px
        display: inline-block
  .about-product
    width: 440px
    float: left
    .breadcrumb
      padding-left: 0
      background-color: transparent
      margin-bottom: 0
      li
        a
          color: #808080
      li.active
    h1
      font-size: 19px
      font-weight: 300
      color: #333
      margin-bottom: 5px
      line-height: 27px
    span
      font-size: 30px
      font-weight: bold
      color: #F3481C
      display: inline-block
      margin-right: 10px
    span.old-price
      font-weight: 300
      font-size: 19px
      color: #808080
    form
      margin-top: 20px

      border: 1px solid #eee
      background-color: #F8F8F8
      padding: 30px
      .form-group
        label
          font-size: 14px
          width: 55%
          color: #686868
          font-weight: 300
        input
          border-radius: 0
          font-size: 16px
          font-weight: 300
          margin-right: 5px
          border: 1px solid #eee!important
        button
          border-radius: 0
          background-color: #F3481C
          color: #fff
          border-color: #F3481C
          &:hover
            background-color: #fff!important
            color: #F3481C!important
    .availability
      margin: 20px 0
      span
        margin-right: 20px
        font-size: 14px
        font-weight: 300
        color: #333333
        .stock
          margin-right: 0
          color: #39B54A
        .not-stock
          margin-right: 0
          color: #F3481C
        .expectation
          margin-right: 0
          color: #ccc
      .truck
        padding-left: 20px
        border-left: 1px solid #CCCCCC
        i
          color: #CCCCCC
          font-size: 20px
          display: inline-block
          margin-right: 5px
    .add.basket.favorite
      overflow: hidden
      a
        width: 50%
        float: left
        border: 1px solid #ccc
        height: 45px
        line-height: 45px
        padding-left: 15px
        color: #808080
        cursor: pointer
        span
          font-size: 20px
          color: #ccc
          margin-top: 10px
          float: left
      a.basket-btn.active
        border-color: #0071bc
        color: #0071bc
        span
          color: #0071bc
      a.favorite-btn.active
        border-color: #ed1c24
        color: #ed1c24
        span
          color: #ed1c24
      a.basket-btn:hover
        border-color: #0071bc
        color: #0071bc
        span
          color: #0071bc
      a.favorite-btn:hover
        border-color: #ed1c24
        color: #ed1c24
        span
          color: #ed1c24
  .single-magazin
    width: 250px
    float: left
    margin-left: 35px
    h3
      text-align: center
      font-size: 15px
      font-weight: 300
      margin-bottom: 20px
      color: #808080
    .cover
      border: 1px solid #eee
      background-color: #fff
      transition: 0.3s
      position: relative
      a.url-item
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 1
      .top-line
        background-color: #ECECEC
        padding: 5px
        margin-bottom: 20px
        transition: 0.3s
        h2
          text-align: center
          color: #808080
          font-size: 12px
          text-transform: uppercase
          font-weight: 400
          a
            display: block
            color: #808080
            z-index: 9
            position: relative
            &:hover
              color: #F3481C
      .img-wrapper
        width: 100%
        height: 220px
        overflow: hidden
        position: relative
        margin: 0 auto

        img
          position: absolute
          top: -9999px
          bottom: -9999px
          right: -9999px
          left: -9999px
          margin: auto
          display: block
          max-width: 100%
      .bottom-line
        width: 100%
        padding-left: 20px
        z-index: 2
        position: relative
        margin-bottom: 20px
        margin-top: 20px
        div
          margin-bottom: 10px
          a
            font-size: 14px
            color: #686868
            span
              color: #CCCCCC
.about-product-text
  margin-bottom: 200px
  .container
    background-color: #fff
    border: 1px solid #eee
    .col-md-12
      margin-top: 30px
      margin-bottom: 30px
      h4
        font-size: 20px
        color: #333
        font-weight: 400
        border-bottom: 1px solid #ccc
        padding-bottom: 20px
        margin-bottom: 20px
      p
        color: #333
        font-size: 16px
.shop-page-page
  margin-bottom: 30px
  .col-md-3
    background-color: #fff
    border-radius: 8px
    padding: 16px 15px
    -webkit-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75)
    .bottom-line
      width: 100%
      z-index: 2
      position: relative
      margin-top: 10px
      div
        margin-bottom: 10px
        a
          font-size: 14px
          color: #686868
    .img-wrapper
      position: relative
      width: 240px
      height: 190px
      overflow: hidden
      margin: 0 auto
      .edit-page:hover
        label
          opacity: 0.7
      .edit-page
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 99
        background: rgba(225, 225, 255, 0.9)
        .form-group
          position: absolute
          top: 0
          bottom: 0
          right: 0
          left: 0
          margin: 0
          label
            width: 100%
            height: 100%
            position: absolute
            cursor: pointer
            background: url(../img/png/edit0.svg) center no-repeat
            transition: 0.3s
            background-size: 120px
          input
            display: none
            font-size: 0
            left: 0
            top: 0
            right: 0
            bottom: 0
            position: absolute
            z-index: 99
            cursor: pointer
            box-shadow: none!important
            border: 0!important
            outline: none!important
      img
        position: absolute
        top: -9999px
        bottom: -9999px
        right: -9999px
        left: -9999px
        margin: auto
        display: block
        max-width: 90%
    h2
      text-align: center
      font-size: 18px
      font-weight: 400
      border-bottom: 1px solid #EEEEEE
      margin-top: 15px
      margin-bottom: 15px
      padding-bottom: 15px
    p
      font-size: 15px
      font-weight: 300
      color: #333
    p + a
      color: #f3481c
  .col-md-9
    padding-left: 25px
    padding-right: 25px
    .cover
      -webkit-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75)
      -moz-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75)
      box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75)
      border-radius: 8px
      overflow: hidden
      z-index: 99
      background-color: #fff
      position: relative
      .item
        width: 100%
        height: 330px
        overflow: hidden
        position: relative
        a
          position: absolute
          top: 0
          bottom: 0
          right: 0
          left: 0
        img
          position: absolute
          top: -9999px
          bottom: -9999px
          right: -9999px
          left: -9999px
          margin: auto
          display: block
          max-width: 100%
      .owl-dots
        position: absolute
        width: 100%
        bottom: 20px
        text-align: center
        height: 10px
        .owl-dot.active
          opacity: 1
        .owl-dot
          display: inline-block
          opacity: 0.5
          width: 10px
          height: 10px
          margin: 0 5px
          background-color: #fff
          border-radius: 50%
      .bottom-line
        padding: 20px
        overflow: hidden
        .pull-left
          a
            color: #808080
            text-transform: uppercase
            padding: 10px 15px
            border-radius: 8px
            display: inline-block
            border: 1px solid #CCCCCC
            &:hover
              border-color: #7b7b7b
              color: #000
        .pull-right
          padding: 8px 0
          a:hover
            opacity: 0.6
          a
            width: 28px
            height: 25px
            display: inline-block
          .facebook
            background: url(../img/social.png) -31px 0 no-repeat
          .tweet
            background: url(../img/social.png) -61px 0 no-repeat
          .google
            background: url(../img/social.png) -92px 0 no-repeat
          .instagram
            background: url(../img/social.png) -216px 0 no-repeat
ul.category-tab
  text-align: center
  margin-bottom: 30px
  li
    display: inline-block
    a
      padding: 10px 40px
      border-radius: 50px
      display: inline-block
      color: #808080
      font-size: 16px
      font-weight: 400
      border: 1px solid transparent

  li.active:hover
    a
      background-color: #F3481C
      color: #fff
      border-color: #F3481C
  li.active
    a
      background-color: #F3481C
      color: #fff
  li:hover
    a
      background-color: transparent
      color: #333
      border-color: #E6E6E6

.shop-category
  margin-bottom: 200px
  ul.category-tab
    text-align: center
    margin-bottom: 30px
    li
      display: inline-block
      margin: 0 10px
      a
        padding: 10px 40px
        border-radius: 50px
        display: inline-block
        color: #808080
        font-size: 16px
        font-weight: 400
        border: 1px solid transparent
    li.active:hover
      a
        background-color: #F3481C
        color: #fff
        border-color: #F3481C
    li.active
      a
        background-color: #F3481C
        color: #fff
    li:hover
      a
        background-color: transparent
        color: #333
        border-color: #E6E6E6

  .filter
    .col-md-3
      padding: 0
      ul
        background-color: #fff
        li:first-child
          background-color: #F3481C
          color: #fff
          padding: 0 20px
        li
          line-height: 50px
          font-size: 16px
          font-weight: 300
          color: #333
          a
            color: #333
            display: block
            padding: 0 20px
          .category-in-category
            padding: 0 25px
            line-height: 30px
            a
              color: #333!important
              &:hover
                color: #F3481C!important

        li.active
          a
            color: #F3481C
          .category-in-category
            a.active
              color: #F3481C!important
        li
          a:hover
            color: #F3481C
    .col-md-9
      .form-filter
        background-color: #fff
        margin: 0 11px
        overflow: hidden
        margin-bottom: 20px
        .form-group
          float: left
        .form-group.select
          width: 20%
          height: 46px
          position: relative
          &:before
            position: absolute
            content: ''
            right: 8px
            top: 15px
            width: 10px
            height: 13px
            background:  url(../img/png/arrow0.png) 0 0 no-repeat
            transform: rotate(-90deg)
            background-size: 35px
          select
            width: 100%
            border-radius: 0
            height: 46px
            border-color: #EEEEEE
            box-shadow: none!important
            cursor: pointer
            -webkit-appearance: none
            -moz-appearance: none
            -ms-appearance: none
            appearance: none
            padding-right: 25px


        .form-group.input
          padding: 5px 0
          width: 221px
          border-top: 1px solid #EEEEEE
          border-bottom: 1px solid #EEEEEE
          label
            margin: 0 10px
            font-size: 16px
            font-weight: 300
            span
              display: inline-block
              margin-right: 10px
          input
            border-radius: 0
            box-shadow: none!important
            width: 129px
        .form-group.input.end
          width: 190px
          label
            margin-left: 11px
            margin-right: 2px
          input
            width: 145px
        .form-group.search
          width: 249px
          position: relative
          input
            position: relative
            height: 46px
            border-color: #EEEEEE
            border-radius: 0
            box-shadow: none!important
            width: 100%
          button
            position: absolute
            right: -2px
            top: 0
            border-radius: 0
            height: 46px
            width: 50px
            background-color: #ccc
            color: #fff
            border-color: #EEEEEE
            z-index: 1
            &:hover
              background-color: #8a8a8a
      .goods-of-week
        overflow: hidden
        .col-md-4:hover
          .cover
            border-color: #cecece
            .top-line
              background-color: #e1dfdf
        .col-md-4
          margin-bottom: 20px
          padding: 0 10px
          .cover
            border: 1px solid #eee
            background-color: #fff
            transition: 0.3s
            position: relative
            a.url-item
              position: absolute
              top: 0
              bottom: 0
              right: 0
              left: 0
              z-index: 1
          .top-line
            background-color: #ECECEC
            padding: 5px
            margin-bottom: 20px
            transition: 0.3s
            h2
              text-align: center
              color: #808080
              font-size: 12px
              text-transform: uppercase
              font-weight: 400
              a
                color: #808080
                position: relative
                z-index: 9
                display: block
                &:hover
                  color: #F3481C
          .img-wrapper
            width: 85%
            height: 225px
            overflow: hidden
            position: relative
            margin: 0 auto

            img
              position: absolute
              top: -9999px
              bottom: -9999px
              right: -9999px
              left: -9999px
              margin: auto
              display: block
              max-width: 100%
          .title
            width: 85%
            margin: 10px auto

            p
              font-weight: 300
              font-size: 15px
              height: 45px
              overflow: hidden
              color: #333
              padding-bottom: 10px
              margin-bottom: 10px
              border-bottom: 1px solid #E4E4E4
            span
              font-size: 17px
              color: #333
              font-weight: 700
            span.old-price
              color: #808080 !important
              padding-left: 10px
              font-weight: 300
          .bottom-line
            width: 100%
            padding-left: 20px
            z-index: 2
            position: relative
            .in-the-basket:hover

            .in-the-basket
              color: #0071BC!important
              span
                color: #0071BC !important
            .add-basket
              color: #686868
              padding: 1px 0 10px 0
              display: inline-block
              font-size: 15px
              font-weight: 300
              &:hover
                color: #000
                span
                  color: #000
              span
                padding-right: 5px
                color: #ccc
            .hearth.like
              background-color: #ED1C24
            .hearth
              display: inline-block
              width: 30px
              height: 30px
              text-align: center
              background-color: #ccc
              margin-right: 2px
              padding: 4px
              cursor: pointer
              i
                font-size: 20px
                color: #fff
            .truck
              display: inline-block
              width: 30px
              height: 30px
              text-align: center
              background-color: #ccc
              margin-right: 2px
              padding: 4px
              cursor: pointer
              i
                font-size: 20px
                color: #fff
            .truck.yellow
              background-color: #FFDA00
            .truck.green
              background-color: #39B54A
.basket-page
  h1
    text-align: center
    margin-bottom: 30px
    font-size: 26px
    font-weight: 400
  .thead
    overflow: hidden
    background-color: #EEEEEE
    text-align: center
    font-size: 14px
    color: #333
    padding: 3px 0
  .tbody
    margin-bottom: 200px
    background-color: #fff
    overflow: hidden
    .cover
      background-color: #fff
      overflow: hidden
      border: 1px solid #eee
      padding: 20px 0
      h2
        margin-top: 45px
        font-size: 20px
        a
          color: #333
      strike
        font-size: 18px
        color: #808080
        font-weight: 300
      p
        font-size: 18px
        font-weight: bold
        color: #333
      .quantity
        position: relative
        padding-right: 20px
        margin-top: 57px
        width: 60px
        margin: 60px auto
      input
        width: 40px
        height: 40px
        position: relative
        border: 1px solid #ccc
        text-align: center
        padding: 0 5px
      a.up
        width: 20px
        height: 20px
        right: 0
        top: 0
        position: absolute
        border: 1px solid #ccc
        &:before
          position: absolute
          content: ''
          top: 0
          bottom: 0
          right: 0
          left: 0
          background: url(../img/png/arrow0.png) 4px 1px no-repeat
          transform: rotate(90deg)
          background-size: 39px
      a.down
        width: 20px
        height: 20px
        position: absolute
        right: 0
        bottom: 0
        border: 1px solid #ccc
        &:before
          position: absolute
          content: ''
          top: 0
          bottom: 0
          right: 0
          left: 0
          background: url(../img/png/arrow0.png) 4px 1px no-repeat
          transform: rotate(-90deg)
          background-size: 39px
      .col-md-2.price
        position: relative
        padding-top: 60px
        .close
          position: absolute
          right: 30px
          top: 60px
      .img-wrapper
        width: 160px
        height: 160px
        overflow: hidden
        position: relative
        img
          position: absolute
          top: -9999px
          bottom: -9999px
          right: -9999px
          left: -9999px
          margin: auto
          display: block
          max-width: 90%
    .total
      padding: 20px 0
      overflow: hidden
      p
        font-size: 18px
        color: #333333
        text-align: right
        margin-bottom: 10px
        span
          display: inline-block
          margin-left: 10px
        .red
          color: #F3481C
      .btn-modal
        width: 225px
        line-height: 40px
        border-radius: 5px
        color: #fff
        background-color: #F3481C
        border: 1px solid #F3481C
        margin: 20px auto
        display: block
        height: 40px
        text-align: center
        font-size: 16px
        &:hover
          background-color: #fff
          color: #F3481C
.registration
  overflow: hidden
  text-align: center
  padding: 0 0 90px 0
  .container
    background-color: #fff
  .socialaccount_providers
    li
      margin-bottom: 10px
      overflow: hidden
      padding: 0 40px
      a
        display: block
        text-align: center
        padding: 10px
        color: #fff
        border-radius: 5px
        font-weight: 300
        i
          color: #fff
          font-size: 20px
          float: left
      a.facebook
        background-color: #3B5998
      a.vk
        background-color: #45668E
  h2
    font-weight: 300
    padding: 40px 0
    margin-bottom: 20px
  .login-or
    margin: 15px 0
  form
    text-align: left
    padding: 0 40px 40px 40px
    .pull-right
      height: 45px
      line-height: 40px
      padding: 10px 0
    p
      margin-bottom: 20px
      font-weight: 300
    input
      border-radius: 4px
      border: 1px solid #ccc
      color: grey
      height: 40px
      font-weight: 300
    label
      font-weight: 400
    button
      border-radius: 4px
      margin-top: 5px
      border: 1px solid #ccc
      padding: 6px 40px
      color: #333
      height: 40px
      font-size: 15px
      background-color: #fff
      &:hover
        background-color: #F3481C
        border-color: #F3481C
        color: #fff
        -webkit-box-shadow: 0px 0px 10px 2px rgba(243, 72, 28, 0.1) /* WebKit */
        -moz-box-shadow: 0px 0px 10px 2px rgba(243, 72, 28, 0.1) /* Firefox */
        box-shadow: 0px 0px 10px 2px rgba(243, 72, 28, 0.1) /* Standard */
.search_results
  .form-filter
    background-color: #fff
    margin: 0 11px 20px 11px
    overflow: hidden
    .form-group
      float: left
    .form-group.select
      width: 20%
      height: 46px
      position: relative
      &:before
        position: absolute
        content: ''
        right: 8px
        top: 15px
        width: 10px
        height: 13px
        background:  url(../img/png/arrow0.png) 0 0 no-repeat
        transform: rotate(-90deg)
        background-size: 35px
      select
        width: 100%
        border-radius: 0
        height: 46px
        border-color: #EEEEEE
        box-shadow: none!important
        cursor: pointer
        -webkit-appearance: none
        -moz-appearance: none
        -ms-appearance: none
        appearance: none
        padding-right: 25px
    .form-group.input
      padding: 5px 0
      width: 239px
      border-top: 1px solid #EEEEEE
      border-bottom: 1px solid #EEEEEE
      label
        margin: 0 10px
        font-size: 16px
        font-weight: 300
        span
          display: inline-block
          margin-right: 10px
      input
        border-radius: 0
        box-shadow: none!important
        width: 129px
    .form-group.input.end
      width: 190px
      label
        margin-left: 11px
        margin-right: 2px
      input
        width: 145px
    .form-group.search
      margin-left: 10px
      width: 249px
      position: relative
      float: right
      input
        position: relative
        height: 46px
        border-color: #EEEEEE
        border-radius: 0
        box-shadow: none!important
        width: 100%
      button
        position: static
        border-radius: 0
        height: 46px
        width: 100%
        background-color: #F3481C
        color: #fff
        border-color: #F3481C
        z-index: 1
        &:hover
          background-color: #d63f19
  .search_query
    margin-bottom: 20px
    h3
    p
  .recommended_sellers
    margin-bottom: 20px
    overflow: hidden
    .img-wrapper:hover
      border-color: #f3481c
    .img-wrapper
      float: left
      margin: 0 15px 15px 0
      width: 85px
      height: 85px
      overflow: hidden
      padding: 5px
      background-color: #fff
      position: relative
      border: 1px solid #EEEEEE
      transition: 0.3s
      a
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 1
      img
        position: absolute
        top: -9999px
        bottom: -9999px
        right: -9999px
        left: -9999px
        margin: auto
        display: block
        max-width: 90%
.add-product, .edit-shop-detail, .sing-out
  .step_1, .step_2, .step_3, .step_4
    margin-bottom: 50px
    overflow: hidden
  input::-webkit-input-placeholder
    color: #555
  input::-moz-placeholder
    color: #555
  input:-moz-placeholder
    color: #555
  input:-ms-input-placeholder
    color: #555
  h3
    margin-bottom: 20px
    font-weight: 300
    span
      color: #CCCCCC
  p
    color: #808080
    font-size: 18px
    font-weight: 300
  .form-control
    width: 100%
  .form-group
    margin-bottom: 20px
    label
      font-weight: 300
    select
      -webkit-border-radius: 0
      border-radius: 0
      border-color: #eee
      -webkit-box-shadow: none!important
      box-shadow: none!important
      cursor: pointer
      -webkit-appearance: none
      -moz-appearance: none
      -ms-appearance: none
      appearance: none
      padding-right: 25px
  .select
    position: relative
  .select:before
    position: absolute
    content: ''
    right: 30px
    top: 10px
    width: 10px
    height: 13px
    background: url(../img/png/arrow0.png) 0 0 no-repeat
    -webkit-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    transform: rotate(-90deg)
    background-size: 35px
  .input
    input
      -webkit-border-radius: 0
      border-radius: 0
      border-color: #eee
    .mini
      width: 150px
      margin-right: 20px
    .price + .select
      width: 100px
      margin-left: -25px
      margin-right: 20px
      display: inline-block
      &:before
        right: 10px
    .switch
      position: relative
      display: inline-block
      vertical-align: top
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      -webkit-background-clip: padding-box
      background-clip: padding-box
      position: relative
      overflow: hidden
      min-width: 30px
      font-size: 17px
      padding: 0 20px
      border: none
      overflow: visible
      width: 30px
      height: 30px
      z-index: 0
      text-align: left
      margin-right: 10px

    .switch__input
      position: absolute
      overflow: hidden
      right: 0px
      top: 0px
      left: 0px
      bottom: 0px
      padding: 0
      border: 0
      opacity: 0.001
      z-index: 1
      vertical-align: top
      outline: none
      width: 100%
      height: 100%
      margin: 0
      -webkit-appearance: none
      appearance: none
      z-index: -1

    .switch__toggle
      cursor: pointer
      background-color: #fff
      position: absolute
      top: 8px
      left: 0
      right: 0
      bottom: 8px
      -webkit-border-radius: 30px
      border-radius: 30px
      -webkit-transition-property: all
      -moz-transition-property: all
      -o-transition-property: all
      transition-property: all
      -webkit-transition-duration: 0.35s
      -moz-transition-duration: 0.35s
      -o-transition-duration: 0.35s
      transition-duration: 0.35s
      -webkit-transition-timing-function: ease-out
      -moz-transition-timing-function: ease-out
      -o-transition-timing-function: ease-out
      transition-timing-function: ease-out
      -webkit-box-shadow: inset 0 0 0 2px #e5e5e5
      box-shadow: inset 0 0 0 2px #e5e5e5

    .switch__handle
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      -webkit-background-clip: padding-box
      background-clip: padding-box
      position: absolute
      content: ''
      -webkit-border-radius: 28px
      border-radius: 28px
      height: 17px
      width: 17px
      background-color: #fff
      left: 1px
      top: -2px
      -webkit-transition-property: all
      -moz-transition-property: all
      -o-transition-property: all
      transition-property: all
      -webkit-transition-duration: 0.35s
      -moz-transition-duration: 0.35s
      -o-transition-duration: 0.35s
      transition-duration: 0.35s
      -webkit-transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99)
      -moz-transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99)
      -o-transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99)
      transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99)
      -webkit-box-shadow: 0 0 0 2px #bcbcbc, 0 3px 1.5px rgba(0,0,0,0.5)
      box-shadow: 0 0 0 1.5px #bcbcbc, 0 3px 2px rgba(0,0,0,0.5)

    .switch--active .switch__handle
      -webkit-transition-duration: 0s
      -moz-transition-duration: 0s
      -o-transition-duration: 0s
      transition-duration: 0s
    .switch + label
      font-size: 16px
      display: inline-block
      left: 5px
      font-weight: 300
      margin-bottom: 0
      padding: 5px
    .switch + label + i
      font-size: 18px
      color: #F3481C
    input:checked + .switch__toggle
      -webkit-box-shadow: inset 0 0 0 2px #e3520e
      box-shadow: inset 0 0 0 2px #e3520e
      background-color: #ea5b0c

    input:checked + .switch__toggle .switch__handle
      left: 24px
      background-color: #F3481C
      box-shadow: 0 0 0 1.5px #ff1515, 0 3px 2px rgba(207, 18, 18, 0.5)
    input:disabled + .switch__toggle
      opacity: 0.3
      cursor: default
      pointer-events: none


    .radio-button__input
      position: absolute
      overflow: hidden
      right: 0
      top: 0
      left: 0
      bottom: 0
      padding: 0
      border: 0
      opacity: 0.001
      z-index: 1
      vertical-align: top
      outline: none
      width: 100%
      height: 100%
      margin: 0
      -webkit-appearance: none
      appearance: none
      cursor: pointer

    .radio-button__input:active,
    .radio-button__input:focus
      outline: 0
      -webkit-tap-highlight-color: rgba(0,0,0,0)

    .radio-button__input:checked + .radio-button__checkmark:after
      opacity: 1

    .radio-button__input:checked + .radio-button__checkmark:before
      background: transparent
      border: none

    .radio-button
      position: relative
      display: inline-block
      vertical-align: top
      cursor: default
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      position: relative
      overflow: hidden
      text-align: left

    .radio-button__checkmark:before
      content: ''
      position: absolute
      -webkit-border-radius: 100%
      border-radius: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      -webkit-background-clip: padding-box
      background-clip: padding-box
      width: 20px
      height: 20px
      background: transparent
      border: none
      -webkit-border-radius: 16px
      border-radius: 16px
      left: 0

    .radio-button__checkmark
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      -webkit-background-clip: padding-box
      background-clip: padding-box
      position: relative
      display: inline-block
      vertical-align: top
      cursor: pointer
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      font-weight: 300
      font-size: 18px
      position: relative
      overflow: hidden
      width: 24px
      height: 24px
      background: transparent
      pointer-events: none

    .radio-button__input:checked + .radio-button__checkmark
      background: rgba(0,0,0,0)

    .radio-button__checkmark:after
      content: ''
      position: absolute
      -webkit-border-radius: 100%
      border-radius: 100%
      top: 50%
      left: 50%
      -webkit-transform: translate(-50%, -50%)
      -moz-transform: translate(-50%, -50%)
      -ms-transform: translate(-50%, -50%)
      -o-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      top: 6px
      left: 5px
      opacity: 0
      width: 10px
      height: 6px
      background: transparent
      border: 3px solid rgba(24,103,194,0.81)
      border-width: 2px
      border-top: none
      border-right: none
      -webkit-border-radius: 0px
      border-radius: 0px
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)

    .radio-button__input:disabled + .radio-button__checkmark
      opacity: 0.3
      cursor: default
      pointer-events: none

    .radio-button--material
      cursor: pointer
      margin: 0
      padding: 5px
      -webkit-font-smoothing: antialiased
      font-weight: 300
      font-size: 16px

    .radio-button--material__checkmark
      width: 20px
      height: 20px
      overflow: visible
      margin-right: 10px

    .radio-button--material__checkmark:before
      background: transparent
      border: 2px solid #e5e5e5
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      -webkit-border-radius: 50%
      border-radius: 50%
      width: 20px
      height: 20px
      -webkit-transition: border 0.2s ease
      -moz-transition: border 0.2s ease
      -o-transition: border 0.2s ease
      transition: border 0.2s ease

    .radio-button--material__checkmark:after
      -webkit-transition: background 0.2s ease, -webkit-transform 0.2s ease
      -moz-transition: background 0.2s ease, -moz-transform 0.2s ease
      -o-transition: background 0.2s ease, -o-transform 0.2s ease
      transition: background 0.2s ease, transform 0.2s ease
      top: 5px
      left: 5px
      width: 10px
      height: 10px
      border: none
      -webkit-border-radius: 50%
      border-radius: 50%
      -webkit-transform: scale(0)
      -moz-transform: scale(0)
      -ms-transform: scale(0)
      -o-transform: scale(0)
      transform: scale(0)

    .radio-button--material__input:checked + .radio-button__checkmark:before
      background: transparent
      border: 2px solid #f3481c

    .radio-button--material__input + .radio-button__checkmark:after
      background: #f3481c
      opacity: 1
      -webkit-transform: scale(0)
      -moz-transform: scale(0)
      -ms-transform: scale(0)
      -o-transform: scale(0)
      transform: scale(0)

    .radio-button--material__input:checked + .radio-button__checkmark:after
      opacity: 1
      background: #f3481c
      -webkit-transform: scale(1)
      -moz-transform: scale(1)
      -ms-transform: scale(1)
      -o-transform: scale(1)
      transform: scale(1)

    .radio-button--material__input:disabled + .radio-button__checkmark
      opacity: 1

    .radio-button--material__input:disabled + .radio-button__checkmark:after
      background-color: #afafaf
      border-color: #afafaf

    .radio-button--material__input:disabled + .radio-button__checkmark:before
      border-color: #afafaf

    span.discount
      font-size: 16px
      display: inline-block
      left: 5px
      font-weight: 300
    div.discount
      display: inline-block
      margin-left: 20px
      label
        font-weight: 300
        font-size: 16px
        display: inline-block
        margin-right: 20px
      input
        width: 100px
        text-align: center
  .btn-group-form
    text-align: center
    margin-bottom: 50px
    button.btn
      display: inline-block
      padding: 15px 60px
      border-radius: 50px
      margin: 0 10px
      color: #fff
    .add
      background-color: #F3481C
      &:hover
        background-color: #d03e19
    .cancel
      background-color: #808080
      &:hover
        background-color: #636363
  .col-md-4
    .upload:hover
      i
        color: #f3481c
    .upload
      transition: 0.3s
      width: 100%
      height: 360px
      background-color: #CCCCCC
      position: relative
      cursor: pointer
      overflow: hidden
      i
        position: absolute
        top: -10060px
        bottom: -9999px
        right: -9999px
        left: -9999px
        margin: auto
        display: block
        font-size: 60px
        width: 60px
        height: 60px
        color: #fff
      .add-photo
        position: absolute
        bottom: 115px
        left: 20px
        right: 20px
        text-align: center
        font-size: 16px
        color: #fff
        font-weight: 300
    .info
      text-align: center
      span
        color: #808080
        display: inline-block
        margin-bottom: 10px
.sing-out
  .container
    background-color: #fff
    text-align: center
    padding: 50px 15px 300px 15px
  h1, h2
    font-weight: 300
    margin-bottom: 30px
  p
    font-weight: 300
    margin-bottom: 30px
  button
    display: inline-block
    padding: 15px 60px
    -webkit-border-radius: 50px
    border-radius: 50px
    margin: 0 10px
    color: #fff
    background-color: #f3481c
    &:hover
      background-color: #d03e19
      color: #fff
  .blockLabels
    margin-bottom: 50px
//ALWAYS END
@import "media"
