{% extends 'base-1.html' %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
{% endblock %}


{% block header %}
    {% include 'layout/header.html' with global=object.section %}
{% endblock %}


{% block categories %}
    <section class="dropdown-category">
        <div class="uk-container">
            <div class="uk-text-center uk-flex-middle uk-grid " uk-grid="">
                {% include 'layout/categories.html' with object=object.section %}
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    {% if shops %}
        <section class="magazin">
            <h2>Магазины</h2>
            <div class="owl-carousel">
                {% include 'shop/shops.html' with shops=object.get_shops %}
            </div>
        </section>
    {% endif %}


    <section class="product-list uk-margin-medium-top">
        <div class="uk-container" id="root"></div>
    </section>


{% endblock %}

{% block js %}

    {{ block.super }}
    <script src="{% static 'react/static/js/react.js' %}"></script>

{% endblock %}
