{% extends 'base-1.html' %}
{% load staticfiles product_tags %}

{% block header %}
    <header class="navbar-fixed-top">

    <nav class="navbar ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">-->
                    <!--<img src="img/logo.svg" alt="">-->
                    <!--<span>12символ max</span>-->
                <!--</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <div class="nav navbar-nav navbar-right">
                    <!--<form class="form-inline">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Поиск товаров...">-->
                            <!--<button type="submit" class="btn btn-default">Найти</button>-->
                        <!--</div>-->
                    <!--</form>-->
                {% if user.is_authenticated %}
                    <a href="{{ user.get_favorites_link }}"  class="favorites btn"><span class="glyphicon glyphicon-heart"></span> Избранные ({{ user.get_favorites_count }})</a>
                    <a href=""  class="basket btn"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина ({{ user.get_cart_count }})</a>
                    <!-- <a href=""  class="enter btn">Войти</a> -->
                    {% else %}
                    <a href="{% url 'account_login' %}"  class="favorites btn"><span class="glyphicon glyphicon-heart"></span> Избранные</a>
                    <a href=""  class="basket btn"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина ()</a>
                    <!-- <a href=""  class="enter btn">Войти</a> -->
                {% endif %}
                    <!--
                    Когда вход выполнен!
                    -->
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="enter btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Магазин
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">Мой магазин</a></li>
                            <li><a href="">Редактировать</a></li>
                            <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                        </ul>
                    </div>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="enter btn" type="button">
                            Войти</a>
                    {% endif %}
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>
{% endblock %}

{% block categories %}
{% endblock %}

{% block content %}
<section class="search-index">
    <div class="container">

        <img class="center-block" src="{% static 'img/logo.svg' %}" alt="">

        <div class="col-md-offset-3 col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Поиск товаров...">
                    <button type="submit" class="btn btn-default">Найти</button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>

        <ul class="category">
            {% for object in fixed_categories %}
            <li>
                <a href="{{ object.get_absolute_url }}"></a>
                <div class="img-wrapper">
                    <img src="{{ object.get_icon }}" alt="">
                </div>
                <div class="title">
                    <p>{{ object.title }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</section>

<section class="goods-of-week">
    <div class="container">
        <h1>Товары недели</h1>
        {% include 'product/product_list.html' with object_list=weeks_best_products col=3 %}
    </div>
</section>

<section class="magazin">
    <h2>Магазины</h2>

    <div class="owl-carousel">
        {% for shop in shops %}
        <div class="item">
            <a href="{{ shop.get_absolute_url }}">
                <img src="{{ shop.get_logo }}" alt="{{ shop.title }}">
            </a>
        </div>
        {% endfor %}
    </div>

</section>

<!--[if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
<![endif]-->

{% endblock %}
