{% extends 'base-1.html' %}

{% block content %}
<section class="goods-of-week">
    <div class="container">
        <h1>Избранные товары</h1>
        {% for product in weeks_best_products %}
        <div class="col-md-3 col-sm-6">
            <div class="cover">
                <a class="url-item" href=""></a>
                <div class="top-line">
                    <h2>{{ product.get_shop_title }}</h2>
                </div>
                <div class="img-wrapper">
                    <img src="{{ product.get_main_image }}" alt="">
                </div>
                <div class="title">
                    <p>{{ product.title }}</p>
                    {% if product.discount %}
                        <span>{{ product.get_price }} {{ product.currency }}</span>
                        <span class="old-price"><strike>{{ product.price }} {{ product.currency }}</strike></span>
                        {% else %}
                        <span>{{ product.get_price }} {{ product.currency }}</span>
                    {% endif %}
                </div>
                <div class="bottom-line">
                    <a href="#" class="add-basket">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Добавить в корзину
                    </a>
                    <span class="truck pull-right {% if product.delivery_type == 'paid' %} yellow
                    {% elif product.delivery_type == 'free' %} green {% endif %}" data-toggle="tooltip" title=""
                          data-placement="top" data-original-title="{{ product.get_delivery_type }}"><i class="fa fa-truck" aria-hidden="true"></i></span>
                    <span class="hearth pull-right"><i class="glyphicon glyphicon-heart"></i></span>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}