{% extends 'base-1.html' %}
{% load widget_tweaks %}
{% block content %}

    <section class="add-product">
        <div class="container">
            <div class="form-filter">
                <form class="form-inline">
                    <div class="col-md-8">

                        <div class="step_1">
                            <h3><span>1.</span> Основные данные</h3>
                            <div class="form-group select col-md-6">

                                    {% render_field form.shop %}

                            </div>

                            <div class="form-group select col-md-6">
                                <select class="form-control">
                                    {% for cat in fixed_categories %}
                                     <option>{{ cat.title }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            {% for obj in form.category %}
                            <div class="form-group select col-md-6">
                                <select class="form-control">
                                    <option>Категория</option>
                                    <option>сначала дорогие</option>
                                    <option>сначала акции</option>
                                    <option>новые товары</option>
                                    <option>5</option>
                                </select>
                            </div>
                            {% endfor %}
                            <div class="form-group select col-md-6">
                                <select class="form-control">
                                    <option>Подкатегория</option>
                                    <option>Бесплатная</option>
                                    <option>Платная</option>
                                    <option>Самовывоз</option>
                                </select>
                            </div>

                            <div class="form-group input col-md-12">
                                <input type="text" data-toggle="tooltip" title=""
                                   data-placement="top"
                                   data-original-title="Рекомендация: для лучшего поиска, пишите тип товара в начале названия. Автомобильные шины MAXXIS AT-771 Bravo"
                                   aria-describedby="tooltip200612" class="form-control" placeholder="Название товара">
                            </div>

                            <div class="form-group input col-md-12">
                                <input type="text" class="form-control mini price" placeholder="Цена">

                                <div class="select">
                                    <select class="form-control">
                                    <option>Сом</option>
                                    <option>Доллар</option>
                                    <option>Евро</option>
                                    <option>Сумы</option>
                                </select>
                                </div>

                                <label class="switch">
                                    <input type="checkbox" class="switch__input">
                                    <div class="switch__toggle">
                                        <div class="switch__handle"></div>
                                    </div>
                                </label>

                                <span class="discount">Скидка</span>
                                <div class="discount">
                                    <label>Размер скидки</label>
                                    <input type="text" class="form-control" placeholder="0%">
                                </div>
                            </div>

                            <div class="form-group input col-md-12">
                                <input type="text" class="form-control mini" placeholder="Количество">
                            </div>

                                <div class="form-group input col-md-12">
                                <label class="switch">
                                    <input type="checkbox" class="switch__input">
                                    <div class="switch__toggle">
                                        <div class="switch__handle"></div>
                                    </div>

                                </label>
                                <label>Опубликовать</label>
                            </div>

                            <div class="form-group input col-md-12">
                                <label class="switch">
                                    <input type="checkbox" class="switch__input">
                                    <div class="switch__toggle">
                                        <div class="switch__handle"></div>
                                    </div>

                                </label>
                                <label>В наличии</label>
                            </div>

                            <div class="form-group input col-md-12">
                                <label class="switch">
                                    <input type="checkbox" class="switch__input">
                                    <div class="switch__toggle">
                                        <div class="switch__handle"></div>
                                    </div>
                                </label>
                                <label>Кнопка «обратный вызов»</label>
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title=""
                                   data-placement="top"
                                   data-original-title="при включение кнопки будет отображатся кнопка обратной связи"
                                   aria-describedby="tooltip200612"></i>
                            </div>
                        </div>

                        <div class="step_2">
                            <h3><span>2.</span> Доставка</h3>
                            <div class="form-group input col-md-12">
                                <label class="radio-button radio-button--material">
                                    <input type="radio" class="radio-button__input radio-button--material__input"
                                           name="1" checked="checked">
                                    <div class="radio-button__checkmark radio-button--material__checkmark"></div>
                                    Бесплатная доставка
                                </label>
                            </div>
                            <div class="form-group input col-md-12">
                                <label class="radio-button radio-button--material">
                                    <input type="radio" class="radio-button__input radio-button--material__input"
                                           name="1">
                                    <div class="radio-button__checkmark radio-button--material__checkmark"></div>
                                    Платная доставка
                                </label>
                            </div>
                            <div class="form-group input col-md-12">
                                <label class="radio-button radio-button--material">
                                    <input type="radio" class="radio-button__input radio-button--material__input"
                                           name="1">
                                    <div class="radio-button__checkmark radio-button--material__checkmark"></div>
                                    Самовывоз
                                </label>
                            </div>
                        </div>

                        <div class="step_3">
                            <h3><span>3.</span> Параметры товара</h3>
                            <div class="form-group select col-md-6">
                                <select class="form-control">
                                    <option>Сезонность</option>
                                    <option>Бесплатная</option>
                                    <option>Платная</option>
                                    <option>Самовывоз</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group select col-md-6">
                                <select class="form-control">
                                    <option>Производитель</option>
                                    <option>Бесплатная</option>
                                    <option>Платная</option>
                                    <option>Самовывоз</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group select col-md-6">
                                <select class="form-control">
                                    <option>Диаметр</option>
                                    <option>Бесплатная</option>
                                    <option>Платная</option>
                                    <option>Самовывоз</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <p>Параметры для данной категории отсутствуют. (выводится если нет формы)</p>
                        </div>

                        <div class="step_4">
                            <h3><span>4.</span> Описание товара <span>(Опционально)</span></h3>
                            <textarea class="form-control" rows="6"></textarea>
                        </div>

                        <div class="form-group btn-group-form col-md-12">
                            <button type="submit" class="btn cancel"> Отменить</button>
                            <button type="submit" class="btn add"> Добавить товар</button>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="upload" for="id_images">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <div class="add-photo">
                                Добавить<br>фотографии
                             </div>
                        </label>

                        <div class="info">
                            <span>Рекомендация для фото:</span>
                            <p>Размер: 380x380 или больше</p>
                            <p>Фон: белый или прозрачный</p>
                            <br>
                            <span id="file-counter" style="color: red;"></span>
                        </div>
                        <input type="file" id="id_images" style="display: none;" multiple>
                    </div>

                </form>
            </div>


        </div>
    </section>



        <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Save" />
                    </form>
    <script>


    </script>

{% endblock %}



{#{% block js %}#}
{#    {{ block.super }}#}
{##}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $('#get-files').on('change', function (event) {#}
{#                const wrapper = $('#image-wrapper');#}
{#                const that = this;#}
{#                $(wrapper).html('');#}
{#                for(let i=0; i < this.files.length; ++i) {#}
{#                    const fileReader = new FileReader();#}
{#                    fileReader.onload = function (e) {#}
{#                        wrapper.append('<div class="image-wrap" data-id="' + i + '"><span>X</span><img src="' + e.target.result + '"><input type="file" style="opacity: 0; width: 0; height: 0;" name="upload-file-id-' + i + '" class="image-wrap-inputs"></div>');#}
{#                        applyDeleteButtons(that);#}
{#                    };#}
{#                    fileReader.readAsDataURL(this.files[i]);#}
{#                }#}
{#                setTimeout(function () {#}
{#                    applyFilesToInput(that.files);#}
{#                }, 500);#}
{#            });#}
{##}
{#            function applyFilesToInput(files) {#}
{#                $('.image-wrap').each(function (i, obj) {#}
{#                    console.log(i);#}
{#                     $(obj).find('input').files.push(files[i]);#}
{#                    console.log($(obj).find('input').files);#}
{#                });#}
{#            }#}
{##}
{#            function applyDeleteButtons(input) {#}
{#                var buttons = $('.image-wrap span');#}
{#                $(buttons).each(function (i, obj) {#}
{#                    $(obj).on('click', function () {#}
{#                        $(obj).parent().fadeOut('slow', function () {#}
{#                            $(obj).parent().remove();#}
{#                        });#}
{#                    });#}
{#                });#}
{#            }#}
{#        });#}
{##}
{##}
{#    </script>#}
{##}
{#{% endblock %}#}
