{% extends 'base-1.html' %}
{% load product_tags staticfiles widget_tweaks %}

{% block meta %}
    <meta name="description" content
            {% if object.meta_description %}{{ object.meta_description }}{% else %}{{ object.category.section }}, {{ object.category.parent }}, {{ object.category }}- {{ object.short_description }} {{ object.price }} {{ object.currency }} Бишкек, в Бишкеке{% endif %}">
    <meta name="keywords" content="
            {% if object.meta_keywords %}{{ object.meta_keywords }}{% else %}{{ object.title }},{{ object.get_shop_title }},интернет магазин, купить, в бишкеке, цена, отзывы{% endif %}">
    <meta name="author" content="Oobamarket.kg интернет магазин в Бишкеке">
    <title>{% block title %}{% if object.meta_title %}{{ object.meta_title }} в Бишкеке -
        {{ object.get_shop_title }}{% else %}{{ object.title }} - {{ object.get_shop_title }} интернет-магазин Бишкек
    {% endif %} {% endblock %}</title>
{% endblock %}

{% block header %}
    {% include 'layout/header.html' with global=object.shop.get_global_category %}
{% endblock %}



{% block categories %}
    <section class="dropdown-category">
        <div class="uk-container">
            <div class="uk-text-center uk-flex-middle uk-grid uk-visible@l" uk-grid>
                {% include 'layout/categories.html' with object=object.shop.get_global_category %}
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="product-detail shadow uk-margin-medium-top">
        <div class="uk-container">

            <div class="uk-grid">

                <div class="uk-width-1-3@l image-zoom uk-width-1-1@m">
                <h4 class="help"><span uk-icon="icon: search" class="uk-margin-small-right"></span>Наведите курсор, чтоб увеличить</h4>
                    {% if object.get_avatar_image %}
                        <img class="zoom-parent"
                             src="{{ object.get_avatar_image }}"
                             data-large="{{ object.get_avatar_image }}" title="Фото">
                    {% else %}
                        <img class="zoom-parent"
                             src="http://via.placeholder.com/378x378"
                             data-zoom-image="http://via.placeholder.com/378x378"/>
                    {% endif %}
                    <div id="child-gallery">
                        {% for image in object.productimage_set.all %}
                            <img {% if image.is_avatar %} active {% endif %} class="zoom-children"
                                                          src="{{ image.image.url }}"
                                                          data-large="{{ image.image.url }}" title="">
                        {% endfor %}
                    </div>
                </div>

                <div class="uk-width-2-5@l uk-width-1-2@m about-product">
                    <ul class="uk-breadcrumb uk-margin-small-bottom">
                        <li>
                            <a href="{{ object.category.section.get_absolute_url }}">{{ object.category.section.title }}</a>
                        </li>
                        <li><a href="{{ object.shop.get_absolute_url }}">{{ object.get_shop_title }}</a></li>
                        <li class="active">{{ object.title }}</li>
                    </ul>
                    <h1>{{ object.title }}
                        {% if user.is_authenticated %}
                            {% if user in object.shop.user.all %}
                                <a href="{% url 'product:update_product' slug=object.slug %}" uk-icon="icon: file-edit"
                                   title="Редактировать товар" uk-tooltip></a>
                            {% endif %}
                        {% endif %}
                    </h1>
                    {% if object.discount %}
                        <span class="price">{{ object.get_price }} {{ object.currency }}</span>
                        <strike>{{ object.price }} {{ object.currency }}</strike>
                    {% else %}
                        <span class="price">{{ object.get_price }} {{ object.currency }}</span>
                    {% endif %}


{#                    <div class="availability">#}
{#                        <p>Наличие: <b class="green">В наличии</b></p>#}
{#                        <p>Наличие: <b class="red">Нет в наличие</b></p>#}
{#                        <p>Наличие: <b class="gray">Ожидание</b></p>#}
{#                    </div>#}
                    {% if object.short_description %}
                        <p class="short-description">
                            <strong>Короткое описание:</strong><br> {{ object.short_description|safe }}
                        </p>
                    {% endif %}
                    {#                    <div class="availability">#}
                    {#                    <span>Наличие: #}
                    {#                        <span class="{% if object.availability == "available" %} stock#}
                    {#                                                {% elif object.availability == "waiting" %} expectation#}
                    {#                                                {% else %} not-stock {% endif %}">{{ object.get_availability }}</span>#}
                    {#                    </span>#}
                    {##}
                    {#                        <!-- <span class="truck">#}
                    {#                    <i class="fa fa-truck {% if product.delivery_type == 'paid' %} yellow#}
                    {#                    {% elif product.delivery_type == 'free' %} green {% endif %}" aria-hidden="true"></i>#}
                    {#                    {{ object.get_delivery_type }}#}
                    {#                </span> -->#}
                    {#                    </div>#}
                    <!-- {% if product.delivery_type == 'paid' %}
                    <p>Стоимость доставки:{{ product.delivery_cost }}</p>
                {% endif %} -->
                    <form action="" id="favorite-form" style="display: none;">
                        <input type="hidden" name="item" value="{{ object.id }}">
                    </form>
                    <div class="uk-button-group uk-margin-medium-top add basket favorite uk-grid">
                        <div class="uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">{% is_in_cart request object %} </div>
                        <div class="uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">{% is_favorite object request.user %}</div>
                        <div class="uk-width-1-1@l uk-margin-medium-top uk-width-1-1@m uk-width-1-1@s"><a uk-toggle="target: #bye-now" style="background: #f3481c;color: #fff" class="uk-button">Купить сейчас</a></div>
                    </div>
                </div>
                <div class="uk-width-1-4@l uk-width-1-2@m">
                    <div class="shop-list" title="Перейти в магазин" uk-tooltip>
                        <h3>Магазин / Продавец:</h3>
                        <div class="uk-grid-match">
                            <div class="shadow uk-text-center uk-transition-toggle">
                                <div class="uk-inline-clip uk-transition-toggle">
                                    <div class="border">
                                        <div class="uk-cover-container">
                                            <canvas width="400" height="400"></canvas>
                                            <img uk-cover src="{{ object.shop.get_logo }}" alt="">
                                        </div>
                                    </div>
                                    <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default">
                                        <a href="{{ object.shop.get_absolute_url }}" class="uk-position-cover"></a>
                                        <h4 class="uk-margin-remove">{{ object.shop.title|truncatechars:28 }}</h4>
                                        <div class="control">
                                            {% if object.shop.contacts_set.first.phone %}
                                                <p class="phone"><span class="uk-margin-small-right"
                                                                       uk-icon="icon: phone"></span>
                                                    {{ object.shop.contacts_set.first.phone }}
                                                </p>
                                            {% else %}
                                                <p class="phone"><span class="uk-margin-small-right"
                                                                       uk-icon="icon: phone"></span>
                                                    не указан
                                                </p>
                                            {% endif %}
                                            <p class="email">
                                                <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                                                {{ object.shop.email }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-padding-small uk-grid uk-margin-remove footer">
                                    <h4 class="uk-width-1-1@l uk-padding-remove">
                                        {{ object.shop.title|truncatechars:28 }}</h4>

                                    {% if user.is_authenticated %}
                                        {% if user not in object.shop.user.all %}
                                            {% if object.shop.id in subscribe_shops %}
                                                <a class="subscribe_shop uk-display-block disabled">Подписаны</a>
                                            {% else %}
                                                <a class="subscribe_shop uk-display-block enable">Подписаться</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ck-editor uk-margin-medium-top">
        <div class="uk-container">
            <div class="content shadow uk-padding-large">
                {{ object.long_description | safe }}
            </div>
        </div>
    </section>

    {#    <section class="reviews">#}
    {#        <div class="container bg-white" id="prod_review">#}
    {#            {% include 'layout/prod_reviews.html' %}#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {#    <section class="reviews edit">#}
    {#        <div class="container bg-white">#}
    {#            <div class="item">#}
    {#                <form id='review_form' class="product_review" action="{% url 'product:add_review' slug=object.slug %}"#}
    {#                      method="post">#}
    {#                    {% csrf_token %}#}
    {##}
    {#                    {% if user.is_authenticated %}#}
    {#                        <div class="name">#}
    {#                            <h5>Добавить отзыв</h5>#}
    {##}
    {#                            <h4>#}
    {##}
    {#                                <div class="star-wrapper">#}
    {#                                    <div class="star default">#}
    {#                                        <i class="fa fa-star-o" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star-o" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star-o" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star-o" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star-o" aria-hidden="true"></i>#}
    {#                                    </div>#}
    {#                                    <div class="star active star-behaviour" data-save-stars="false"#}
    {#                                         data-stars-count="0">#}
    {#                                        <i class="fa fa-star" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star" aria-hidden="true"></i>#}
    {#                                        <i class="fa fa-star" aria-hidden="true"></i>#}
    {#                                    </div>#}
    {#                                </div>#}
    {##}
    {#                            </h4>#}
    {##}
    {#                        </div>#}
    {#                        <div class="description">#}
    {##}
    {#                            <div class="form-group">#}
    {#                                <textarea name="text" id="prod-rev" cols="30" rows="10" class="form-control"></textarea>#}
    {##}
    {#                            </div>#}
    {#                            <button type="submit">Отправить</button>#}
    {#                        </div>#}
    {#                    {% else %}#}
    {#                        <div class="name">#}
    {#                            <h5>Чтобы добавить отзыв авторизуйтесь</h5>#}
    {#                        </div>#}
    {#                    {% endif %}#}
    {#                </form>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </section>#}
    <section class="review uk-margin-medium-top">

        <div class="uk-container">
            <div class="shadow uk-padding-large">
                {% for item in reviews %}
                    <article class="uk-comment">
                        <h4 class="uk-comment-title uk-margin-remove">
                            {{ item.user.first_name }}
                            <div class="group-star uk-display-inline-block">
                                {% for i in item.stars %}
                                    <span class="star"></span>
                                {% endfor %}
                            </div>
                        </h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">{{ item.created_at|date:"d-m-y H:i" }}</a></li>
                        </ul>
                        <div class="uk-comment-body">
                            <p>{{ item.text }}</p>
                        </div>
                        <hr class="uk-divider-icon">
                    </article>
                {% endfor %}

{#                <div class="uk-alert-danger uk-alert" uk-alert="">#}
{#                    <a class="uk-alert-close uk-close uk-icon" uk-close="">#}
{#                    </a>#}
{#                    <h3>Ошибка</h3>#}
{#                    <p>Вы не можете отправить пустое сообщение!!!</p>#}
{#                </div>#}

                {% if request.user.is_authenticated %}
                    <form class="uk-form-stacked uk-margin-medium-top" action="
                                {% if not already_added %}{% url "product:add_review" slug=object.slug %} {% else %}
                                {% url "product:update_review" slug=object.slug pk=user_review.pk %}{% endif %}"
                        id="review_form">
                    <div class="uk-margin">
                        {% csrf_token %}
                        <legend class="uk-legend">
                            {% if not already_added %}
                                Добавить отзыв
                            {% else %}
                                Редактировать отзыв
                            {% endif %}
                        </legend>
                        {% render_field form.rating  id="rating-review" class="uk-margin" %}
                        <div class="uk-form-controls">
                            {% render_field form.text class="uk-textarea" rows="10" placeholder="Ваш отзыв"%}
                        </div>
                    </div>
                    <button class="uk-button uk-button-default">Отправить</button>
                </form>
                {% else %}
                    <div class="uk-alert-danger uk-alert" uk-alert="">
                    <a class="uk-alert-close uk-close uk-icon" uk-close="">
                    </a>
                    <p>Чтобы оставить отзыв, нужно авторизоваться</p>
                    </div>
                {% endif %}
            </div>


        </div>
    </section>



<div id="bye-now" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
         <button class="uk-modal-close-default" type="button" uk-close></button>
        <section class="login  uk-margin-medium-top">
        <div class="">
            <div class="shadow uk-padding-large">
                <div class="uk-grid-divider uk-grid" uk-grid>
                    <div class="uk-width-1-2@l ">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend uk-text-center">Войти</legend>


                                <div class="uk-margin">
                                    <label class="uk-form-label">Facebook</label>
                                    <div class="uk-form-controls">
                                        <a title="Facebook"
                                           class="socialaccount_provider uk-button uk-button-default facebook"
                                           href="/accounts/facebook/login/?process=login">
                                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            Войти через Facebook
                                        </a>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Google</label>
                                    <div class="uk-form-controls">
                                        <a title="Google"
                                           class="socialaccount_provider uk-button uk-button-default google"
                                           href="/accounts/google/login/?process=login">
                                            <i class="fa fa-google" aria-hidden="true"></i>
                                            Войти через Google
                                        </a>
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label">*E-mail</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input {% if form.errors %}uk-form-danger{% endif %}"
                                               type="text" name="login" placeholder="Ваша почта" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Пароль</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input {% if form.errors %}uk-form-danger{% endif %}"
                                               type="password" name="password" placeholder="Пароль" required>
                                        {% if form.errors %}
                                            <label class="uk-form-label">{{ form.errors|striptags|slice:"7:" }}</label>
                                        {% endif %}
                                        <a class="lost-pass" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
                                    </div>
                                </div>
                                <button class="uk-margin-medium-top uk-button uk-button-default" type="submit" name="submit">Войти</button>
                            </fieldset>
                        </form>
                    </div>

                    <div class="uk-width-1-2@l">
                        <form id="signup_form" method="post" action="{% url 'account_signup' %}">

                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend uk-text-center">Регистрация</legend>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Имя</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" placeholder="Имя" name="username" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">E-mail</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" placeholder="Ваша почта" name="email" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Пароль</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="password" placeholder="Пароль" name="password1" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label">Повторный Пароль</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="password" placeholder="Повторный Пароль" name="password2" required>
                                    </div>
                                </div>
                                <button class="uk-margin-medium-top uk-button uk-button-default">Регистрация</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>

{% endblock content %}


{% block js %}
    {{ block.super }}
    {#    <script src={% static 'js/jquare-zoom.js' %}></script>#}
    {#    <script src={% static 'js/subscribe.js' %}></script>#}
    <script src="{% static 'js/main.js' %}"></script>


    <script>
        var form = $('#review_form');
        $(form).unbind('submit').bind('submit', function (event) {
            var data = $(form).serialize();
            data += '&rating=' + $('.br-current-rating').text();
            event.preventDefault();
            $.ajax({
                method: 'POST',
                url: $(form).attr('action'),
                dataType: 'JSON',
                data: data,
                success: function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        alert('Review save/update error!');
                    }
                }
            });
        });
    </script>

{% endblock %}
