{% load product_tags %}
<form class="form-inline sm-form hidden-lg hidden-md" method="get" action="/search/">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Поиск товаров..." id="search-form-index"
               name="q">
        <button type="submit" class="btn btn-default">Найти</button>
    </div>
</form>
<div class="row">
{% for product in object_list %}

    <div class="col-md-{{ col }} col-sm-6 new-design">
        <div class="img-wrapper {% if not product.published %} disabled {% endif %}">
            {% if user.is_authenticated and user in product.shop.user.all or user.is_staff %}

            <div class="setting-control">
                <a href="{% url 'product:update_product' slug=product.slug %}" class="glyphicon glyphicon-pencil"
                   data-toggle="tooltip" title="" data-placement="top"
                          data-original-title="Редактировать товар"></a>
                <a href="" class="glyphicon eye {% if product.published %}glyphicon-eye-open
                            {% else %} glyphicon-eye-close {% endif %}" data-toggle="tooltip"
                   title="" data-placement="top"
                          data-original-title="Показать товар"
                   data-status="{% if product.published %}false{% else %}true {% endif %}"
                   data-item="{{ product.id }}"></a>
                <a class="remove glyphicon glyphicon-remove model-trigger delete-object"
                           data-url="{% url 'product:delete_product' slug=product.slug %}" data-toggle="tooltip"
                          title="" data-placement="top" data-original-title="Удалить"></a>
            </div>
                {% endif %}

            {% if product.get_avatar_thumb_image %}
                    <img src="{{ product.get_avatar_thumb_image }}" alt="">
                {% else %}
                    <img src="http://via.placeholder.com/222x225" alt="">
                {% endif %}

            <div class="back-fade">

                <a href="{{ product.get_absolute_url }}"></a>

                <div class="name-magazin-title">
                    <h3>{{ product.shop.title }}</h3>
                    <p>{{ product.short_description }}</p>
                </div>

                <div class="button-basket-favorite">
                    {% cart_message request product %}
                    <span class="glyphicon glyphicon-heart  enable {% is_favorite_for_like product request.user %}"
                          data-product-id="{{ product.id }}" data-toggle="tooltip" title=""
                          data-placement="top"
                          data-original-title="{% is_favorite_for_tooltip product request.user %}"></span>
                </div>

                <div class="title-price">
                    <div class="col-md-8">
                        <h4>{{ product.title }}</h4>
                    </div>
                    <div class="col-md-4">
                        {% if product.discount %}
                        <span>{{ product.get_price }} {{ product.currency }}</span>
                        <span class="old-price"><strike>{{ product.price }} {{ product.currency }}</strike></span>
                        {% else %}
                         <span>{{ product.get_price }} {{ product.currency }}</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{##}
{##}
{##}
{##}
{##}
{##}
{#    <div class="col-md-{{ col }} col-sm-6 old-design">#}
{#        <div class="cover {% if not product.published %} active{% endif %}">#}
{#            {% if product.discount %}#}
{#                <span class="discount" data-toggle="tooltip" title="" data-placement="left"#}
{#                      data-original-title="Скидка %" aria-describedby="tooltip409378">- {{ product.discount }} %</span>#}
{#            {% endif %}#}
{#            <a class="url-item" href="{{ product.get_absolute_url }}"></a>#}
{#            <div class="top-line">#}
{#                <h3>#}
{#                    <a href="{{ product.shop.get_absolute_url }}">#}
{#                        {{ product.get_shop_title |truncatechars:28 }}#}
{#                    </a>#}
{#                </h3>#}
{#                {% if user.is_authenticated %}#}
{#                    {% if user in product.shop.user.all %}#}
{#                        <a class="edited glyphicon glyphicon-cog"#}
{#                           href="{% url 'product:update_product' slug=product.slug %}" data-toggle="tooltip" title=""#}
{#                           data-placement="bottom" data-original-title="Редактировать"></a>#}
{#                        <a href=""#}
{#                           class="eye glyphicon glyphicon-eye-{% if product.published %}open{% else %}close{% endif %}"#}
{#                           data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Скрыть"#}
{#                           data-status="{% if product.published %}false{% else %}true {% endif %}"#}
{#                           data-item="{{ product.id }}"></a>#}
{#                        <a class="remove glyphicon glyphicon-remove-circle model-trigger delete-object"#}
{#                           data-url="{% url 'product:delete_product' slug=product.slug %}" data-toggle="tooltip"#}
{#                           title="" data-placement="bottom" data-original-title="Удалить"></a>#}
{#                    {% endif %}#}
{#                {% endif %}#}
{##}
{#            </div>#}
{#            <div class="img-wrapper">#}
{#                {% if product.get_main_image %}#}
{#                    <img src="{{ product.get_main_image }}" alt="">#}
{#                {% else %}#}
{#                    <img src="http://via.placeholder.com/222x225" alt="">#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            <div class="title">#}
{#                <p>{{ product.title }}</p>#}
{#                {% if product.discount %}#}
{#                    <span>{{ product.get_price }} {{ product.currency }}</span>#}
{#                    <span class="old-price"><strike>{{ product.price }} {{ product.currency }}</strike></span>#}
{#                {% else %}#}
{#                    <span>{{ product.get_price }} {{ product.currency }}</span>#}
{#                {% endif %}#}
{#            </div>#}
{#            <div class="bottom-line">#}
{##}
{#                {% cart_message request product %}#}
                {#                <span class="truck pull-right {% if product.delivery_type == 'paid' %} yellow#}
                {#                    {% elif product.delivery_type == 'free' %} green {% endif %}" data-toggle="tooltip" title=""#}
                {#                      data-placement="top" data-original-title="{{ product.get_delivery_type }}"><i class="fa fa-truck" aria-hidden="true"></i></span>#}
{#                {% if user.is_authenticated %}#}
{#                    <span class="hearth pull-right {% is_favorite_for_like product request.user %}"#}
{#                          data-product-id="{{ product.id }}" data-toggle="tooltip" title="" data-placement="top"#}
{#                          data-original-title="{% is_favorite_for_tooltip product request.user %}"><i#}
{#                            class="glyphicon glyphicon-heart"></i></span>#}
{#                {% endif %}#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% endfor %}

</div>
