{% extends 'base-1.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block categories %}
{% endblock %}
{% block content %}

    <section class="add-product">
        <div class="container">
            <div class="form-filter">
                <form class="form-inline" action="{% url 'product:update_product' slug=object.slug %}" method="post"
                      enctype="multipart/form-data" data-media-upload-url="{% url 'product:upload_images' %}"
                      data-remove-uploaded-media-url="{% url 'product:remove_images' %}" id="form">
                    {% csrf_token %}
                    <div class="col-md-8">

                        <div class="step_1">
                            <h3><span>1.</span> Основные данные</h3>
                            <div class="form-group select col-md-6">

                                {% render_field form.shop|add_error_attr:"aria-invalid:true" %}

                            </div>

                            <div class="form-group select col-md-6">
                                {{ form.section }}
                            </div>

                            <div class="form-group select col-md-6">
                                {{ form.parent_categories }}

                            </div>

                            <div class="form-group select col-md-6">
                                {% render_field form.category|attr:"id:subcategory_list" %}
                            </div>

                            <div class="form-group input col-md-12">
                                {#                                <input type="text" data-toggle="tooltip" title=""#}
                                {#                                   data-placement="top"#}
                                {#                                   data-original-title="Рекомендация: для лучшего поиска, пишите тип товара в начале названия. Автомобильные шины MAXXIS AT-771 Bravo"#}
                                {#                                   aria-describedby="tooltip200612" class="form-control" placeholder="Название товара">#}
                                {% render_field form.title|add_error_attr:"aria-invalid:true"|attr:"data-toggle:tooltip"|attr:"data-placement:top"|attr:"aria-describedby:tooltip200612"|attr:"required"|attr:"data-original-title:Рекомендация - для лучшего поиска, пишите тип товара в начале названия. Автомобильные шины MAXXIS AT-771 Bravo" placeholder="Название товара" %}
                            </div>

                            <div class="form-group input col-md-12">
                                {#                                <input type="text" class="form-control mini price" placeholder="Цена">#}
                                {% render_field form.price|add_error_attr:"aria-invalid:true"|attr:"required"|attr:"class:form-control mini price" placeholder="Цена" %}

                                <div class="select">
                                    {% render_field form.currency|add_error_attr:"aria-invalid:true"|attr:"required" %}
                                </div>

                                <label class="switch">
                                    <input type="checkbox" class="switch__input" id="dis_id">
                                    <div class="switch__toggle">
                                        <div class="switch__handle"></div>
                                    </div>
                                </label>

                                <span class="discount">Скидка</span>
                                <div class="discount">
                                    <label>Размер скидки</label>
                                    {#                                    <input type="text" class="form-control" id="discount_id" placeholder="0%" disabled>#}
                                    {% render_field form.discount|add_error_attr:"aria-invalid:true"|attr:"id:discount_id"|attr:"disabled" placeholder="0%" %}
                                </div>
                            </div>

                            <div class="form-group input col-md-12">
                                {#                                <input type="text" class="form-control mini" placeholder="Количество">#}
                                {% render_field form.quantity|add_error_attr:"aria-invalid:true"|attr:"class:form-control mini" placeholder="Количество" %}
                                <label for="">Количество</label>
                            </div>

                            <div class="form-group select col-md-6">

                                {% render_field form.availability|add_error_attr:"aria-invalid:true" %}

                            </div>

                            <div class="form-group input col-md-12">
                                <label class="switch">
                                    {#                                    <input type="checkbox" class="switch__input">#}
                                    {% render_field form.published|add_error_attr:"aria-invalid:true"|attr:"class:switch__input" %}
                                    <div class="switch__toggle">
                                        <div class="switch__handle"></div>
                                    </div>

                                </label>
                                <label>Опубликовать</label>
                            </div>

                            {#                            <div class="form-group input col-md-12">#}
                            {#                                <label class="switch">#}
                            {#                                    <input type="checkbox" class="switch__input">#}
                            {#                                    <div class="switch__toggle">#}
                            {#                                        <div class="switch__handle"></div>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </label>#}
                            {#                                <label>В наличии</label>#}
                            {#                            </div>#}


                            <div class="form-group input col-md-12">
                                <label class="switch">
                                    <input type="checkbox" class="switch__input">
                                    <div class="switch__toggle">
                                        <div class="switch__handle"></div>
                                    </div>
                                </label>
                                <label>Кнопка «обратный вызов»</label>
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title=""
                                   data-placement="top"
                                   data-original-title="при включение кнопки будет отображатся кнопка обратной связи"
                                   aria-describedby="tooltip200612"></i>
                            </div>
                        </div>

                        <div class="step_2">
                            <h3><span>2.</span> Доставка</h3>


                            <div class="form-group select col-md-6">
                                {% render_field form.delivery_type|add_error_attr:"aria-invalid:true" %}
                            </div>

                            <div class="form-group input col-md-6">
                                {% render_field form.delivery_cost|add_error_attr:"aria-invalid:true"|attr:"class:form-control mini"|attr:"disabled" placeholder="Стоимость доставки" %}
                            </div>
                        </div>

                        <div class="step_3">
                            <h3><span>3.</span> Параметры товара</h3>
                            <div class="form-group select col-md-6" id="property_list">
                               <div class="params">

                                    {% for property in props %}

                                    {#Select#}
                                    {% if "Производ" in property.title %}
                                        <div class="col-md-12">
                                    <div class="select parent-group form-group col-md-6 cover" style="padding-left: 0; width: 50%;">
                                        <label class="title">{{ property.title }}</label>
                                        <select class="form-control" id="subcategory_list" name="property-{{ property.id }}">
                                            <option>------------</option>
                                            {% for value in property.values_set.all %}
                                                <option value="{{ value.id }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                     <div class="manufacturer" style="display: none;">
                                            <input type="text" class="form-control" id="manufacturer-input">
                                        </div>
                                        <a class="add no-bg btn manufacturer-btn" style="margin: 0; width: 100%;">Добавить</a>

                                    </div>
                                        </div>

                                        <script>


                                         $('.manufacturer-btn').click(function(){
                                             var input = $('#manufacturer-input');

                                           $('.manufacturer').slideToggle('100');
                                           if($(this).text() == 'Убрать'){
                                               $(this).text('Добавить');
                                               input.removeAttr('name');
                                           } else {
                                               $(this).text('Убрать');
                                               input.attr('name', 'man-{{ property.id }}');
                                           }
                                    });
                                    </script>

                                    {% elif "Размер" in property.title or "Цвет" in property.title %}



                                    {#Checkbox#}
                                    <div class="form-group parent-group checkbox col-md-12" style="padding-left: 0;">
                                        <label class="title">{{ property.title }}</label>

                                    {#    первый цикл 14 чекбоксов#}
                                        {% for value in property.values_set.all %}
                                            {% if forloop.counter == 15 or forloop.counter == 1 %}
                                        <div class="cover col-md-4">
                                            {% endif %}


                                            <div class="form-custom-checkbox">
                                                <label class="name_setting" for="{{ value.id }}">{{ value }}</label>
                                                <input type="checkbox" class="checkbox" id="{{ value.id }}" value="{{ value }}" name="val-{{ value.id }}">
                                                <div class="indicator"></div>
                                            </div>
                                          {% if forloop.counter == 28 or forloop.counter == 14 %}
                                        </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>

                                    {% else %}
                                    <div class="col-md-12">
                                    <div class="select parent-group form-group col-md-6 cover" style="padding-left: 0; width: 50%;">
                                        <label class="title">{{ property.title }}</label>
                                        <select class="form-control" id="subcategory_list" name="property-{{ property.id }}">
                                            <option>------------</option>
                                            {% for value in property.values_set.all %}
                                                <option value="{{ value.id }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                        </div>
                                        {% endif %}

                                    {% endfor %}

                                    </div>

{#                            <p id="empty_properties">Параметры для данной категории отсутствуют</p>#}
                        </div>
        </div>

                        <div class="step_4">
                            <h3><span>4.</span> Короткое описание товара <span>(Опционально)</span></h3>
                            {#                            <textarea class="form-control" rows="6"></textarea>#}
                            {% render_field form.short_description|attr:"rows:6" %}
                        </div>

                        <div class="step_5">
                            <h3><span>5.</span> Полное описание товара <span>(Опционально)</span></h3>
                            {#                            <textarea class="form-control" rows="6"></textarea>#}
                            {% render_field form.long_description|attr:"rows:6" %}
                        </div>

                        <div class="form-group btn-group-form col-md-12">
                            {#                            <button type="submit" class="btn cancel"> Отменить</button>#}
                            <button type="submit" class="btn add">Добавить товар</button>
                        </div>
                    </div>

                    {#                    <div class="col-md-4">#}
                    {#                        <label class="upload" for="id_images">#}
                    {#                            <i class="glyphicon glyphicon-plus-sign"></i>#}
                    {#                            <div class="add-photo">#}
                    {#                                Добавить<br>фотографии#}
                    {#                             </div>#}
                    {#                        </label>#}
                    {##}
                    {#                        <div class="info">#}
                    {#                            <span>Рекомендация для фото:</span>#}
                    {#                            <p>Размер: 380x380 или больше</p>#}
                    {#                            <p>Фон: белый или прозрачный</p>#}
                    {#                            <br>#}
                    {#                            <span id="file-counter" style="color: red;"></span>#}
                    {#                        </div>#}
                    {#                        <input type="file" id="id_images" style="display: none;" multiple>#}
                    {#                    </div>#}


                    <div class="col-md-4">
                        <label class="upload" for="uploading-images">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <div class="add-photo">
                                Добавить<br>фотографии
                            </div>
                        </label>

                        <div class="info">
                            <span>Рекомендация для фото:</span>
                            <p>Размер: 380x380 или больше</p>
                            <p>Фон: белый или прозрачный</p>
                            <br>
                            <span id="file-counter" style="color: red;"></span>
                        </div>
                        <input class="hidden" type="file" data-product-slug="{{ object.slug }}" id="uploading-images" name="image" style="display: none;" multiple
                        data-url="{% url 'product:upload_product_images' slug=object.slug %}"
                        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' >
{#                        {% render_field form.image %}#}
{#                        {% render_field form.removed_images type='hidden' %}#}
{#                        {% render_field form.uploaded_images type='hidden' %}#}
                    </div>
                    <div class="col-md-4">
                        <div id="wrapper-files">
                            {% for i in product.get_all_images %}
{#                                <h6>{{ i.image.name }}</h6>#}
                                <div class="product-images-block">
                                <img src="{{ i.image.url }}" style="width: 200px; height: auto;"/>
                                <span class="delete_prod_images" data-productimage-id="{{ i.id }}">x</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </section>


{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/images_upload.js' %}"></script>
    <script src="{% static 'js/jquery.uploadPreview.js' %}"></script>
    <script>
        console.log($('#uploading-images').attr('data-product-slug'));
    </script>
{% endblock %}
