{% extends 'base-1.html' %}

{% block content %}


    <section class="reviews">
        <div class="container bg-white" id="prod_review">
            <div class="item">
                <div class="name">
                    <h4>{{ review.user.username }}
                        <span>{{ review.created_at|date:"d.m.y H:m" }}</span>
                        {% if review.stars %}
                            <div class="star pull-right">
                                <div class="star default">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>

                                <div class="star active">
                                    {% for i in "*****" %}
                                        <i class="fa fa-star {% if forloop.counter <= review.stars|length %}active{% endif %}"
                                           aria-hidden="true"></i>
                                    {% endfor %}
                                </div>

                            </div>
                        {% endif %}
                    </h4>
                </div>
                <div class="description">
                    <p>{{ review.text }}</p>
                </div>
            </div>
        </div>
    </section>




    <section class="reviews edit">
        <div class="container bg-white">
            <div class="item">
                <form id='review_form_bla' class="product_review" method="POST">
                    {% csrf_token %}
                    <div class="name">
                        <h5>Редактировать отзыв</h5>

                        <h4>
                            {% if review.stars %}
                                <div class="star-wrapper">
                                    <div class="star default">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>

                                    <div class="star active star-behaviour" data-save-stars="true"
                                         data-stars-count="{{ lenstars }}">
                                        {% for i in "*****" %}
                                            <i class="fa fa-star {% if forloop.counter <= review.stars|length %}active{% endif %}"
                                               aria-hidden="true"></i>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endif %}

                        </h4>

                    </div>
                    <div class="description">

                        <div class="form-group">
                            <textarea name="text" id="prod-rev" cols="30" rows="10"
                                      class="form-control">{{ review.text }}</textarea>

                        </div>
                        <button type="submit" id="prod_review">Сохранить</button>
                    </div>
                </form>
            </div>

        </div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            let form = $('#review_form_bla');

            form.on('submit', function (e) {
                e.preventDefault();
                console.log('Form submitted but action prevented');
                let data = $(this).serialize();
                data += '&rating=' + $('.star-behaviour').getRating();
                $.ajax({
                    url: '{{ request.path }}',
                    data: data,
                    method: 'POST',
                    dataType: 'JSON',
                    success: function (response) {
                        if(response.success) {
                            document.location.href = response.url;
                        }
                    },
                    error: function () {

                    }
                });
            });
        });
    </script>
{% endblock %}
