{% extends 'base-1.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <section class="creat-product  uk-margin-medium-top">
        <div class="uk-container">
            <div class="shadow uk-padding-large">
                <form class="uk-grid" action="#" id="form" method="post">
                    {% csrf_token %}
                    <fieldset class="uk-fieldset uk-width-1-1@l">
                        <legend class="uk-legend uk-margin-medium-bottom">1. Основные данные</legend>
                        <div class="uk-grid uk-child-width-1-2@s" uk-grid>
                            <div>
                                <div class="">
                                    <div class="uk-form-controls uk-form-danger">
                                        {% render_field form.shop|add_error_attr:"aria-invalid:true" class="uk-select" placeholder="Выбрать магазин" %}
                                        <label class="label-error">{{ form.shop.errors }}</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="">
                                    <div class="uk-form-controls uk-form-danger">
                                        {% render_field form.section|attr:"id:global_category"|add_error_attr:"aria-invalid:true" class="uk-select" placeholder="Выбрать родителей" %}
                                        <label class="label-error">{{ form.section.errors }}</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="">
                                    <div class="uk-form-controls uk-form-danger">
                                        {% render_field form.parent_categories|attr:"id:category_list"|add_error_attr:"aria-invalid:true" class="uk-select" placeholder="Выбрать детей" %}
                                        <label class="label-error">{{ form.parent_categories.errors }}</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="">
                                    <div class="uk-form-controls uk-form-danger">
                                        {% render_field form.category|attr:"id:subcategory_list" class="uk-select" placeholder="Выбрать внуков" %}
                                        <label class="label-error">{{ form.category.errors }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-child-width-1-1@l" uk-grid>
                            <div>
                                <label class="uk-form-label">Название товара</label>
                                <div class="uk-form-controls uk-form-danger">
                                    {% render_field form.title|add_error_attr:"aria-invalid:true"|attr:"uk-tooltip"|attr:"title:Рекомендация - для лучшего поиска, пишите тип товара в начале названия. Автомобильные шины MAXXIS AT-771 Bravo" class="uk-input" placeholder="Название товара" %}
                                    <label class="label-error">{{ form.title.errors }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid-medium uk-margin-medium-top uk-width-1-1@l" uk-grid>
                            <div class="uk-width-1-5@s">
                                <label class="uk-form-label">Цена</label>
                                <div class="uk-form-controls uk-form-danger">
                                    {% if not form.price.errors %}
                                        {% render_field form.price|add_error_attr:"aria-invalid:true" class="uk-input" placeholder="Цена" %}
                                    {% else %}
                                        {% render_field form.price|add_error_attr:"aria-invalid:true" class="uk-input uk-form-danger" placeholder="Цена" %}
                                    {% endif %}
                                    <label class="label-error">{{ form.price.errors }}</label>
                                </div>
                            </div>
                            <div class="uk-width-1-6@s">
                                <label class="uk-form-label">Валюта</label>
                                <div class="uk-form-controls">
                                    {% render_field form.currency|add_error_attr:"aria-invalid:true" class="uk-input" %}
                                </div>

                            </div>
                        </div>
                    <span id="currency_info" style="display: none; margin-bottom: 40px">
                                    цена устанавливается по курсу НБКР. <a href="http://nbkr.kg/" target="_blank">Сайт НБКР</a>
                                </span>
                        <div class="uk-grid uk-child-width-1-1@l uk-margin-small-bottom uk-margin-medium-top" uk-grid>
                            <label class="label-checkbox"><input class="uk-checkbox" type="checkbox" id="dis_id"> Скидка
                            </label>
                        </div>
                        <div class="uk-width-1-5@s ">
                            <label class="uk-form-label">Размер скидки </label>
                            <div class="uk-form-controls uk-display-block">
                                {% render_field form.discount|add_error_attr:"aria-invalid:true"|attr:"id:discount_id"|attr:"disabled" class="uk-input" placeholder="0%" %}
                            </div>
                        </div>
                        <div class="uk-width-1-5@s uk-margin-medium-top">
                            <label class="uk-form-label">Виды доставки</label>
                            <div class="uk-form-controls uk-display-block">
                                {% render_field form.delivery_type class="uk-select" %}
                            </div>
                        </div>
                        <div class="uk-width-1-5@s uk-margin-small-top delivery-cost-block uk-hidden">
                            <label class="uk-form-label">Цена доставки</label>
                            <div class="uk-form-controls uk-display-block">
                                {% render_field form.delivery_cost placeholder="100" class="uk-input" %}
                            </div>
                        </div>

                        <div class="uk-grid uk-child-width-1-1@l uk-margin-medium-top" uk-grid>
                            <label class="label-checkbox uk-display-block">
                                {% render_field form.published|add_error_attr:"aria-invalid:true"|attr:"class:uk-checkbox" %}
                                Опубликовать на сайте
                            </label>
                        </div>

                        <hr class="uk-divider-icon uk-margin-medium-top uk-margin-medium-bottom">
                        <div class="uk-grid uk-child-width-1-1@l" uk-grid>
                            <div class="uk-form-controls">
                                <legend class="uk-legend uk-margin-medium-bottom">2. Короткое описание товара
                                    (Опционально)
                                </legend>
                                {% render_field form.short_description|attr:"rows:6" class="uk-textarea" %}
                            </div>
                        </div>
                        <hr class="uk-divider-icon uk-margin-medium-top uk-margin-medium-bottom">
                        <div class="uk-grid uk-child-width-1-1@l" uk-grid>
                            <div class="uk-form-controls">
                                <legend class="uk-legend uk-margin-medium-bottom">3. Полное описание товара
                                    (Опционально)
                                </legend>
                                {% render_field form.long_description|attr:"rows:6" %}
                            </div>
                        </div>

                        <div class="seo">
                            <hr class="uk-divider-icon uk-margin-medium-top uk-margin-medium-bottom">
                            <button href="#toggle-animation"
                                    class="uk-button uk-button-default uk-width-1-3@l border-red" type="button"
                                    uk-toggle="target: #seo; animation: uk-animation-fade"
                                    title="Служит для продвижения ваших товаров в сети" uk-tooltip><span
                                    class="uk-margin-small-right" uk-icon="icon:  info"></span>Для Seo
                            </button>
                            <div id="seo"
                                 class="uk-card uk-card-default uk-card-body uk-margin-small uk-width-1-1@l "
                                 hidden>
                                <div class="uk-grid uk-child-width-1-1@l" uk-grid>
                                    <div class="">
                                        <label class="uk-form-label">Мета заголовок товара:</label>
                                        <div class="uk-form-controls">
                                            {% render_field form.meta_title|attr:"type:text" placeholder="" class="uk-input" %}
                                        </div>
                                        <small>Введи до 45 символов название которое будет отображаться с посковиках.
                                            Для
                                            лучшего отображения введите ключевое слово товара которое вы продаете на
                                            сайте.
                                            Например если вы продаете кроссовки от найка и адидас. Правильный заголовок
                                            будет: "Крассные кроссовки adidas за 4550 сомов". Мы добавим в конце Бишкек
                                            и
                                            Ваше название магазина. Т.е. заголовок в последующем будет выглядеть
                                            так:"Купить
                                            кроссовки adidas за 4500 сомов Бишкек - Кроссовки Центр."
                                        </small>
                                    </div>
                                    <div class="">
                                        <label class="uk-form-label">Мета описание товара:</label>
                                        <div class="uk-form-controls">
                                            {% render_field form.meta_description|attr:"rows:6" placeholder="Введите до 220 символов" class="uk-input" %}
                                        </div>
                                        <small>В мета описании вы можете описать в кратце, какие характеристики имеет
                                            товар
                                            и адрес продажи. Лучше всего описание формируется, где включены несколько
                                            2-3
                                            ключевых слова по которым вас будут искать. Чем лучше соответсвие,тем выше
                                            позиция.
                                        </small>
                                    </div>
                                    <div class="">
                                        <label class="uk-form-label">Мета ключевые слова товара:</label>
                                        <div class="uk-form-controls">
                                            {% render_field form.meta_keywords|attr:"rows:6" placeholder="Введите до 10 ключевых слов" class="uk-input" %}
                                        </div>
                                        <small>В поле нужно вводить ключевые слова, например, если вы продаете
                                            кроссовки. То
                                            правильным набором ключевых слов будет: "Кроссовки, адидас, найк, бишкек,
                                            adidas, nike, купить и т.д."
                                        </small>
                                    </div>
                                    <div class="">
                                        <label class="uk-form-label">СЕО текс товара:</label>
                                        <div class="uk-form-controls">
                                            {% render_field form.seo_text|attr:"rows:6" placeholder="Введите сео описание магазина" class="uk-textarea" %}
                                        </div>

                                        <small>Это поле не ограничено в заполнении. Но лучше всего чтобы он был не более
                                            500
                                            знаков. Сео описание влияет на продвижение вашего товара интернет магазина в
                                            поисковике, так что вам нужно самостоятельно написать текст. Мы настоятельно
                                            не
                                            рекомендуем копировать чужой текст, так как это не продвинет ваш магазин, а
                                            даже
                                            снизит его рейтинг в поисковике. Самым лучшим способом является составить
                                            текст
                                            из ключевых слов, которые популярны в поисковике.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </fieldset>


                    <div class="uk-fieldset uk-width-1-1@l upload-product-image uk-margin-remove-top">
                        <hr class="uk-divider-icon uk-margin-medium-top uk-margin-medium-bottom">
                        <legend class="uk-legend uk-text-center uk-margin-small-bottom">Добавьте лого вашей фирмы
                        </legend>
                        <small class="uk-text-center uk-display-block uk-margin-medium-bottom uk-alert-danger">Размер
                            картинки должен быть 1:1
                        </small>
                        <div class="uk-child-width-1-4@m uk-grid" id="wrapper-files">
                            <div class="image-preview-parent">
                                <div class="wrapper">
                                    <label for="uploading-images" class="image-label upload">Выбрать изображения</label>
                                    <input type="file" id="uploading-images" style="display: none;" multiple>
                                    <input type="file" id="images-list" style="display: none" multiple>
                                    {% render_field form.image %}
                                    {% render_field form.removed_images type='hidden' %}
                                    {% render_field form.uploaded_images type='hidden' %}
                                </div>
                            </div>

{#                            <div class="image-preview active">#}
{#                                <div class="wrapper">#}
{#                                    <a class="remove-image" href="" uk-icon="icon:  minus-circle"#}
{#                                       title="Удалить изображение" uk-tooltip></a>#}
{#                                    <img src="http://via.placeholder.com/350x350" alt="">#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="image-preview">#}
{#                                <div class="wrapper">#}
{#                                    <a class="remove-image" href="" uk-icon="icon:  minus-circle"#}
{#                                       title="Удалить изображение" uk-tooltip></a>#}
{#                                    <img src="http://via.placeholder.com/350x350" alt="">#}
{#                                </div>#}
{#                            </div>#}

{#                            <div class="col-md-4">#}
{#                                <div >#}
{##}
{#                                </div>#}
{#                            </div>#}
                        </div>

                    </div>


                    <div class="uk-width-1-1@l">
                        <div class=" uk-width-1-2@s uk-margin-medium-top">
                            <button type="submit" id="add-product-button" class="uk-button uk-button-default border-red bg-red uk-width-1-2@l"><span
                                    class="uk-margin-small-right" uk-icon="icon: check"> </span>Сохранить</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </section>

    {#    !!!!!!!!!!!!!!!!!!!!!!!!!!!!#}

{#    <section class="add-product">#}
{#        <div class="container">#}
{##}
{#            <div class="form-filter">#}
{#                <form class="form-inline" id="form">#}
{#                    {% csrf_token %}#}
                    {#                {{ form.errors }}#}
{#                    <div class="col-md-8">#}
{##}
{#                        <div class="step_1">#}
{#                            <h3><span>1.</span> Основные данные</h3>#}
{#                            <div class="form-group {% if form.shop.errors %}has-error{% endif %} select col-md-6">#}
{#                                {% render_field form.shop|add_error_attr:"aria-invalid:true"|add_class:"test" %}#}
{#                                <label class="label-error">{{ form.shop.errors }}</label>#}
{#                            </div>#}
{##}
{#                            <div class="form-group {% if form.section.errors %}has-error{% endif %} select col-md-6">#}
{#                                {% render_field form.section|attr:"id:global_category"|add_error_attr:"aria-invalid:true" %}#}
{#                                <label class="label-error">{{ form.section.errors }}</label>#}
{#                            </div>#}
{##}
{#                            <div class="form-group {% if form.parent_categories.errors %}has-error{% endif %} select col-md-6">#}
{#                                {% render_field form.parent_categories|attr:"id:category_list"|add_error_attr:"aria-invalid:true" %}#}
{#                                <label class="label-error">{{ form.parent_categories.errors }}</label>#}
{#                            </div>#}
{##}
{#                            <div class="form-group {% if form.category.errors %}has-error{% endif %} select col-md-6">#}
{#                                {% render_field form.category|attr:"id:subcategory_list" %}#}
{#                                <label class="label-error">{{ form.category.errors }}</label>#}
{#                            </div>#}
{##}
{#                            <div class="form-group {% if form.title.errors %}has-error{% endif %} input col-md-12">#}
{#                                {% render_field form.title|add_error_attr:"aria-invalid:true"|attr:"data-toggle:tooltip"|attr:"data-placement:top"|attr:"aria-describedby:tooltip200612"|attr:"data-original-title:Рекомендация - для лучшего поиска, пишите тип товара в начале названия. Автомобильные шины MAXXIS AT-771 Bravo" placeholder="Название товара" %}#}
{#                                <label class="label-error">{{ form.title.errors }}</label>#}
{#                            </div>#}
{##}
{#                            <div class="form-group  input col-md-12">#}
{##}
{#                                {% if not form.price.errors %}#}
{#                                    {% render_field form.price|add_error_attr:"aria-invalid:true"|attr:"class:form-control  mini price" placeholder="Цена" %}#}
{#                                {% else %}#}
{#                                    {% render_field form.price|add_error_attr:"aria-invalid:true"|attr:"class:form-control has-error mini price" placeholder="Цена" %}#}
{#                                {% endif %}#}
{##}
{#                                <div class="select">#}
{#                                    {% render_field form.currency|add_error_attr:"aria-invalid:true" %}#}
{#                                </div>#}
{##}
{#                                <label class="switch">#}
{#                                    <input type="checkbox" class="switch__input" id="dis_id">#}
{#                                    <div class="switch__toggle">#}
{#                                        <div class="switch__handle"></div>#}
{#                                    </div>#}
{#                                </label>#}
{##}
{#                                <span class="discount">Скидка</span>#}
{#                                <div class="discount">#}
{#                                    <label>Размер скидки</label>#}
                                    {#                                    <input type="text" class="form-control" id="discount_id" placeholder="0%" disabled>#}
{#                                    {% render_field form.discount|add_error_attr:"aria-invalid:true"|attr:"id:discount_id"|attr:"disabled" placeholder="0%" %}#}
{#                                </div>#}
{#                                <label class="label-error">{{ form.price.errors }}</label>#}
                                {#                            {% render_field form.partner_price|attr:"class:form-control price" placeholder="Партнерская цена" %}#}
{#                            </div>#}
{##}
                            {#                            <div class="form-group select col-md-6">#}
                            {##}
                            {#                                {% render_field form.availability|add_error_attr:"aria-invalid:true" %}#}
                            {##}
                            {#                            </div>#}
{##}
{#                            <div class="form-group input col-md-12">#}
{#                                <label class="switch">#}
                                    {#                                    <input type="checkbox" class="switch__input">#}
{#                                    {% render_field form.published|add_error_attr:"aria-invalid:true"|attr:"class:switch__input" %}#}
{#                                    <div class="switch__toggle">#}
{#                                        <div class="switch__handle"></div>#}
{#                                    </div>#}
{##}
{#                                </label>#}
{#                                <label>Опубликовать</label>#}
{#                            </div>#}
{##}
                            {#                            <div class="form-group input col-md-12">#}
                            {#                                <label class="switch">#}
                            {#                                    <input type="checkbox" class="switch__input">#}
                            {#                                    <div class="switch__toggle">#}
                            {#                                        <div class="switch__handle"></div>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </label>#}
                            {#                                <label>В наличии</label>#}
                            {#                            </div>#}
{##}
{##}
                            {#                            <div class="form-group input col-md-12">#}
                            {#                                <label class="switch">#}
                            {#                                    <input type="checkbox" class="switch__input">#}
                            {#                                    <div class="switch__toggle">#}
                            {#                                        <div class="switch__handle"></div>#}
                            {#                                    </div>#}
                            {#                                </label>#}
                            {#                                <label>Кнопка «обратный вызов»</label>#}
                            {#                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title=""#}
                            {#                                   data-placement="top"#}
                            {#                                   data-original-title="при включение кнопки будет отображатся кнопка обратной связи"#}
                            {#                                   aria-describedby="tooltip200612"></i>#}
                            {#                            </div>#}
{#                        </div>#}
{##}
                        {#                        <div class="step_2">#}
                        {#                            <h3><span>2.</span> Доставка</h3>#}
                        {##}
                        {##}
                        {#                            <div class="form-group select col-md-6">#}
                        {#                                {% render_field form.delivery_type|add_error_attr:"aria-invalid:true" %}#}
                        {#                            </div>#}
                        {##}
                        {#                            <div class="form-group input col-md-6">#}
                        {#                                {% render_field form.delivery_cost|add_error_attr:"aria-invalid:true"|attr:"class:form-control mini"|attr:"disabled" placeholder="Стоимость доставки" %}#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="step_3">#}
                        {#                            <h3 style="margin-bottom: 10px;"><span>3.</span> Параметры товара</h3>#}
                        {#                            <p style="margin-bottom: 30px;">Рекомендуется заполнить для лучшего отображения результатов#}
                        {#                                поиска</p>#}
                        {##}
                        {#                            <div class="col-md-12" id="property_list">#}
                        {##}
                        {#                            </div>#}
                        {#                            <div class="clearfix"></div>#}
                        {##}
                        {#                            <p id="empty_properties" style="display: block;">Параметры для данной категории#}
                        {#                                отсутствуют</p>#}
                        {#                        </div>#}
{##}
{#                        <div class="step_4 {% if form.short_description.errors %}has-error{% endif %}">#}
{#                            <h3><span>2.</span> Короткое описание товара <span>(Опционально)</span></h3>#}
                            {#                            <textarea class="form-control" rows="6"></textarea>#}
{#                            <label class="label-error">{{ form.short_description.errors }}</label>#}
{#                            {% render_field form.short_description|attr:"rows:6" %}#}
{##}
{#                        </div>#}
{##}
{#                        <div class="step_5">#}
{#                            <h3><span>3.</span> Полное описание товара <span>(Опционально)</span></h3>#}
                            {#                            <textarea class="form-control" rows="6"></textarea>#}
{#                            {% render_field form.long_description|attr:"rows:6" %}#}
{#                        </div>#}
{##}
{#                        <a class="btn seo" role="button" data-toggle="collapse" href="#collapseExample"#}
{#                           aria-expanded="false" aria-controls="collapseExample">#}
{#                            Для SEO#}
{#                        </a>#}
{##}
{#                        <div class="collapse" id="collapseExample">#}
{#                            <div class="well">#}
{##}
{##}
{#                                <div class="form-group input col-md-12">#}
{#                                    <label for="">Мета заголовок товара:</label>#}
{#                                    {% render_field form.meta_title|attr:"type:text" placeholder="" %}#}
{#                                    <i>Введи до 45 символов название которое будет отображаться с посковиках. Для#}
{#                                        лучшего#}
{#                                        отображения введите ключевое слово товара которое вы продаете на сайте. Например#}
{#                                        если вы продаете кроссовки от найка и адидас. Правильный заголовок будет:#}
{#                                        "Крассные#}
{#                                        кроссовки adidas за 4550 сомов". Мы добавим в конце Бишкек и Ваше название#}
{#                                        магазина.#}
{#                                        Т.е.#}
{#                                        заголовок в последующем будет выглядеть так:"Купить кроссовки adidas за 4500#}
{#                                        сомов#}
{#                                        Бишкек -#}
{#                                        Кроссовки Центр."#}
{#                                    </i>#}
{#                                </div>#}
{#                                <div class="form-group input col-md-12">#}
{#                                    <label for="">Мета описание товара:</label>#}
{#                                    {% render_field form.meta_description|attr:"rows:6" placeholder="Введите до 220 символов" %}#}
{#                                    <i>В мета описании вы можете описать в кратце, какие характеристики имеет товар и#}
{#                                        адрес#}
{#                                        продажи.#}
{#                                        Лучше всего описание формируется, где включены несколько 2-3 ключевых слова по#}
{#                                        которым#}
{#                                        вас#}
{#                                        будут искать. Чем лучше соответсвие,тем выше позиция.#}
{#                                    </i>#}
{#                                </div>#}
{#                                <div class="form-group input col-md-12">#}
{#                                    <label for="">Мета ключевые слова товара:</label>#}
{#                                    {% render_field form.meta_keywords|attr:"rows:6" placeholder="Введите до 10 ключевых слов" %}#}
{#                                    <i>В поле нужно вводить ключевые слова, например, если вы продаете кроссовки. То#}
{#                                        правильным#}
{#                                        набором ключевых слов будет: "Кроссовки, адидас, найк, бишкек, adidas, nike,#}
{#                                        купить#}
{#                                        и#}
{#                                        т.д."#}
{#                                    </i>#}
{#                                </div>#}
{#                                <div class="form-group input col-md-12">#}
{#                                    <label for="">СЕО текс товара:</label>#}
{#                                    {% render_field form.seo_text|attr:"rows:6" placeholder="Введите сео описание магазина" %}#}
{#                                    <i>Это поле не ограничено в заполнении. Но лучше всего чтобы он был не более 500#}
{#                                        знаков.#}
{#                                        Сео описание влияет на продвижение вашего товара интернет магазина в поисковике,#}
{#                                        так#}
{#                                        что#}
{#                                        вам#}
{#                                        нужно самостоятельно написать текст. Мы настоятельно не рекомендуем копировать#}
{#                                        чужой#}
{#                                        текст,#}
{#                                        так как это не продвинет ваш магазин, а даже снизит его рейтинг в поисковике.#}
{#                                        Самым#}
{#                                        лучшим способом является составить текст из ключевых слов, которые популярны в#}
{#                                        поисковике.#}
{#                                    </i>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="form-group btn-group-form col-md-12">#}
                            {#                            <button type="submit" class="btn cancel"> Отменить</button>#}
{#                            <button type="button" id="add-product-button" class="btn add">Добавить товар</button>#}
{#                        </div>#}
{#                    </div>#}
{##}
                    {#                    <div class="col-md-4">#}
                    {#                        <label class="upload" for="id_images">#}
                    {#                            <i class="glyphicon glyphicon-plus-sign"></i>#}
                    {#                            <div class="add-photo">#}
                    {#                                Добавить<br>фотографии#}
                    {#                             </div>#}
                    {#                        </label>#}
                    {##}
                    {#                        <div class="info">#}
                    {#                            <span>Рекомендация для фото:</span>#}
                    {#                            <p>Размер: 380x380 или больше</p>#}
                    {#                            <p>Фон: белый или прозрачный</p>#}
                    {#                            <br>#}
                    {#                            <span id="file-counter" style="color: red;"></span>#}
                    {#                        </div>#}
                    {#                        <input type="file" id="id_images" style="display: none;" multiple>#}
                    {#                    </div>#}
{##}
{##}
{#                    <div class="col-md-4">#}
{#                        <label class="upload" for="uploading-images">#}
{#                            <div class="add-photo">#}
{#                                Добавить<br>фотографии#}
{#                            </div>#}
{#                        </label>#}
{##}
{#                        <div class="info">#}
{#                            <span>Рекомендация для фото:</span>#}
{#                            <p>Размер: 380x380 или больше</p>#}
{#                            <p>Фон: белый или прозрачный</p>#}
{#                            <br>#}
{#                            <span id="file-counter" style="color: red;"></span>#}
{#                        </div>#}
{#                        <input type="file" id="uploading-images" style="display: none;" multiple>#}
{#                        <input type="file" id="images-list" style="display: none" multiple>#}
{#                        {% render_field form.image %}#}
{#                        {% render_field form.removed_images type='hidden' %}#}
{#                        {% render_field form.uploaded_images type='hidden' %}#}
{#                    </div>#}
{#                    <div class="col-md-4">#}
{#                        <div id="wrapper-files">#}
{##}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </form>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}

    {#    <section class="upload_images add-product">#}
    {#        <div class="container">#}
    {##}
    {#            <div class="form-filter">#}
    {#                <form class="form-inline" method="post" enctype="multipart/form-data" data-media-upload-url="{% url 'product:upload_images' %}" data-remove-uploaded-media-url="{% url 'product:remove_images' %}" id="form">#}
    {#                    <div class="col-md-4">#}
    {#                        <label class="upload" for="uploading-images">#}
    {#                            <i class="glyphicon glyphicon-plus-sign"></i>#}
    {#                            <div class="add-photo">#}
    {#                                Добавить<br>фотографии#}
    {#                            </div>#}
    {#                        </label>#}
    {##}
    {#                        <div class="info">#}
    {#                            <span>Рекомендация для фото:</span>#}
    {#                            <p>Размер: 380x380 или больше</p>#}
    {#                            <p>Фон: белый или прозрачный</p>#}
    {#                            <br>#}
    {#                            <span id="file-counter" style="color: red;"></span>#}
    {#                        </div>#}
    {#                        <input type="file" id="uploading-images" style="display: none;" multiple>#}
    {#                        {% render_field form.image %}#}
    {#                        {% render_field form.removed_images type='hidden' %}#}
    {#                        {% render_field form.uploaded_images type='hidden' %}#}
    {#                    </div>#}
    {#                    <div class="col-md-4">#}
    {#                        <div id="wrapper-files">#}
    {##}
    {#                        </div>#}
    {#                    </div>#}
    {#                </form>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </section>#}



    {#        <form action="" method="post" enctype="multipart/form-data">#}
    {#                        {% csrf_token %}#}
    {#                        {{ form }}#}
    {#                        <input type="submit" value="Save" />#}
    {#                    </form>#}


{% endblock %}



{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <script type="text/javascript" src="{% static "js/product_form.js" %}"></script>
{% endblock %}

{##}
