{% extends 'base-1.html' %}
{% load product_tags staticfiles %}

{% block meta %}
    <meta name="description" content="{% if object.meta_description %}{{ object.meta_description }}{% else %}{{ object.category.section }}, {{ object.category.parent }}, {{ object.category }}- {{ object.short_description }} {{ object.price }} {{ object.currency }} Бишкек, в Бишкеке{% endif %}">
    <meta name="keywords" content="{% if object.meta_keywords %}{{ object.meta_keywords }}{% else %}{{ object.title }},{{ object.get_shop_title }},интернет магазин, купить, в бишкеке, цена, отзывы{% endif %}">
    <meta name="author" content="Oobamarket.kg интернет магазин в Бишкеке">
    <title>{% block title %} {% if object.meta_title %}{{ object.meta_title }} в Бишкеке - {{ object.get_shop_title }}{% else %}{{object.title}} - {{ object.get_shop_title }} интернет-магазин Бишкек{% endif %} {% endblock %}</title>
{% endblock %}

{% block header %}
    {% include 'layout/header.html' with global=object.shop.get_global_category %}
{% endblock %}



{% block categories %}
    <section class="category-link hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="clearfix"></div>
            {% include 'layout/categories.html' with object=object.shop.get_global_category %}
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="single-product">
        <div class="container">


            <div class="zoom-left">
                {#                <span class="help glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title=""#}
                {#                      data-placement="bottom" data-original-title="Используйте скролл для детального просмотра"#}
                {#                      aria-describedby="tooltip409378"></span>#}
                {% if object.get_avatar_image %}
                    <img style="border:1px solid #e8e8e6;" class="my-foto-container" src="{{ object.get_avatar_image }}"
                         data-large="{{ object.get_avatar_image }}" title="Фото">
                {% else %}
                    <img style="border:1px solid #e8e8e6;" class="my-foto-container"
                         src="http://via.placeholder.com/378x378"
                         data-zoom-image="http://via.placeholder.com/378x378" width="380"/>
                {% endif %}
                <div id="gal1">
                    {% for image in object.productimage_set.all %}
                        <img {% if image.is_avatar %} active {% endif %} class="my-foto" src="{{ image.image.url }}"
                                                      data-large="{{ image.image.url }}" title="Фото1">

                    {% endfor %}
                </div>
            </div>

            <div class="about-product" style="margin-right: 30px;">
                <ol class="breadcrumb">
                    <li><a href="{{ object.category.section.get_absolute_url }}">{{ object.category.section.title }}</a>
                    </li>
                    <li><a href="{{ object.shop.get_absolute_url }}">{{ object.get_shop_title }}</a></li>
                    <li class="active">{{ object.title }}</li>
                </ol>
                <h1>{{ object.title }}
                    {% if user.is_authenticated %}
                        {% if user in object.shop.user.all %}
                            <a class="edited glyphicon glyphicon-cog"
                               href="{% url 'product:update_product' slug=object.slug %}" data-toggle="tooltip" title=""
                               data-placement="bottom" data-original-title="Редактировать товар"></a>
                        {% endif %}
                    {% endif %}
                </h1>
                {% if object.discount %}
                    <span>{{ object.get_price }} {{ object.currency }}</span>
                    <span class="old-price">
                <strike>{{ object.price }} {{ object.currency }}</strike>
            </span>
                {% else %}
                    <span>{{ object.get_price }} {{ object.currency }}</span>
                {% endif %}

                {#            <form class="form-inline">#}
                {#                <div class="form-group">#}
                {#                    <label>Оставьте свой номер телефона и продавец с вами свяжится</label>#}
                {#                    <input type="tel" class="form-control" placeholder="0 XXX XX XX XX">#}
                {#                    <button type="submit" class="btn btn-default">Отправить</button>#}
                {#                </div>#}
                {#            </form>#}
                {% if object.short_description %}
                    <p>
                        <strong>Короткое описание:</strong><br> {{ object.short_description|safe }}
                    </p>
                {% endif %}
                <div class="availability">
                    <span>Наличие: <span class="{% if object.availability == "available" %} stock
                                                {% elif object.availability == "waiting" %} expectation
                                                {% else %} not-stock {% endif %}">{{ object.get_availability }}</span></span>

                    <!-- <span class="truck">
                    <i class="fa fa-truck {% if product.delivery_type == 'paid' %} yellow
                    {% elif product.delivery_type == 'free' %} green {% endif %}" aria-hidden="true"></i>
                    {{ object.get_delivery_type }}
                </span> -->
                </div>
                <!-- {% if product.delivery_type == 'paid' %}
                    <p>Стоимость доставки:{{ product.delivery_cost }}</p>
                {% endif %} -->
                <form action="" id="favorite-form" style="display: none;">
                    <input type="hidden" name="item" value="{{ object.id }}">
                </form>
                <div class="add basket favorite">
                    {% is_in_cart request object %}
                    {% is_favorite object request.user %}
                </div>
            </div>
            <div class="single-magazin">
                <h3>Магазин / Продавец:</h3>
                <div class="single-magazin new-design">
                    <div class="img-wrapper ">

                        <img src="{{ object.shop.get_logo }}" alt="">

                        <div class="back-fade">

                            <a class="url" href="{{ object.shop.get_absolute_url }}"></a>

                            <div class="name-magazin-title">
                                <h3>{{ object.shop.title|truncatechars:28 }}</h3>
                            </div>

                            <div class="info">
                                {% if object.shop.contacts_set.first.phone %}
                                    <div>
                                        <a href="tel: {{ object.shop.contacts_set.first.phone }}" class="">
                                            <span class="glyphicon glyphicon-earphone"></span>
                                            {{ object.shop.contacts_set.first.phone }}
                                        </a>
                                    </div>

                                {% else %}

                                    <div>
                                        <a href="tel: 0312 89 53 33" class="">
                                            <span class="glyphicon glyphicon-earphone"></span>
                                            не указан
                                        </a>
                                    </div>

                                {% endif %}
                                <div>
                                    <a href="mailto:{{ object.shop.email }}" class="">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        {{ object.shop.email }}
                                    </a>
                                </div>
                            </div>

                            <div class="bottom-line">
                                <div class="col-md-6">
                                    <h3> {{ object.shop.title|truncatechars:28 }} </h3>
                                </div>
                                <div class="col-md-6">
                                    {% if user.is_authenticated %}
                                        {% if user not in object.shop.user.all %}
                                            {% if object.shop.id in subscribe_shops %}
                                                <a class="subscribe_shop disabled">Подписаны</a>
                                            {% else %}
                                                <a class="subscribe_shop enable">Подписаться</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-product-text">
        <div class="container">
            <div class="col-md-12">
                {{ object.long_description | safe }}
            </div>
        </div>
    </section>

    <section class="reviews">

        <div class="container bg-white" id="prod_review">
            {% include 'layout/prod_reviews.html' %}
        </div>

    </section>

    <section class="reviews edit">
        <div class="container bg-white">
            <div class="item">
                <form id='review_form' class="product_review" action="{% url 'product:add_review' slug=object.slug %}"
                      method="post">
                    {% csrf_token %}

                    {% if user.is_authenticated %}
                        <div class="name">
                            <h5>Добавить отзыв</h5>

                            <h4>

                                <div class="star-wrapper">
                                    <div class="star default">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="star active star-behaviour" data-save-stars="false"
                                         data-stars-count="0">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>

                            </h4>

                        </div>
                        <div class="description">

                            <div class="form-group">
                                <textarea name="text" id="prod-rev" cols="30" rows="10" class="form-control"></textarea>

                            </div>
                            <button type="submit">Отправить</button>
                        </div>
                    {% else %}
                        <div class="name">
                            <h5>Чтобы добавить отзыв авторизуйтесь</h5>
                        </div>
                    {% endif %}
                </form>
            </div>

        </div>
    </section>

{% endblock content %}


{% block js %}
    <!--[if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
    <![endif]-->
    {{ block.super }}
    <script src={% static 'js/jquare-zoom.js' %}></script>
    <script src={% static 'js/subscribe.js' %}></script>
    <script src="{% static 'js/counter.js' %}"></script>


    <script>
        var form = $('#review_form');
        $(form).unbind('submit').bind('submit', function (event) {
            var data = $(form).serialize();
            console.log(data);
            data += '&rating=' + $('.star-behaviour').getRating();
            console.log(data);
            event.preventDefault();
            console.log('Send data function is called!');
            $.ajax({
                method: 'POST',
                url: $(form).attr('action'),
                dataType: 'JSON',
                data: data,
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $.ajax({
                            method: 'POST',
                            dataType: 'HTML',
                            url: '{% url "product_reviews" %}',
                            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'product': '{{ object.slug }}'},
                            success: function (response) {
                                console.log(response);
                                $('#prod_review').html(response);
                            },
                            error: function () {
                                console.error('Can\'t send ajax to load all comments');
                            }
                        });
                        $('.star-behaviour').clearRating();
                        $('#prod-rev').val('');
                    } else if (response.url) {
                        document.location.href = response.url;
                    }
                }
            });
        });


    </script>

{% endblock %}
