<div class="params">



{#Select#}
<div class="select parent-group form-group col-md-6 cover" style="padding-left: 0; width: 50%;">
    <label class="title">Название настройки 2</label>
    <select class="form-control" id="subcategory_list" name="" >
        <option>------------</option>
        <option value="">asa</option>
    </select>
 <div class="manufacturer" style="display: none;">
        <input type="text" class="form-control">
    </div>
    <a class="add btn manufacturer-btn" style="margin: 0; width: 100%;">Добавить</a>

</div>



{#Checkbox#}
<div class="form-group parent-group checkbox col-md-12" style="padding-left: 0;">
    <label class="title">Название настройки 1</label>

{#    первый цикл 14 чекбоксов#}
    <div class="cover col-md-4">
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
    </div>

    {#    Второй цикл 14 чекбоксов#}
    <div class="cover col-md-4">
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
    </div>

       {#    Третий цикл 14 чекбоксов#}
    <div class="cover col-md-4">
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
    </div>
</div>




{#Checkbox#}
<div class="form-group parent-group checkbox col-md-12" style="padding-left: 0;">
    <label class="title">Название настройки 1</label>

{#    первый цикл 14 чекбоксов#}
    <div class="cover col-md-4">
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
    </div>

    {#    Второй цикл 14 чекбоксов#}
    <div class="cover col-md-4">
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
        <div class="form-custom-checkbox">
            <label class="name_setting" for="">asdsa</label>
            <input type="checkbox" class="checkbox">
            <div class="indicator"></div>
        </div>
    </div>
</div>






</div>

<script>


     $('.manufacturer-btn').click(function(){

       $('.manufacturer').slideToggle('100');
       if($(this).text() == 'Убрать'){
           $(this).text('Добавить');
       } else {
           $(this).text('Убрать');
       }
});
</script>



