<div class="params">

    {% for property in properties %}

        {#Select#}
        {% if "Производ" in property.title or request.user.is_staff and not 'Размер' in property.title and not 'Цвет' in property.title %}
            <div class="col-md-12">
                <div class="select parent-group form-group col-md-6 cover" style="padding-left: 0; width: 50%;">
                    <label class="title">{{ property.title }}</label>
                    <select class="form-control" id="subcategory_list" name="property-{{ property.id }}">
                        <option>------------</option>
                        {% for value in property.values_set.all %}
                            <option value="{{ value.id }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <div class="manufacturer-{{ property.id }}" style="display: none;">
                        <input type="text" class="form-control" id="manufacturer-input" placeholder="{{ property.title }}">
                    </div>
                    {% if property.help_text %}
                        <p>{{ property.help_text }}</p>
                    {% endif %}
                    <a class="add no-bg btn manufacturer-btn-{{ property.id }}"
                       style="margin: 0; width: 100%;">Добавить</a>

                </div>
            </div>

            <script>


                $('.manufacturer-btn-{{ property.id }}').click(function () {
                    var input = $('#manufacturer-input-{{ property.id }}');

                    $('.manufacturer-{{ property.id }}').slideToggle('100');
                    if ($(this).text() == 'Убрать') {
                        $(this).text('Добавить');
                        input.removeAttr('name');
                    } else {
                        $(this).text('Убрать');
                        input.attr('name', 'man-{{ property.id }}');
                    }
                });
            </script>

        {% elif "Размер" in property.title or "Цвет" in property.title %}



            {#Checkbox#}
            <div class="form-group parent-group checkbox col-md-12" style="padding-left: 0;">
                <label class="title">{{ property.title }}</label>

                {#    первый цикл 14 чекбоксов#}
                {% for value in property.values_set.all %}
                    {% if forloop.counter == 15 or forloop.counter == 1 %}
                        <div class="cover col-md-4">
                    {% endif %}


                <div class="form-custom-checkbox">
                    <label class="name_setting" for="{{ value.id }}">{{ value }}</label>
                    <input type="checkbox" class="checkbox" id="{{ value.id }}" value="{{ value }}"
                           name="val-{{ value.id }}">
                    <div class="indicator"></div>
                </div>
                {% if forloop.counter == 28 or forloop.counter == 14 %}
                    </div>
                {% endif %}

                {% endfor %}

                <div class="col-md-12" style="margin-top: 15px;">
                    <div class="col-md-6" style="padding: 0;">
                        <div class="manufacturer-{{ property.id }}" style="display: none;">
                            <input type="text" class="form-control" id="manufacturer-input" placeholder="{{ property.title }}">

                        </div>
                        {% if property.help_text %}
                            <p>{{ property.help_text }}</p>
                        {% endif %}
                        <a class="add no-bg btn manufacturer-btn-{{ property.id }}" style="margin: 0; width: 100%;">Добавить</a>
                    </div>

                </div>


                <script>


                    $('.manufacturer-btn-{{ property.id }}').click(function () {
                        var input = $('#manufacturer-input-{{ property.id }}');

                        $('.manufacturer-{{ property.id }}').slideToggle('100');
                        if ($(this).text() == 'Убрать') {
                            $(this).text('Добавить');
                            input.removeAttr('name');
                        } else {
                            $(this).text('Убрать');
                            input.attr('name', 'man-{{ property.id }}');
                        }
                    });
                </script>

            </div>

        {% else %}
            <div class="col-md-12">
                <div class="select parent-group form-group col-md-6 cover" style="padding-left: 0; width: 50%;">
                    <label class="title">{{ property.title }}</label>
                    {% if property.help_text %}
                        <p>{{ property.help_text }}</p>
                    {% endif %}
                    <select class="form-control" id="subcategory_list" name="property-{{ property.id }}">
                        <option>------------</option>
                        {% for value in property.values_set.all %}
                            <option value="{{ value.id }}">{{ value }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>






