{% if products or shops %}
<div class="auto-complite">
        {% if products %}
        <div class="media">
            <div class="media-left media-middle goods">
                <p>Товары</p>
            </div>
            <div class="media-body child-goods">
                <ul id="prod_list">
                    {% for product in products %}
                        {% if forloop.counter < 4 %}
                    <li>
                        <a href="{{ product.get_absolute_url }}"> </a>
                        <div class="img-wrapper">
                            <img src="{{ product.get_main_image }}" alt="{{ product.title }}">
                        </div>
                        <div class="discript">
                            <div class="name">
                                <p>{{ product.title }}</p>
                                <a href="{{ product.get_shop_url }}" class="magazin">{{ product.get_shop_title }}</a>
                            </div>
                            <div class="price">
                                <span>{{ product.price }} {{ product.currency }}</span>
                            </div>
                        </div>
                    </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <a href="/search/" class="pull-right see-more">Больше товаров <i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>

        {% endif %}

        {% if shops %}

        <div class="media">
            <div class="media-left media-middle goods">
                <p>Магазины</p>
            </div>
            <div class="media-body child-goods">
                <ul id="shop_list">
                    {% for shop in shops %}
                        {% if forloop.counter < 4 %}
                    <li>
                        <a href="{{ shop.get_absolute_url }}"> </a>
                        <div class="img-wrapper">
                            <img src="{{ shop.get_logo }}" alt="{{ shop.title }}">
                        </div>
                        <div class="discript">
                            <div class="name">
                                <p>{{ shop.title }}</p>
                                <a href="{{ shop.get_absolute_title }}" class="magazin">{{ shop.get_products_count }} товаров</a>
                            </div>
                        </div>
                    </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <a href="/search/" class="pull-right see-more">Больше товаров <i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>

        {% endif %}
    </div>
{% endif %}
