{% if products or shops %}
<div  class="auto-complite smart-search  uk-padding uk-margin-remove" uk-alert >
 <button class="uk-alert-close uk-padding-remove" type="button" uk-close title="Закрыть"
                uk-tooltip="pos: left"></button>

<div class="uk-grid uk-flex-middle uk-grid-divider" uk-grid>
      {% if products %}
        <div class="uk-width-1-4 uk-text-center">Товары</div>
        <div class="uk-width-expand">
            {% for product in products %}
                {% if forloop.counter < 4 %}
            <div class="item uk-grid uk-flex-middle uk-padding-small">
                <a href="{{ product.get_absolute_url }}" class="url-product"></a>
                <div class="uk-width-1-6 images" style="height: 50px;">
                    <img src="{{ product.get_thumbnail }}" alt="" style="height: 100%;">
                </div>
                <div class="uk-width-expand uk-text-left description">
                    <p class="uk-margin-remove">{{ product.title }}</p>
                    <a href="{{ product.shop.get_absolute_url }}" class="name-shop" title="Перейти в магазин" uk-tooltip>{{ product.shop.title }}</a>
                </div>
                <div class="uk-width-1-6 price uk-text-right">
                    {{ product.get_price }} сом
                </div>
            </div>
                {% endif %}
            {% endfor %}
            <a class="see-more uk-float-right" href="/search/" style="color: #e94d09">Больше товаров</a>
        </div>
    {% endif %}
</div>
<hr>


<div class="uk-grid uk-flex-middle uk-grid-divider" uk-grid>
        {% if shops %}
        <div class="uk-width-1-4 uk-text-center">Магазины</div>
        <div class="uk-width-expand">
            {% for shop in shops %}
                {% if forloop.counter < 4 %}
            <div class="item uk-grid uk-flex-middle uk-padding-small">
                <a href="{{ shop.get_absolute_url }}" class="url-product"></a>
                <div class="uk-width-1-6 images" style="height: 50px;">
                    <img src="{{ shop.get_logo }}" alt="" style="height: 100%;">
                </div>
                <div class="uk-width-expand uk-text-left description">
                    <p class="uk-margin-remove">{{ shop.title }}</p>
                    <a href="{{ shop.get_absolute_url }}" class="name-shop" title="Перейти в магазин" uk-tooltip>{{ shop.title }}</a>
                </div>
                <div class="uk-width-1-6 price uk-text-right">
                </div>
            </div>
                {% endif %}
            {% endfor %}
        <a class="see-more uk-float-right" href="/search/" style="color: #e94d09">Больше товаров</a>
        </div>

    {% endif %}
</div>
</div>
{% endif %}
