{% extends 'base-1.html' %}
{% load staticfiles %}

    {% block content %}
        <form type="get" action=".">
            <input type="text" name="q">
            <button type="submit">Search</button>
        </form>

        <section class="goods-of-week" id="container">

        </section>


{#{% for note in notes %}#}
{#<h1>{{ note.title }}</h1>#}
{#<p>#}
{#    {{ note.body }}#}
{#</p>#}
{#{% endfor %}#}
    {% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}
