{% extends 'shop/shop_detail.html' %}

{% block shopcontent %}
    {% if shop.contacts_set.exists %}
        <div class="contacs-page">
            <div class="row">
                <div class="col-md-5">
                    {% for contact in shop.contacts_set.all %}
                        <div class="border">
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>{{ contact.address }}</p>
                                </li>

                                <li>
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                    <p>{{ contact.phone }}</p>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {% if contact.monday %}
                                        <p>Понедельник:{{ contact.monday }}</p>
                                    {% endif %}
                                    {% if contact.tuesday %}
                                        <p>Вторник:{{ contact.tuesday }}</p>
                                    {% endif %}
                                    {% if contact.wednesday %}
                                        <p>Среда:{{ contact.wednesday }}</p>
                                    {% endif %}
                                    {% if contact.thursday %}
                                        <p>Четверг:{{ contact.thursday }}</p>
                                    {% endif %}
                                    {% if contact.friday %}
                                        <p>Пятница:{{ contact.friday }}</p>
                                    {% endif %}
                                    {% if contact.saturday %}
                                        <p>Субота:{{ contact.saturday }}</p>
                                    {% endif %}
                                    {% if contact.sunday %}
                                        <p>Воскресенье:{{ contact.sunday }}</p>
                                    {% endif %}
                                <li>
                                    <p>Выходные:</p>
                                    {% if not contact.monday %}
                                        <p>Понедельник</p>
                                    {% endif %}
                                    {% if not contact.tuesday %}
                                        <p>Вторник</p>
                                    {% endif %}
                                    {% if not contact.wednesday %}
                                        <p>Среда</p>
                                    {% endif %}
                                    {% if not contact.thursday %}
                                        <p>Четверг</p>
                                    {% endif %}
                                    {% if not contact.friday %}
                                        <p>Пятница:</p>
                                    {% endif %}
                                    {% if not contact.saturday %}
                                        <p>Субота</p>
                                    {% endif %}
                                    {% if not contact.sunday %}
                                        <p>Воскресенье</p>
                                    {% endif %}
                                </li>
                                </li>


                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-7">
                    <div class="cover">
                        <div id="contacts-markers" style="width: 652px; height: 380px;"></div>
                    </div>

                </div>
            </div>

        </div>
    {% else %}
        <H3>Магазин не добавил контактов</H3>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXEuBW9AIFcfHx1UHvceIvCz0JnRNjGyo&callback=initMap">
    </script>

    <script>
        let map = null;
        let markers = [
            {% for s in shop.contacts_set.all %}
                {
                    lat: {{ s.latitude }},
                    lng: {{ s.longitude }}
                }{% if forloop.counter < shop.contacts_set.count %},{% endif %}
            {% endfor %}
        ];
        let mapCenter = {lat: 42.864272, lng: 74.579775};

        function initMap() {
            map = new google.maps.Map(document.getElementById('contacts-markers'), {
                center: mapCenter,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });

            if (markers.length > 0) {
                for (let i = 0; i < markers.length; ++i) {
                    let marker = new google.maps.Marker({
                        position: markers[i],
                        map: map
                    });
                    map.setCenter(markers[i]);
                }
            }
            // Adds a marker at the center of the map.
        }
    </script>
{% endblock %}
