{% extends 'base-1.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}

    <section class="edit-banner">
        <div class="container">
            <h1 class="create">Разместите свои продукты в магазине</h1>
            <div class="col-md-offset-2 col-md-8">
                <section class="add-banner">
                    <div class="container">
                        <div class="col-md-offset-3 col-md-6" id="form-div">
                        <input id="fileupload" type="file" name="image" multiple
                        data-url="{% url 'shops:add_banner' slug=slug %}"
                        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'/>
                            <input id="shop_slug" type="text" style="display: none" value="{{ slug }}"/>
                            <input id="csrf_token" type="hidden" value="{{ csrf_token }}">
                        </div>
                        <table id="gallery" class="table table-bordered">
                        <thead>
                        <tr>
                        <th>Баннеры</th>
                        </tr>
                        </thead>
                        <tbody class="banners-list">
                        {% for banner in banners %}
                        <tr>
                        <td><a href="{{ banner.image.url }}">{{ banner.image.name }}</a>
                            <span class="delete-banner" data-banner-id="{{ banner.id }}">Удалить</span></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>



{% endblock %}

{% block js %}

{{ block.super }}
    <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>
  <script src="{% static 'js/banner_upload.js' %}"></script>
    <script src="{% static 'js/jquery.uploadPreview.js' %}"></script>

{% endblock %}
