{% extends 'base-1.html' %}
{% load widget_tweaks %}

{% block content %}

    <section class="creat-product  uk-margin-medium-top">
        <div class="uk-container">
            <div class="shadow uk-padding-large">
                <form class="uk-grid" action="{% url 'shops:update_social' slug=object.shop.slug %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="uk-fieldset uk-width-1-1@l">
                        <legend class="uk-legend uk-margin-medium-bottom">Вставьте ссылки с социальных сетей</legend>
                        <div class="uk-grid uk-child-width-1-2@m uk-flex-center uk-margin-medium-bottom" uk-grid>
                            <div>
                                <label class="uk-form-label">facebook</label>
                                <div class="uk-form-controls">
                                    {{ form.facebook|attr:"placeholder:https://www.facebook.com/"|attr:"class:uk-input"}}
                                </div>
                            </div>
                            <div>
                                <label class="uk-form-label">instagram</label>
                                <div class="uk-form-controls">
                                    {{ form.instagram|attr:"placeholder:https://www.instagram.com/"|attr:"class:uk-input" }}
                                </div>
                            </div>
                            <div>
                                <label class="uk-form-label">twitter</label>
                                <div class="uk-form-controls">
                                    {{ form.twitter|attr:"placeholder:https://www.twitter.com/"|attr:"class:uk-input" }}
                                </div>
                            </div>
                            <div>
                                <label class="uk-form-label">vk</label>
                                <div class="uk-form-controls">
                                    {{ form.vk|attr:"placeholder:https://www.vk.com/"|attr:"class:uk-input" }}
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="uk-width-1-1@l">
                        <div class=" uk-width-1-2@s uk-margin-medium-top">
                            <button type="submit"
                                    class="uk-button uk-button-default border-red bg-red uk-width-1-2@l"><span
                                    class="uk-margin-small-right" uk-icon="icon: check"> </span>Сохранить
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </section>



{% endblock %}
