{% extends 'base-1.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}
{% block content %}

    <section class="edit-shop-detail">
        <div class="container">
            <h3>Создание и редактирование магазина</h3>
            <div class="form-filter">
                <form class="form-inline" method="post" enctype="multipart/form-data" id="add-shop-form">
                    {% csrf_token %}
                    <div class="col-md-8">
                        <div class="form-group {% if form.title.errors %}has-error{% endif %} input col-md-6">
                            {% if not form.title.errors %}
                                <label for="">Название магазина</label>{% else %}
                                <label for="" style="color:red;">Название магазина:{{ form.title.errors }}</label>{% endif %}
                            {{ form.title|attr:"type:text" }}
                        </div>

                        <div class="form-group {% if form.email.errors %}has-error{% endif %} input col-md-6">
                            {% if not form.email.errors %}
                                <label for="">E-mail магазина:</label>{% else %}
                                <label for="" style="color:red;">E-mail магазина:{{ form.email.errors }}</label>{% endif %}
                            {% render_field form.email|attr:"type:email" placeholder="" %}
                        </div>


                        <div class="inlines">

                            {% include 'shop/partials/shop_inline_form.html' %}

                            <div class="form-group input col-md-12">
                                <label for="">Короткое описание магазина:</label>
                                {% render_field form.short_description|attr:"rows:6" placeholder="Введите до 300 символов" %}
                            </div>
                            <div class="form-group input col-md-12">
                                <label for="">О компании</label>

                                {% render_field form.description|attr:"rows:6" placeholder="Введите полное описание" %}
                            </div>


                        </div>


                    </div>
                    <div class="col-md-4 upload-image-magazin">
                        <label class="upload" for="id_images">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <div class="add-photo">
                                Добавить<br>фотографии
                            </div>
                        </label>

                        <div class="info">
                            <span>Рекомендация для фото</span>
                            <p>Размер: 380x380 или больше</p>
                            <p>Фон: белый или прозрачный</p>
                            <br>
                            <span id="file-counter" style="color: red;"></span>
                        </div>

                        <div class="img-wrapper">

                            <input class="form-control" id="id_images" name="logo" style="display:none;" type="file">
                            <img id="logo_view" src=""/><span class="remove-logo">X</span>
                            {% if object.logo %}
                                {% if object.logo.name != "/default.jpg" %}
                                    <img src="{{ object.logo.url }}" alt="" id="id_logo2">
                                    <span class="remove-logo-update">X</span>
                                {% else %}
                                    <img src="" alt="" id="id_logo2">
                                {% endif %}
                            {% endif %}

                            <input type="hidden" id="slug" value="{{ object.get_slug }}"/>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding: 0; background-color: #fff;">
                        <div class="col-md-8">
                            <div class="cover" style="overflow: hidden; padding: 30px 0;">
                                <div class="inline-appended"></div>


                                <div class="form-group col-md-12" style="margin-top: 10px; margin-bottom: 10px">
                                    <p style="margin: 0; text-align: left;">Если у вас есть филиалы, добавьте их</p><br>

                                </div>
                                <div class="form-group btn-group-form col-md-12">
                                    <button type="button" id="add-new-contact" class="btn add no-bg-2"> + Добавить
                                        филиал
                                    </button>

                                </div>
                                <div class="form-group btn-group-form col-md-12">
                                    <button type="submit" class="btn add">Сохранить</button>
                                     {% if object %}
                                    <a class="remove delete-object model-trigger btn add"  data-url="{% url 'shops:delete' slug=object.slug %}" style="cursor: pointer;"> <span class="glyphicon glyphicon-warning-sign"></span> Удалить магазин</a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         id="set-marker-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">Поставьте маркер на карте</div>
                <div class="modal-body">
                    <div id="custom-map" style="width: 100%; height: 500px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="add btn">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}

    {% include 'shop/partials/js_for_shop_cr_up_tmp.html' %}
{% endblock %}
