{% extends 'base-1.html' %}

{% block content %}

    <section class="reviews edit">
        <div class="container bg-white">
            <div class="item">
                <form id='review_form' class="product_review" method="post">
                    {% csrf_token %}
                    <div class="name">
                        <h5>Добавить отзыв</h5>

                        <h4>
                            {% if review.stars %}
                    <div class="star-wrapper">
                        <div class="star default">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>

                        <div class="star active star-behaviour" data-save-stars="true" data-stars-count="{{ lenstars }}">
                            {% for i in "*****" %}
                                <i class="fa fa-star {% if forloop.counter <= review.stars|length %}active{% endif %}"
                                   aria-hidden="true"></i>
                            {% endfor %}
                        </div>

                    </div>
                {% endif %}

                        </h4>

                    </div>
                    <div class="description">

                        <div class="form-group">
                            <textarea name="text" id="prod-rev" cols="30" rows="10" class="form-control">{{ review.text }}</textarea>

                        </div>
                        <button type="submit">Отправить</button>
                    </div>
                </form>
            </div>

        </div>
    </section>
{% endblock %}
