{% extends 'base-1.html' %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4"><h1 class="create">Создайте свой магазин</h1></div>
            <div class="col-md-4"></div>
        </div>
        <div class="inputs">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                 <form method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save" />
                </form>
            <div class="col-md-2"></div>
        </div>
    </div>

{% endblock %}