{% extends 'base-1.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}

{% endblock %}
{% block content %}

    <section class="edit-shop-detail">
        <div class="container">
            <h3>Создание магазина</h3>
            <div class="form-filter">
                <form class="form-inline" method="post" enctype="multipart/form-data" id="add-shop-form">
                    {% csrf_token %}
                    <div class="col-md-8">
                        <div class="form-group {% if form.title.errors %}has-error{% endif %} input col-md-6">
                            {% if not form.title.errors %}
                                <label for="">Название магазина</label>{% else %}
                                <label for="" style="color:red;">Название
                                    магазина:{{ form.title.errors }}</label>{% endif %}
                            {{ form.title|attr:"type:text" }}
                        </div>

                        <div class="form-group {% if form.email.errors %}has-error{% endif %} input col-md-6">
                            {% if not form.email.errors %}
                                <label for="">E-mail магазина:</label>{% else %}
                                <label for="" style="color:red;">E-mail
                                    магазина:{{ form.email.errors }}</label>{% endif %}
                            {% render_field form.email|attr:"type:email" placeholder="" %}
                        </div>


                        <div class="inlines">

                            {% include 'shop/partials/shop_inline_form.html' %}

                            <div class="form-group input col-md-12">
                                <label for="">Короткое описание магазина:</label>
                                {% render_field form.short_description|attr:"rows:6" placeholder="Введите до 300 символов" %}
                            </div>
                            <div class="form-group input col-md-12">
                                <label for="">О компании</label>

                                {% render_field form.description|attr:"rows:6" placeholder="Введите полное описание" %}
                            </div>
                            <div class="clearfix"></div>
                            <a class="btn seo" role="button" data-toggle="collapse" href="#collapseExample"
                               aria-expanded="false" aria-controls="collapseExample">
                                Для SEO
                            </a>

                            <div class="collapse" id="collapseExample">
                                <div class="well">
                                    <div class="form-group input col-md-12">
                                        <label for="">Мета заголовок магазина:</label>
                                        {% render_field form.meta_title|attr:"type:text" placeholder="" %}
                                        <i>Введи до 45 символов название которое будет отображаться с посковиках. Для
                                            лучшего
                                            отображения введите ключевое слово товаров которые вы продаете в на сайте.
                                            Например
                                            если вы продаете кроссовки от найка и адидас. Правильный заголовок будет:
                                            "Купить
                                            кроссовки adidas и nike". Мы добавим в конце Бишкек и Ваше название
                                            магазина. Т.е.
                                            заголовок в последующем будет выглядеть так:"Купить кроссовки adidas и nike
                                            Бишкек -
                                            Кроссовки Центр."
                                        </i>
                                    </div>
                                    <div class="form-group input col-md-12">
                                        <label for="">Мета описание магазина:</label>
                                        {% render_field form.meta_description|attr:"rows:6" placeholder="Введите до 220 символов" %}
                                        <i>В мета описании вы можете описать в кратце, какие товары вы продаете и чем
                                            занимаетесь.
                                            Лучше всего описание формируется, где включены несколько ключевых слов по
                                            которым вас
                                            будут искать. Чем лучше соответсвие,тем выше позиция.
                                        </i>
                                    </div>
                                    <div class="form-group input col-md-12">
                                        <label for="">Мета ключевые слова магазина:</label>
                                        {% render_field form.meta_keywords|attr:"rows:6" placeholder="Введите до 10 ключевых слов" %}
                                        <i>В поле нужно вводить ключевые слова, например, если вы продаете кроссовки. То
                                            правильным
                                            набором ключевых слов будет: "Кроссовки, адидас, найк, бишкек, adidas, nike,
                                            купить и т.д."
                                        </i>
                                    </div>
                                    <div class="form-group input col-md-12">
                                        <label for="">СЕО текс магазина:</label>
                                        {% render_field form.seo_text|attr:"rows:6" placeholder="Введите сео описание магазина" %}
                                        <i>Это поле не ограничено в заполнении. Но лучше всего чтобы он был не более 500
                                            знаков.
                                            Сео описание влияет на продвижение вашего интернет магазина в поисковике,
                                            так что вам
                                            нужно самому написать текст. Мы настоятельно не рекомендуем копировать чужой
                                            текст,
                                            так как это не продвинет ваш магазин, а даже снизит его рейтинг в
                                            поисковике. Самым
                                            лучшим способом является составить текст из ключевых слов.
                                        </i>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="col-md-4 upload-image-magazin">
                        <label class="upload" for="id_images">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <div class="add-photo">
                                Добавьте логотип <br>Вашего магазина
                            </div>
                        </label>

                        <div class="info">
                            <span>Рекомендация для фото</span>
                            <p>Размер: 380x380 или больше</p>
                            <p>Фон: белый или прозрачный</p>
                            <br>
                            <span id="file-counter" style="color: red;"></span>
                        </div>

                        <div class="img-wrapper">

                            <input class="form-control" id="id_images" name="logo" style="display:none;" type="file">
                            <img id="logo_view" src=""/><span class="remove-logo">X</span>
                            {% if object.logo %}
                                {% if object.logo.name != "/default.jpg" %}
                                    <img src="{{ object.logo.url }}" alt="" id="id_logo2">
                                    <span class="remove-logo-update">X</span>
                                {% else %}
                                    <img src="" alt="" id="id_logo2">
                                {% endif %}
                            {% endif %}

                            <input type="hidden" id="slug" value="{{ object.get_slug }}"/>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding: 0; margin-top: 20px; background-color: #fff;">
                        <div class="col-md-8">
                            <div class="cover" style="overflow: hidden; padding: 30px 0;">
                                <div class="inline-appended"></div>


{#                                <div class="form-group col-md-12" style="margin-top: 10px; margin-bottom: 10px">#}
{#                                    <p style="margin: 0; text-align: left;">Если у вас есть филиалы, добавьте их</p><br>#}
{##}
{#                                </div>#}
{#                                <div class="form-group btn-group-form col-md-12">#}
{#                                    <button type="button" id="add-new-contact" class="btn add no-bg-2"> + Добавить#}
{#                                        филиал#}
{#                                    </button>#}
{##}
{#                                </div>#}
                                <div class="form-group btn-group-form col-md-12">
                                    <button type="submit" class="btn add">Сохранить</button>
                                    {% if object %}
                                        <a href="{% url 'shops:delete' slug=object.slug %}"
                                           class="remove delete-object model-trigger btn add" style="cursor: pointer;">
                                            <span class="glyphicon glyphicon-warning-sign"></span> Удалить магазин</a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>


{% endblock %}
{% block js %}

    {% include 'shop/partials/shop_form_javascript.html' %}
<script src="{% static 'js/picker.js' %}"></script>
<script src="{% static 'js/picker.time.js' %}"></script>
  <script>
    $('.timepicker').pickatime({
        format: 'HH:i'
    })
    </script>
{% endblock %}

