{% extends 'base-1.html' %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
{% endblock %}


{% block header %}
    {% include 'layout/header.html' with global=object.section %}
{% endblock %}


{% block categories %}
    {% include 'layout/categories.html' with object=object.section %}
{% endblock %}

{% block content %}

    <section class="shop-list" id="root">

    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'react/static/js/react.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
    <script>
        $('#select-beast-empty').selectize({});
    </script>
{% endblock %}

