{% extends 'base-1.html' %}


{% block content %}
<section class="edit-shop-detail">
    <div class="container">
        <h3>Создайте свой магазин</h3>
        <div class="form-filter">
            <form class="form-inline">
                <div class="col-md-8">
                    <div class="form-group input col-md-6">
                        <label for="">Название магазина</label>
                        <input type="text" class="form-control" placeholder="Название магазина">
                    </div>
                    <div class="form-group input col-md-6">
                        <label for="">Телефон:</label>
                        <input type="text" class="form-control" placeholder="Телефон:">
                    </div>
                    <div class="form-group input col-md-6">
                        <label for="">E-mail магазина:</label>
                        <input type="text" class="form-control" placeholder="E-mail магазина:">
                    </div>
                    <div class="form-group input col-md-12">
                        <label for="">Короткое описание магазина:</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group input col-md-12">
                        <label for="">Полное описание магазина:</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group btn-group-form col-md-12">
                            <button type="submit" class="btn cancel"> Отменить</button>
                            <button type="submit" class="btn add">Сохранить</button>
                        </div>
                </div>

                <div class="col-md-4">
                        <label class="upload" for="id_images">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <div class="add-photo">
                                Добавить<br>фотографии
                             </div>
                        </label>

                        <div class="info">
                            <span>Рекомендация для фото:</span>
                            <p>Размер: 380x380 или больше</p>
                            <p>Фон: белый или прозрачный</p>
                            <br>
                            <span id="file-counter" style="color: red;"></span>
                        </div>
                        <input type="file" id="id_images" style="display: none;" multiple="">
                    </div>
            </form>
        </div>
    </div>
</section>

    <form method="post" action="{% url 'shops:update' slug=object.slug%}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>

{% endblock %}
