{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% include 'layout/head.html' %}
    {% endblock %}
</head>

<body>




{% block fixed_categories %}
{% endblock %}

{% block header %}
    {% include 'layout/header.html' %}
{% endblock %}
{% block categories %}
   {% include 'layout/categories.html' %}
{% endblock %}

{% block content %}

{% endblock content %}

{% block modal %}
<div class="modal fade remove-product" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Удаление товара</h4>
      </div>
      <div class="modal-body" id="ajax-modal-body">

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    {% include 'layout/js.html' %}
{% endblock %}

</body>
</html>
