{% load staticfiles meta_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    {% block meta %}
        {% get_seo_data request object as meta %}
        <meta name="description" content="{{ meta.description }}">
        <meta name="keywords" content="{{ meta.keywords }}">
        <meta name="author" content="Ooba.market.kg">
        <title>{% block title %} {{ meta.title }} {% endblock %}</title>
    {% endblock %}
    <meta name="google-site-verification" content="zgfLUGZfNYyg0rxFUXY253G8Ft1XzWkxUrChLoFz-fc"/>
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>

</head>


<body>
<div class="uk-offcanvas-content">


    {#    {% block fixed_categories %}#}
    {#        {% include 'layout/fixed_categories.html' %}#}
    {#    {% endblock %}#}

    {% block header %}
        {% include 'layout/header.html' %}
    {% endblock %}

    {% block categories %}
    {% endblock %}

    {% block messages %}
        {% if messages %}
            <div class='uk-alert-primary' uk-alert>

                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %}
                                               role='alert'>

                        {{ message|capfirst }}
                        <a class="uk-alert-close" uk-close></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}

    {% block content %}


    {% endblock content %}
    {% block footer %}
        <footer class="uk-margin-medium-top shadow">
            <div class="uk-container">
                <div class="uk-grid uk-child-width-expand@l uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m"
                     uk-grid>
                    <div>
                        <img src="{% static 'img/Footer-logo.png' %}" width="150" alt="">
                    </div>
                    {% for column in footer_cats %}
                        <div>
                            <h3>Категории</h3>
                            <ul>
                                {% for cat in column %}
                                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    <div>
                        <h3>Магазинам</h3>
                        <ul>
                            <li><a href="{% url "landing" %}">Для магазинов</a></li>
                            <li><a href="{% url "shops:create" %}">Добавить магазин</a></li>
                            <li><a href="{% url "sub_list" %}">Лента</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>Контакты</h3>
                        <ul>
                            <li><a href="{% url "help" %}">Помощь</a></li>
                            <li>+996 550 05 55 77</li>
                            <li>г. Бишкек, ул. Усенбаева 138А</li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>
        <footer class="bg">
        <div class="uk-container">
            <div class="bottom-line">
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-2@s uk-text-left@s uk-text-center">
                        <span>© 2017 Ooba Market</span>
                    </div>
                    <div class="uk-width-1-2@s uk-text-right@s uk-text-center">
                        <a href="http://sunrisestudio.pro/">
                            <img src="{% static 'img/razrabotka.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </footer>
    {% endblock footer %}
    {% block modal %}

        {#        <div class="modal fade remove-product" id="DeleteModal" tabindex="-1" role="dialog"#}
        {#             aria-labelledby="myModalLabel">#}
        {#            <div class="modal-dialog" role="document">#}
        {#                <div class="modal-content">#}
        {#                    <div class="modal-header">#}
        {#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
        {#                                aria-hidden="true">&times;</span></button>#}
        {#                        <h4 class="modal-title" id="myModalLabel">Удалить ?</h4>#}
        {##}
        {#                    </div>#}
        {#                    <div class="modal-body" id="ajax-modal-body">#}
        {##}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        <!-- This is the modal -->

    {% endblock %}

    {% block js %}
        {% include 'layout/js.html' %}
    {% endblock %}


</div>
{#parent uk-offcanvas-content#}

</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-106324416-1', 'auto');
    ga('send', 'pageview');


    var _search = function (apiUrl, query) {

        if (query.length < 3) {
            let autoComplite = $('.auto-complite');
            autoComplite.attr('hidden', true);
            return
        }


        $.ajax({
            url: apiUrl,
            type: 'GET',
            data: {
                q: query,
            },
            success: function (data) {
                let autoComplite = $('.auto-complite');
                if (autoComplite.length) {
                    autoComplite.remove();
                    $('.search-container').append(data);
                    $('.see-more').attr('href', '/search/?q=' + query);

                } else {
                    $('.search-container').append(data);
                    $('.see-more').attr('href', '/search/?q=' + query);
                }

            }
        });
    };

    $('#search-form-index').bind('keyup paste', function () {
        _search('/search_results/', $(this).val())
    });

    var parseQueryString = function () {

        var str = location.search;
        var objURL = {};

        str.replace(
            new RegExp("([^?=&]+)(=([^&]*))?", "g"),
            function ($0, $1, $2, $3) {
                objURL[$1] = $3;
            }
        );
        return objURL;
    };

    //Example how to use it:
    var params = parseQueryString();
    if (params['q']) {
        $('#search-form-index').val(decodeURIComponent(params['q']));
    }

</script>


</html>
