<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>basket</title>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <!--[if IE 9]>
    <script>
        window.location = "oldbrowser/index.html";
    </script>
    <![endif]-->
</head>

<body>

<ul class="fixed-category scroll-pane">

    <li data-toggle="tooltip" title="" data-placement="right"
        data-original-title="Электроника, компьютеры и бытовая техника">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li10.png" alt="">
            </a>
        </div>
    </li>


    <li data-toggle="tooltip" title="" data-placement="right"
        data-original-title="Электроника, компьютеры и бытовая техника">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li9.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right"
        data-original-title="Электроника, компьютеры и бытовая техника">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li8.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right"
        data-original-title="Электроника, компьютеры и бытовая техника">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li7.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right"
        data-original-title="Электроника, компьютеры и бытовая техника">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li6.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right" data-original-title="Чип">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li5.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right" data-original-title="входит в стоимость заправки!">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li4.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right"
        data-original-title="входит в стоимость заправки!входит в стоимость заправки!">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li3.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right" data-original-title="входит в стоимость заправки!">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li2.png" alt="">
            </a>
        </div>
    </li>
    <li data-toggle="tooltip" title="" data-placement="right" data-original-title="входит в стоимость заправки!">
        <div class="img-wrapper">
            <a href="">
                <img src="img/png/li1.png" alt="">
            </a>
        </div>
    </li>
</ul>

<header class="navbar-fixed-top">
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/logo.svg" alt="">
                        <span>12символ max</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div class="nav navbar-nav navbar-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Поиск товаров...">
                                <button type="submit" class="btn btn-default">Найти</button>
                            </div>
                        </form>
                        <a href=""  class="favorites btn"><span class="glyphicon glyphicon-heart"></span> Избранные (2)</a>
                        <a href=""  class="basket btn"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина (9)</a>
                        <!-- <a href=""  class="enter btn">Войти</a> -->

                        <!--
                        Когда вход выполнен!
                        -->

                        <div class="dropdown">
                            <a class="enter btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Магазин
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="">Мой магазин</a></li>
                                <li><a href="">Редактировать</a></li>
                                <li><a href="">Выйти</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>

<section class="category-link">
    <div class="container">
        <div class="clearfix"></div>
        <div class="pull-left">
            <div class="dropdown">
                <a class="enter btn" type="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Магазин
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="">Мой магазин</a></li>
                    <li><a href="">Редактировать</a></li>
                    <li><a href="">Выйти</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a class="enter btn" type="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Магазин большой
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="">Мой магазин</a></li>
                    <li><a href="">Редактировать Редактировать Редактировать</a></li>
                    <li><a href="">Выйти</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a href="" class="enter btn">
                    Магазин
                </a>
            </div>
            <!--<a href="">Одежда для мужчин</a>-->
            <!--<a href="">Всё для детей</a>-->
            <!--<a href="">Электроника</a>-->
            <!--<a href="">Компьютеры</a>-->
        </div>
        <div class="pull-right">
            <a href="" class="back-page">
                <span class="glyphicon glyphicon-menu-left"></span>
                Назад</a>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<div class="basket">
    <div class="container">
        <table>

            <thead>
                <tr>
                    <td colspan="2">Товар</td>
                    <td>Продавец</td>
                    <td>Количество</td>
                    <td>Цена</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <img src="img/png/o3.jpeg" alt="">
                    </td>
                    <td>
                        Nikon Coolpix L29
                        <div class="availability">
                            <span>Наличие: <span class="stock">на складе</span></span>
                            <!--<span>Наличие: <span class="not-stock"> нет на складе</span></span>-->
                            <!--<span>Наличие: <span class="expectation">ожидание</span></span>-->

                            <span class="truck">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                            Самовывоз
                            </span>
                        </div>
                    </td>
                    <td>
                        <img src="img/png/o3.jpeg" alt="">
                    </td>
                </tr>
            <tr>


            </tr>
            </tbody>

        </table>
    </div>
</div>



<!--[if lt IE 9]>
<script src="libs/html5shiv/es5-shim.min.js"></script>
<script src="libs/html5shiv/html5shiv.min.js"></script>
<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="libs/respond/respond.min.js"></script>
<![endif]-->

<script src="js/jquery.2.2.4.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src=js/elecatrozoom.js></script>
<script type="text/javascript" src="js/common.js"></script>

</body>
</html>
