{% extends 'base-1.html' %}
{% load staticfiles product_tags %}

{% block header %}
    <header class="navbar-fixed-top hidden-xs hidden-sm" style="    border-bottom: 1px solid #ececec;">

        <nav class="navbar ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo.svg' %}" alt="">
                    </a>
                    <form class="form-inline" style="    width: 280px;
                        display: inline-block;
                        margin: 5px 0 0 29px;">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Поиск товаров...">
                            <button type="submit" class="btn btn-default">Найти</button>
                        </div>
                    </form>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div class="nav navbar-nav navbar-right">

                        <a href="{% url 'landing' %}" class="magazin-btn for-magazin btn"><span
                                class="glyphicon glyphicon-star"></span> Магазины</a>


                        <a href="{% url 'sub_list' %}" class="magazin-btn btn"><span class="fa fa-newspaper-o"
                                                                                     aria-hidden="true"></span>
                            Лента</a>
                        {#                        <a href="{% url 'shops:create' %}" class="magazin-btn btn"><span class="fa fa-address-card"#}
                        {#                                                                                         aria-hidden="true"></span>#}
                        {#                            Добавить магазин</a>#}
                        {##}


                        {% if user.is_authenticated %}
                            <a href="{{ user.get_favorites_link }}" class="favorites btn"><span
                                    class="glyphicon glyphicon-heart"></span> Избранные (<span
                                    class="favorites_count">{{ user.get_favorites_count }}</span>)</a>
                            <a href="{% url 'cart:detail' %}" class="basket btn"><span
                                    class="glyphicon glyphicon-shopping-cart"></span> Корзина (<span
                                    class="cart-count">{{ user.get_cart_count }}</span>)</a>
                            <!-- <a href=""  class="enter btn">Войти</a> -->
                        {% else %}
                            <a href="{% url 'account_login' %}" class="favorites btn"><span
                                    class="glyphicon glyphicon-heart"></span> Избранные</a>
                            <a href="{% url 'cart:detail' %}" class="basket btn"><span
                                    class="glyphicon glyphicon-shopping-cart"></span> Корзина (<span
                                    class="cart-count">{{ cart_count }}</span>)</a>
                            <!-- <a href=""  class="enter btn">Войти</a> -->
                        {% endif %}
                        <!--
                        Когда вход выполнен!
                        -->
                        {% include 'layout/dropdown.html' %}
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>
{% endblock %}

{% block fixed_categories %}
{% endblock %}

{% block categories %}
{% endblock %}

{% block content %}

    <div style="background-color: #fff;margin-top: -40px;">

        <section class="category-link ">
            <div class="container">
                <div class="parent hidden-sm hidden-xs">
                    <ul class="content">
                        {% for object in fixed_categories %}
                            <li class="item item-12">
                                <div class="dropdown">
                                    <a href="{{ object.get_absolute_url }}" class="enter btn" type="button"
                                       aria-haspopup="true">
                                        {{ object.title }}
                                    </a>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </section>
        <section class="home-page">
            <div class="container">
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-lg-3">
                        <a href="">
                            <img src="{% static 'img/img/image-new-design-home/mini.jpg' %}" class="img-responsive"
                                 alt="">
                        </a>
                    </div>
                    <div class="col-lg-9">
                        <div class="">
                            <div class="owl-carousel home">
                                <div class="item"><a href=""><img
                                        src="{% static 'img/img/image-new-design-home/slider01.jpg' %}"
                                        alt=""></a></div>
                                <div class="item"><a href=""><img
                                        src="{% static 'img/img/image-new-design-home/slider02.jpg' %}"
                                        alt=""></a></div>
                                <div class="item"><a href=""><img
                                        src="{% static 'img/img/image-new-design-home/slider03.jpg' %}"
                                        alt=""></a></div>
                                <div class="item"><a href=""><img
                                        src="{% static 'img/img/image-new-design-home/slider04.jpg' %}"
                                        alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 mini-block">
                                <div class="img-wrapper">
                                    <a href="{{ up_left_corner_1.url }}"><img src="{{ up_left_corner_1.image.url }}"
                                                    class="img-responsive" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-12 mini-block">
                                <div class="img-wrapper">
                                    <a href="{{ up_left_corner_2.url }}"><img src="{{ up_left_corner_2.image.url }}"
                                                    alt="" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="img-wrapper">
                            <a href="{{ big_up_block.url }}"><img src="{{ big_up_block.image.url }}" alt=""
                                            style="height: 478px;" class="img-responsive"></a>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 mini-block">
                                <div class="img-wrapper">
                                    <a href="{{ up_right_corner_1.url }}"><img src="{{ up_right_corner_1.image.url }}" alt=""
                                                    class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-lg-12 mini-block">
                                <div class="img-wrapper">
                                    <a href="{{ up_right_corner_2.url }}"><img src="{{ up_right_corner_2.image.url }}"
                                                    alt="" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="img-wrapper">
                            <a href="{{ big_down_block.url }}"><img src="{{ big_down_block.image.url }}" alt=""
                                            class="img-responsive" style="height: 480px"></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 mini-block">
                                <div class="img-wrapper">
                                    <a href="{{ down_right_corner_1.url }}"><img src="{{ down_right_corner_1.image.url }}"
                                                    alt="" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-lg-12 mini-block">
                                <div class="img-wrapper">
                                    <a href="{{ down_right_corner_2.url }}"><img src="{{ down_right_corner_2.image.url }}"
                                                    alt="" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                    {% for block in blocks %}
                    <div class="col-lg-4">
                        <div class="img-wrapper"><a href="{{ block.url }}"><img
                                src="{{ block.image.url }}" alt=""
                                class="img-responsive"></a></div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </div>


    <section class="search-index">
        <div class="container">
            <img class="center-block" src="{% static 'img/logo.png' %}" alt="">
            <h1>Лучший сервиc по поиску товаров в Бишкеке</h1>
            <div class="col-md-offset-2 col-md-8">
                <form class="form-inline" method="get" action="/search/">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск товаров..." id="search-form-index"
                               name="q">
                        <button type="submit" class="btn btn-default">Найти</button>
                    </div>

                </form>
            </div>
            <div class="clearfix"></div>

            <ul class="category">
                {% for object in fixed_categories %}
                    <li>
                        {% if object.title == 'Еда' %}
                            <a href="#"></a>
                        {% else %}
                            <a href="{{ object.get_absolute_url }}"></a>
                        {% endif %}
                        <div class="img-wrapper">
                            <img src="{{ object.get_icon }}" alt="">
                        </div>
                        <div class="title">
                            <p>{{ object.title }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>

    {% if weeks_best_products %}
        <section class="goods-of-week">
            <div class="container">
                <h2 class="index-title"><a href="{% url 'product:product_list' %}">Последние добавленные товары</a></h2>
                {% include 'product/product_list.html' with object_list=weeks_best_products col=3 %}
                <div class="clearfix"></div>
                <div class="all-goods">
                    <a class="btn add" href="{% url 'product:product_list' %}">Показать все товары</a>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="magazin">
        <h2><a href="{% url 'shops:list' %}">Магазины</a></h2>
        <div class="container">
            <div class="row">
                {% include 'shop/shops.html' with shops=shops %}
                <div class="clearfix"></div>
                <a class="btn add" href="{% url 'shops:list' %}">Показать все магазины</a>
            </div>
        </div>
    </section>


    <section class="mobile-footer-fixed-nav hidden-lg hidden-md">
        <div class="col-xs-3 col-sm-3">
            <a href="{% url 'landing' %}" class="magazin-btn btn"><span class="glyphicon glyphicon-star"></span> Для
                магазинов</a>
        </div>
        {% if user.is_authenticated %}
            <div class="col-xs-3 col-sm-3">
                <a href="{{ user.get_favorites_link }}" class="favorites btn"><span
                        class="glyphicon glyphicon-heart"></span> Избранные (<span
                        class="favorites_count">{{ user.get_favorites_count }}</span>)</a>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a href="{% url 'cart:detail' %}" class="basket btn"><span
                        class="glyphicon glyphicon-shopping-cart"></span> Корзина (<span
                        class="cart-count">{{ user.get_cart_count }}</span>)</a>
            </div>
        {% else %}
            <div class="col-xs-3 col-sm-3">
                <a href="{% url 'account_login' %}" class="favorites btn"><span
                        class="glyphicon glyphicon-heart"></span> Избранные</a>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a href="{% url 'cart:detail' %}" class="basket btn"><span
                        class="glyphicon glyphicon-shopping-cart"></span> Корзина (<span
                        class="cart-count">{{ cart_count }}</span>)</a>
            </div>
        {% endif %}
        <div class="col-xs-3 col-sm-3">
            {% if user.is_authenticated %}
                <a class="btn quit mobile-auth-btn">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn user" type="button">
                    <span class=" glyphicon glyphicon-log-in"></span>
                </a>
            {% endif %}
        </div>
    </section>



    <!-- Modal mobile  -->
    <div class="modal fade mobile-auth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    {% if user.is_authenticated %}

                        <a class="enter btn">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ request.user.get_username }}
                        </a>

                        <ul class="">
                            <li><a href="{% url 'account_login' %}"><strong>Кабинет</strong></a></li>
                            <li><a href="{% url 'shops:create' %}"><strong>Создать магазин</strong></a></li>
                            <li><a href="{% url 'order:user_order_list' username=request.user %}"><strong>История
                                заказов</strong></a></li>
                            {% if request.get_full_path == "/" %}
                                <li><a href="{% url 'product:add_product_index' %}">
                                    <strong>Добавить товар</strong>
                                </a>
                                </li>
                            {% endif %}
                            {% for shop in request.user.shops_name %}
                                <li><a href="{{ shop.get_absolute_url }}">{{ shop.title }}</a></li>
                            {% endfor %}
                            <li><a href="{% url 'account_logout' %}"> <span class="glyphicon glyphicon-log-out"></span>
                                <strong>Выйти</strong></a></li>
                        </ul>

                    {% else %}
                        <a href="{% url 'account_login' %}" class="enter btn" type="button">
                            Войти</a>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn add" data-dismiss="modal">Закрыть</button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/subscribe.js" %}"></script>
{% endblock %}



