{% extends 'base-1.html' %}
{% load product_tags staticfiles %}
{% block content %}
    {% load class_name %}
    <section class="shop-category" >
        <div class="container">
            <div class="sale-page sub-list">

            </div>

        </div>
    <div id="stop"></div>
    <a style="display: block;text-align: center;" href="#go-to-top">Вверх</a>

    </section>

{% endblock %}


{% block js %}

<script src="{% static 'js/jquery.2.2.4.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sub_list.js' %}"></script>

{% endblock js %}
