{% extends 'base-1.html' %}
{% block content %}
    {% load class_name %}
    <section class="shop-category">
        <div class="container">
            <div class="sale-page sub-list">
                {% for sub in sub_objects %}
                    {% if sub|class_name == "Sales" %}
                <div class="col-md-6">
                    <span class="descount">{{ sub.discount }}%</span>
                    <div class="img-wrapper">
                        <img src="{{ sub.image.url }}" alt="">
                    </div>
                    <div class="description">
                        <h3>{{ sub.title }}</h3>
                        <p>{{ sub.short_description }}</p>
                        <a class="btn add" href="{% url 'shops:sale_detail' slug=sub.shop.slug pk=sub.pk %}">Просмотреть</a>

                    </div>
                </div>
                    {% elif  sub|class_name == "Product" %}
                <div class="col-md-6 product">
                    <div class="border">
                        <div class="img-wrapper col-md-6">
                            <a href="/{{ sub.category.section.slug }}/{{ sub.category.slug}}/{{ sub.slug }}">
                                <img src="{{ sub.get_all_images.first.image.url }}" alt=""></a>
                        </div>
                        <div class="description col-md-6">
                            <div class="top-line">

                                <h2>
                                    <a href="{% url 'shops:detail' slug=sub.shop.slug %}">
                                        {{ sub.shop.title }}
                                    </a>
                                </h2>
                            </div>
                            <h3>{{ sub.title }}</h3>
                            <div class="title">
                                <p>{{ sub.short_description }}</p>

                                <span>{{ sub.price }} {{ sub.currency }}</span>

                            </div>
                            <div class="bottom-line">


                                <a href="#" class="add-basket" data-product-id="{{ sub.id }}">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    Добавить в корзину
                                </a>

                                <span class="truck pull-right " data-toggle="tooltip" title="" data-placement="top"
                                      data-original-title="Самовывоз"><i class="fa fa-truck"
                                                                         aria-hidden="true"></i></span>
                                <span class="hearth pull-right " data-product-id="{{ sub.id }}" data-toggle="tooltip" title=""
                                      data-placement="top" data-original-title="Добавить в избранное"><i
                                        class="glyphicon glyphicon-heart"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock %}
