{% extends 'base-1.html' %}
{% block content %}
    <section class="shop-category">
        <div class="container">
            <div class="sale-page sub-list">
                <div class="col-md-6">
                    <span class="descount">1%</span>
                    <div class="img-wrapper">
                        <img src="http://via.placeholder.com/540x200" alt="">
                    </div>
                    <div class="description">
                        <h3>h3</h3>
                        <p>p</p>
                        <a class="btn add" href="">Просмотреть</a>

                    </div>
                </div>
                <div class="col-md-6">
                    <span class="descount">1%</span>
                    <div class="img-wrapper">
                        <img src="http://via.placeholder.com/540x200" alt="">
                    </div>
                    <div class="description">
                        <h3>h3</h3>
                        <p>p</p>
                        <a class="btn add" href="">Просмотреть</a>

                    </div>
                </div>
                <div class="col-md-6 product">
                    <div class="border">
                        <div class="img-wrapper col-md-6">
                            <a href=""><img src="http://via.placeholder.com/250x200" alt=""></a>
                        </div>
                        <div class="description col-md-6">
                            <div class="top-line">

                                <h2>
                                    <a href="/shops/amway/">
                                        Технодом
                                    </a>
                                </h2>


                                <a class="edited glyphicon glyphicon-cog"
                                   href="/product/Pylesos-Samsung-VC-C4520S3S/update-product/" data-toggle="tooltip"
                                   title="" data-placement="bottom" data-original-title="Редактировать"></a>
                                <a href="" class="eye glyphicon glyphicon-eye-open" data-toggle="tooltip" title=""
                                   data-placement="bottom" data-original-title="Скрыть" data-status="false"
                                   data-item="19"></a>
                                <a class="remove glyphicon glyphicon-remove-circle model-trigger delete-object"
                                   data-url="/product/Pylesos-Samsung-VC-C4520S3S/delete-product/" data-toggle="tooltip"
                                   title="" data-placement="bottom" data-original-title="Удалить"></a>
                            </div>
                            <h3>h3</h3>
                            <div class="title">
                                <p>Утюг Rowenta DW-6020</p>

                                <span>7990 сом</span>

                            </div>
                            <div class="bottom-line">


                                <a href="#" class="add-basket" data-product-id="19">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    Добавить в корзину
                                </a>

                                <span class="truck pull-right " data-toggle="tooltip" title="" data-placement="top"
                                      data-original-title="Самовывоз"><i class="fa fa-truck"
                                                                         aria-hidden="true"></i></span>
                                <span class="hearth pull-right " data-product-id="19" data-toggle="tooltip" title=""
                                      data-placement="top" data-original-title="Добавить в избранное"><i
                                        class="glyphicon glyphicon-heart"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-md-6 product">
                    <div class="border">
                        <div class="img-wrapper col-md-6">
                            <a href=""><img src="http://via.placeholder.com/250x200" alt=""></a>
                        </div>
                        <div class="description col-md-6">
                            <div class="top-line">

                                <h2>
                                    <a href="/shops/amway/">
                                        Технодом
                                    </a>
                                </h2>


                                <a class="edited glyphicon glyphicon-cog"
                                   href="/product/Pylesos-Samsung-VC-C4520S3S/update-product/" data-toggle="tooltip"
                                   title="" data-placement="bottom" data-original-title="Редактировать"></a>
                                <a href="" class="eye glyphicon glyphicon-eye-open" data-toggle="tooltip" title=""
                                   data-placement="bottom" data-original-title="Скрыть" data-status="false"
                                   data-item="19"></a>
                                <a class="remove glyphicon glyphicon-remove-circle model-trigger delete-object"
                                   data-url="/product/Pylesos-Samsung-VC-C4520S3S/delete-product/" data-toggle="tooltip"
                                   title="" data-placement="bottom" data-original-title="Удалить"></a>


                            </div>
                            <h3>h3</h3>
                            <div class="title">
                                <p>Утюг Rowenta DW-6020</p>

                                <span>7990 сом</span>

                            </div>
                            <div class="bottom-line">


                                <a href="#" class="add-basket" data-product-id="19">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    Добавить в корзину
                                </a>

                                <span class="truck pull-right " data-toggle="tooltip" title="" data-placement="top"
                                      data-original-title="Самовывоз"><i class="fa fa-truck"
                                                                         aria-hidden="true"></i></span>
                                <span class="hearth pull-right " data-product-id="19" data-toggle="tooltip" title=""
                                      data-placement="top" data-original-title="Добавить в избранное"><i
                                        class="glyphicon glyphicon-heart"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
