{% load product_tags class_name %}

{% for sub in sub_objects %}

    {% if sub|class_name == "Sales" %}
        <div class="sub-sale">
            <div class="uk-card uk-card-default">
                <span class="descount">{{ sub.discount }}%</span>
                <div class="uk-card-media-top uk-cover-container">
                    <img src="{{ sub.image.url }}" alt="" uk-cover>
                    <canvas width="400" height="400"></canvas>
                </div>
                <div class="uk-card-body uk-padding-small">
                    <h3 class="uk-card-title">{{ sub.title }}</h3>
                   {{ sub.description|safe }}
                    <div class="control-button">
                        <a href="{% url 'shops:sale_detail' slug=sub.shop.slug pk=sub.pk %}" class="uk-button-default uk-button">Просмотреть</a>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="col-md-6">#}
{#            <span class="descount">{{ sub.discount }}%</span>#}
{#            <div class="img-wrapper">#}
{#                <img src="{{ sub.image.url }}" alt="">#}
{#            </div>#}
{#            <div class="description">#}
{#                <h3>{{ sub.title }}</h3>#}
{#                <p>{{ sub.description }}</p>#}
{#                <a class="btn add" href="{% url 'shops:sale_detail' slug=sub.shop.slug pk=sub.pk %}">Просмотреть</a>#}
{#            </div>#}
{#        </div>#}

    {% elif sub|class_name == "Product" %}
        <div class="uk-grid-match item">
            <div class="shadow uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle">
                    <div class="border">
                        <a href="{{ sub.get_absolute_url }}" class="uk-position-cover"></a>
                        <div class="uk-cover-container">
                            <img uk-cover src="{{ sub.get_all_images.first.image.url }}" alt="">
                            <canvas class="uk-visible@s" width="400" height="500"></canvas>
                            <canvas class="uk-hidden@s" width="200" height="300"></canvas>

                        </div>
                    </div>
                    <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default">
                        <a href="{{ sub.get_absolute_url }}" class="uk-position-cover"></a>
                        <small class="uk-display-block">Магазин</small>
                        <h4 class="uk-margin-remove"><a
                                href="{% url 'shops:detail' slug=sub.shop.slug %}"> {{ sub.shop.title }}</a></h4>
                        <p>{{ sub.short_description }}</p>
                        <div class="control uk-visible@s">
                            <a href="#" class="favorite uk-margin-medium-right {% is_favorite_for_like sub request.user %}" data-product-id="{{ sub.id }}" title="{% is_favorite_for_tooltip sub request.user %}" uk-tooltip>
                                <span class=" uk-icon" uk-icon="icon: heart; ratio: 2"></span>
                            </a>
                            {% cart_message request sub %}
                        </div>
                    </div>
                </div>
                <div class="uk-visible@s uk-padding-small uk-grid uk-margin-remove footer">
                    <h4 class="uk-width-3-5@l uk-width-3-5@m uk-padding-remove">{{ sub.title }}</h4>
                    <div class="uk-width-2-5@l uk-text-right uk-width-2-5@m uk-padding-remove">
                        <p>{{ sub.price }} {{ sub.currency }}</p>
                    </div>
                </div>
                <div class="uk-hidden@s uk-padding-small uk-position-relative  uk-grid uk-margin-remove footer">
                     <div class="control uk-hidden@s uk-text-right">
                            <a href="#" class="favorite {% is_favorite_for_like sub request.user %}" data-product-id="{{ sub.id }}" title="{% is_favorite_for_tooltip sub request.user %}" uk-tooltip>
                                <span class=" uk-icon" uk-icon="icon: heart; ratio: 2"></span>
                            </a>
                            {% cart_message request sub %}
                        </div>
                    <h4 style="height: auto;" class="uk-hidden@s uk-margin-small-bottom uk-text-left uk-padding-remove"><b><a style="color: #444; font-size: 15px;" href="{% url 'shops:detail' slug=sub.shop.slug %}">{{ sub.shop.title }}</a></b></h4>
                    <h4 style="height: auto;" class="uk-width-3-5@l uk-text-left uk-width-3-5@m uk-padding-remove">{{ sub.title }}</h4>
                    <div class="uk-width-2-5@l uk-text-left uk-width-2-5@m uk-padding-remove">
                        <p class="uk-text-left">{{ sub.price }} {{ sub.currency }}</p>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="col-md-4 product">#}
{#            <div class="box-shadow">#}
{#                <div class="img-wrapper">#}
{#                    <a href="{{ sub.get_absolute_url }}" class="url-shop"></a>#}
{#                    {% if discount %}#}
{#                        <span class="descount">{{ sub.discount }}%</span>#}
{#                    {% endif %}#}
{#                    <a href="{{ sub.get_absolute_url }}">#}
{#                        <img src="{{ sub.get_all_images.first.image.url }}" alt="">#}
{#                    </a>#}
{#                    <div class="back-fade">#}
{#                        <div class="name-magazin-title">#}
{#                            <h2>#}
{#                                <a href="{% url 'shops:detail' slug=sub.shop.slug %}">#}
{#                                    {{ sub.shop.title }}#}
{#                                </a>#}
{#                            </h2>#}
{#                            <p>{{ sub.short_description }}</p>#}
{#                        </div>#}
{#                        <div class="button-basket-favorite">#}
{#                            {% cart_message request sub %}#}
{#                            <span class="glyphicon glyphicon-heart enable#}
{#                            {% is_favorite_for_like sub request.user %}"#}
{#                                  data-toggle="tooltip"#}
{#                                  data-placement="top"#}
{#                                  data-product-id="{{ sub.id }}"#}
{#                                  data-original-title="{% is_favorite_for_tooltip sub request.user %}">#}
{#                        </span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="description">#}
{#                    <div class="title">#}
{#                        <h3>{{ sub.title }}</h3>#}
{#                        <p>{{ sub.short_description }}</p>#}
{#                    </div>#}
{#                    <span>{{ sub.price }} {{ sub.currency }}</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}



    {% endif %}
{% endfor %}

<script>
    // ---------------------------------
    // функция добавление в избранные на главной
    // ---------------------------------

    $(".favorite").click(function (event) {
        event.preventDefault();
        var thisIcon = $(this);
        var productId = $(this).attr("data-item-id");
        $.ajax({
            type: "GET",
            url: "/favorite/add",
            data: {
                'item': productId
            },
            success: function (data) {
                showFlashMessage(data.flash_message);
                if (data.created) {
                    thisIcon.toggleClass("like");
                    thisIcon.attr("title", "Удалить из избранных");
                }
                else {
                    thisIcon.removeClass("like");
                    thisIcon.attr("title", "Добавить в избранное");
                    if (thisIcon.parent().parent().parent().parent().parent().parent().hasClass('favorite-products')) {
                        thisIcon.parent().parent().parent().parent().fadeOut();
                    }
                }
                $('.favorites_count').html('<span class="uk-margin-small-right uk-icon" uk-icon="icon: heart"></span> Избранные' +
                                    '(<span>' + data.favorites_count + '</span>)')
            },
            error: function (response, error) {
                console.log(response);
                console.log(error);
            }
        })
    });


    // ---------------------------------
    // функция добавление в корзину на главной
    // ---------------------------------

    $(".cart").click(function (event) {
        event.preventDefault();
        var thisIcon = $(this);
        var productId = $(this).attr("data-item-id");
        $.ajax({
            type: "GET",
            url: "/cart/",
            data: {
                'item': productId
            },
            success: function (data) {
                showFlashMessage(data.flash_message);
                if (data.item_added) {
                    thisIcon.toggleClass("in");
                    thisIcon.attr("title", "В корзине");
                }
                else {
                    thisIcon.removeClass("in");
                    thisIcon.attr("title", "Добавить в корзину");
                }
                $('.cart_count').html('<span class="uk-margin-small-right uk-icon" uk-icon="icon: cart"></span> Корзина' +
                                    '(<span>' + data.total_items + '</span>)')
            },
            error: function (response, error) {
                console.log(response);
                console.log(error);
            }
        })
    });

    function showFlashMessage(message) {
        var template = "<div class='uk-container flash'>" +
            "<div class='uk-alert-primary' uk-alert> " +
            "<div class=''>" +
            "<a class='uk-alert-close' uk-close></a>"
            + message + "</div></div></div>";
        $("body").append(template);
        $(".uk-container.flash").fadeIn();
        setTimeout(function () {
            $(".uk-container.flash").fadeOut();
        }, 1800);

    }
</script>
