{% extends "base-1.html" %}

{% load widget_tweaks %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

    <section class="user_update">
        <div class="container">
            <div class="col-md-7 col-md-offset-1">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                {% endif %}


                <h2>{{ user.username }}</h2>


                <form class="form-horizontal" id="profile_form">


                    <div class="info-user">
                        <h3>Профиль</h3>
                        <div class="form-group">
                            <label for="name" class="">
                                <div class="col-md-3">Логин:</div>
                                 <div class="col-md-6">
                                <input class="form-control" id="name" value="{{ object.name }}"/>

                            </div>
                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                            </label>

                        </div>

                        <div class="form-group">
                            <label for="username" class="">
                                <div class="col-md-3">Имя:</div>

                                <div class="col-md-6">
                                <input class="form-control" id="username" value="{{ object.username }}" />

                            </div>
                                <span class="col-md-1">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </span>
                            </label>

                        </div>

                        <div class="form-group">
                            <label for="first_name" class="">
                                <div class="col-md-3">Фамилие:</div>
                                <div class="col-md-6">
                                    <input class="form-control" id="first_name" value="{{ object.first_name }}"/>
{#                                    {{ form.first_name|attr:"class:form-control"|attr:"id:first_name" }}#}
                                </div>
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </div>
                            </label>

                        </div>

                        <div class="form-group">
                            <label for="last_name" class="" style="display: block;">
                                <div class="col-md-3">Номер телефона:</div>
                                <div class="col-md-6">
                                    <input class="form-control" id="last_name" value="{{ object.phone }}"/>
{#                                    {{ form.last_name|attr:"class:form-control"|attr:"id:last_name" }}#}
                                </div>
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </div>
                            </label>

                        </div>
                    </div>

                    {#                    type mail#}


                    <div class="radio">
                        <h3>Адрес электронной почты</h3>
                        <p>К вашему аккаунту привязаны следующие адреса электронной почты</p>
                        <div class=" form-group input col-md-12">
                            <label for="email_radio_1" class="primary_email radio-button radio-button--material">

                                <input class="radio-button__input radio-button--material__input" id="email_radio_1"
                                       type="radio" checked="checked" value="admin@localhost">
                                <div class="radio-button__checkmark radio-button--material__checkmark"></div>
                                admin@localhost

                                <span class="verified">Основной</span>

                                <span class="primary">Primary</span>
                            </label>
                        </div>
                        <div class=" form-group input col-md-12">
                            <label for="email_radio_2" class="primary_email radio-button radio-button--material">

                                <input class="radio-button__input radio-button--material__input" id="email_radio_2"
                                       type="radio" checked="checked" value="admin@localhost">
                                <div class="radio-button__checkmark radio-button--material__checkmark"></div>
                                admin@localhost

                                <span class="verified">Основной</span>
                                <span class="primary">Primary</span>
                            </label>
                        </div>
                    </div>

                    <div class="add-email">
                        <div id="add_input_email">
                        <div class="form-group col-md-6" style="margin-right: 0;">
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                             <button type="button" class="add btn" id="add-email">Добавить</button>

                        </div>
                        <div class="form-group col-md-3">
                             <button class="add btn">Отмена</button>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                     <div class="form-group col-md-12">
                             <button class="add btn">Сделать основным</button>
                             <button class="add btn">Отправить письмо с проверкой</button>
                             <button class="add btn">Удалить</button>
                        </div>

                    </div>




                </form>
            </div>


        </div> <!-- /container -->
    </section>



{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $('#add-email').on('click', function () {
            if($('#add_input_email input[type=text]').val() !== ""){
                console.log("if");
{#                $(this).closest('#add_input_email').after(email_input);#}
            } else {
                alert("Заполните поле")
            }
        })
    </script>
{% endblock %}
