{% extends "base-1.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

    <section class="user-detail">
        <div class="container">
        <h1>Личный кабинет</h1>
        {% if object == request.user %}
        <!-- Action buttons -->

            <a class="btn" href="{% url 'users:update' %}" role="button">Профиль</a>
            <a class="btn" href="{% url 'account_email' %}" role="button">E-Mail</a>
            <!-- Your Stuff: Custom user template urls -->

        <!-- End Action buttons -->
        {% endif %}

        <h2>{{ object.get_full_name }} </h2>
          {% if object.name %}
              <p><strong>Логин:</strong> {{ object.name }}</p>
            <p><strong>Имя:</strong> {{ object.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ object.last_name }}</p>
            <p><strong>Дата регистрации:</strong> {{ object.date_joined }}</p>
          {% endif %}



        </div>
    </section>

{% endblock content %}

