{% extends 'shop/shop_detail.html' %}
{% load staticfiles widget_tweaks shop_tags %}

{% block shopcontent %}
    <section class="order-list uk-margin-medium-top">
        <div class="uk-container">
            <div class="shadow uk-padding-large">
             <a href="" name='delete' class="remove-item uk-button uk-margin-medium-bottom uk-button-default">Удалить</a>
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-text-center uk-table-small uk-table-middle uk-table-hover uk-table-striped uk-table-divider">
                        <thead>
                        <tr>
                            <th class="uk-text-center"></th>
                            <th class="uk-text-center">Номер заказа</th>
                            <th class="uk-text-center">Дата</th>
                            <th class="uk-text-center">Заказчик</th>
                            <th class="uk-width-small uk-text-center">Статус</th>
                            <th class="uk-table-expand uk-text-center">Адрес доставки</th>
                            <th class="uk-text-center">Телефон</th>
                            <th class="uk-width-small uk-text-center">Сумма заказа</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in object_list %}
                            {% if order.is_visible == True %}
                                <tr>
                                    <td>
                                        <label for="child-{{ order.id }}">
                                            <input class="uk-checkbox" type="checkbox" id="child-{{ order.id }}"
                                                   data-id="{{ order.id }}"
                                                   name="todelete" value="{{ order.id }}">
                                        </label>
                                    </td>
                                    <td>{{ order.cart.id }}</td>
                                    <td><a href="{% url 'order:shop_simple_order_update' pk=order.id %}"
                                           style="position: relative;">{{ order.created_at|date:"d.m.y H:i" }}</a>
                                    </td>
                                    <td>{{ order.name }}</td>
                                    <td class="uk-text-left">
                                        <form method="POST" action="{% url 'order:change_status' %}"
                                              class="order_change">
                                            {% csrf_token %}
                                            <select class="selectize demo-default" id="id_status"
                                                    name="status" required="">
                                                {% for x,y in form.fields.status.choices %}
                                                    <option value="{{ x }}"
                                                            {% if order.status == x %}selected{% endif %}>{{ y }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <input type="hidden" name="id" value="{{ order.id }}">
                                        </form>
                                    </td>
                                    <td>{{ order.address }}</td>
                                    <td>{{ order.phone }}</td>
                                    <td>{{ order.cart.subtotal }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="" class="uk-button uk-margin-medium-top uk-button-default">Сохранить</a>
            </div>
        </div>
    </section>

{% endblock %}


{% block js %}
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>

        var arr = [];//переменная массив для фукции записи в нее id списка заказов

        //функция записи данных в переменную arr выше


        $('input[name=todelete]').on('click', function () {
            let data_id = $(this).attr('data-id');
            if (!$.inArray(data_id, arr)) {
                arr.splice(arr.indexOf(data_id), 1);
            }
            else {
                arr.push(data_id);
            }

            console.log(arr)
        });


        //фукция удаления одного или массива списков с истории продаж магазина
        $('.remove-item').on('click', function (e) {
            console.log('zashel')
            {#        e.preventDefault();#}
            var self = $(this);
            var elems = $('input[name=todelete]:checked');
            $.ajax({
                url: '{% url 'order:shop_order_list' shop.slug %}',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'ids': arr
                },
                success: function () {
                    location.reload();
                }

            });

        });
    </script>
{% endblock %}




