{% extends 'base-1.html' %}
{% load staticfiles widget_tweaks %}

{% block content %}
    <div class="simpleorder">
        <div class="container">
            <div class="tab-simpleorder">
                <div class="head">
                    <div class="parets">
                        <ul>
                            <li>
                                <label for="parent">
                                    <input type="checkbox" id="parent">
                                    <div class="indicator"></div>
                                </label>
                            </li>
                            <li>Номер заказа</li>
                            <li>Дата</li>
                            <li>Заказчик</li>
                            <li>Статус</li>
                            <li>Адрес доставки</li>
                            <li>Телефон</li>
                            <li>Сумма заказа</li>
                            <li>Комиссия</li>
                        </ul>

                    </div>
                </div>
                {% for order in object_list %}
                    <div class="child-order">

                        <ul>
                            <li>
                                <label for="child">
                                    <input type="checkbox" id="child">
                                    <div class="indicator"></div>
                                </label>
                            </li>
                            <li>{{ order.id }}</li>
                            <li><a href="{% url 'order:simple_update' pk=order.id %}"
                                   style="position: relative;">{{ order.created_at|date:"d.m.y H:i" }}</a></li>
                            <li>{{ order.name }}</li>
                            <li>
                                {{ order.status }}
                            </li>
                            <li>{{ order.address }}
                            </li>
                            <li>{{ order.phone }}</li>
                            <li>{{ order.cart.cartitem_set.product.total }}</li>
                            <li>0 сом</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/jquery.2.2.4.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock %}
{##}
{#            <h1>Заказы магазина {{ shop }}</h1>#}
{#            {% for order in object_list %}#}
{#                <div class="border">#}
{#                    <h3><a href="{% url 'order:simple_update' pk=order.id %}">Заказ#}
{#                        от {{ order.created_at|date:"d.m.y H:i" }}</a></h3>#}
{#                    <p>{{ order.name }}</p>#}
{#                    <p>{{ order.last_name }}</p>#}
{#                    <p>{{ order.phone }}</p>#}
{#                    <p>{{ order.address }}</p>#}
{#                    <p>{{ order.status }}</p>#}
{#                    <form method="post" action="" class="order_change">#}
{#                        {% csrf_token %}#}
{#                        <div class="form-group select col-md-6" style="margin-top: 10px">#}
{#                            {{ form.status|attr:"class:form-control " }}#}
{#                        </div>#}
{#                        <input type="hidden" name="id" value="{{ order.id }}">#}
{#                        <button class="btn" type="submit">Подтвердить</button>#}
{#                    </form>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}




