{% extends 'base-1.html' %}
{% load staticfiles widget_tweaks %}

{% block content %}
        <section class="order-list uk-margin-medium-top">
        <div class="uk-container">
            <div class="shadow uk-padding-large">
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-text-center uk-table-small uk-table-middle uk-table-hover uk-table-striped uk-table-divider">
                        <thead>
                        <tr>
                            <th class="uk-text-center"></th>
                            <th class="uk-text-center">Номер заказа</th>
                            <th class="uk-text-center">Дата</th>
                            <th class="uk-text-center">Заказчик</th>
                            <th class="uk-width-small uk-text-center">Статус</th>
                            <th class="uk-table-expand uk-text-center">Адрес доставки</th>
                            <th class="uk-text-center">Телефон</th>
                            <th class="uk-width-small uk-text-center">Сумма заказа</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in object_list %}
                                <tr>
                                    <td>
                                    </td>
                                    <td><a href="{% url 'cart:detail_by_pk_user' username=user.username pk=order.cart.id %}">{{ order.cart.id }}</a></td>
                                    <td>{{ order.created_at|date:"d.m.y H:i" }}
                                    </td>
                                    <td>{{ order.name }}</td>
                                    <td>
                                        {{ order.get_status_display }}
                                    </td>
                                    <td>{{ order.address }}</td>
                                    <td>{{ order.phone }}</td>
                                    <td>{{ order.cart.subtotal }}</td>
                                    <td></td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}





