{% extends 'base-1.html' %}

{% block content %}


    <div class="basket-page">
    <div class="container">
        <div class="tab-simpleorder">
        <div class="head">
                    <div class="parets">
                        <ul>
                            <li>
{#                                <label for="parent">#}
{#                                    <input type="checkbox" id="parent">#}
{#                                    <div class="indicator"></div>#}
                                </label>
                            </li>
                            <li>Номер заказа</li>
                            <li>Дата</li>
                            <li>Заказчик</li>
                            <li>Статус</li>
                            <li>Адрес доставки</li>
                            <li>Телефон</li>
                            <li>Сумма доставки</li>
{#                            <li>Комиссия</li>#}
                        </ul>

                    </div>
                </div>
        <div class="child-object">
                        <ul>
                            <li>
                                <label for="child">
                                    <input type="checkbox" id="child">
                                    <div class="indicator"></div>
                                </label>
                            </li>
                            <li>{{ object.cart.id }}</li>
                            <li>{{ object.created_at|date:"d.m.y H:i" }}</li>
                            <li>{{ object.name }}</li>
                            <li>
                               {{ object.status }}
                            </li>
                            <li>{{ object.address }}
                            </li>
                            <li>{{ object.phone }}</li>
                            <li>{{ object.cart.subtotal }}</li>
{#                            <li>0 сом</li>#}
                        </ul>
                    </div>
        </div>
{#        <h1>Корзина</h1>#}
        <div class="cover">

        </div>
        <div class="thead">
            <div class="col-md-6">
                Товар
            </div>
            <div class="col-md-2">
                Продавец
            </div>
            <div class="col-md-2">
                Количество
            </div>
            <div class="col-md-2">
                Цена
            </div>
        </div>
        <div class="tbody">

            {% for product in object.cart.cartitem_set.all %}

            <div class="cover">
                <div class="col-md-2">
                    <div class="img-wrapper">
                        <img src="{{ product.product.get_main_image }}" alt="{{ product.product.title }}" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4">
                    <h2><a href="{{ product.product.get_absolute_url }}">{{ product.product.title }}</a></h2>
                    <div class="availability">
                        <span>Наличие: <span class="{% if product.product.availability == "available" %} stock
                                                {% elif product.product.availability == "waiting" %} expectation
                                                {% else %} not-stock {% endif %}">{{ product.product.get_availability }}</span></span>

                        <span class="truck">
                    <i class="fa fa-truck" aria-hidden="true" {% if product.product.delivery_type == 'paid' %} yellow
                    {% elif product.product.delivery_type == 'free' %} green {% endif %}></i>
                    {{ product.product.get_delivery_type }}
                </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="img-wrapper">
                        <img src="{{ product.product.shop.get_logo }}" alt="{{ product.product.shop.title }}" class="img-responsive">
                    </div>
                </div>
                <form action="partials" class="cart-form">
                <input type="hidden" name="item" value="{{ product.product.id }}">
                <div class="col-md-2">
                    <div class="quantity">
                        {{ product.quantity }}
                    </div>

                </div>

                </form>

                <div class="col-md-2 price">
                    {% if product.product.discount %}
                    <strike>{{ product.product.price }} {{ product.product.currency }}</strike>
                    <p id="line-total-{{ product.product.id }}">{{ product.total }} {{ product.product.currency }}</p>
                        {% else %}
                        <p id="line-total-{{ product.product.id }}">{{ product.total }} {{ product.product.currency }}</p>
                    {% endif %}
{#                    <a href="{{ product.product.remove_from_cart }}" class="close">X</a>#}
                </div>
            </div>
            {% endfor %}

            <div class="total">
                <div class="col-md-offset-8 col-md-3">
                    <p>Доставка: <span>0 сом</span></p>
                    <p>Итого: <span class="red" id="subtotal">{{ object.cart.subtotal }} сом </span></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
