<div class="container">
    <div class="pull-left col-md-12 parent">

        <ul class="content demo-x">
            {% for category in object.get_parent_categories %}

                <li class="item">
                    <div class="dropdown" data-id="#dropdown-{{ category.id }}" data-toggle="tooltip" title=""
                         data-placement="right" data-original-title="{{ category.title }}">
                        <a class="enter btn" type="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {% if category.image %}
                                <img src="{{ category.image.url }}" alt="">
                            {% else %}
                                {{ category.title }}
                            {% endif %}
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                    </div>


                        <ul class="dropdown-menu open" id="dropdown-{{ category.id }}" aria-labelledby="dLabel">
                            {% for subcategory in category.get_descendants %}
                                <li>
                                    <a href="{% url 'categories:detail' global_slug=global_slug slug=subcategory.slug %}">{{ subcategory.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>


                </li>



            {% endfor %}
        </ul>
    </div>


    <div class="child">

    </div>

    {#<div class="pull-right col-md-1">#}
    {#    <a href="" class="back-page">#}
    {#        <span class="glyphicon glyphicon-menu-left"></span>#}
    {#        Назад</a>#}
    {#</div>#}
    <div class="clearfix"></div>
</div>





