<div class="container" style="padding: 0;">
    <div class="parent">

        <ul class="content">
            {% for category in object.get_parent_categories %}

                <li class="item item-{{ object.get_parent_categories|length }}">
                    <div class="dropdown" data-id="#dropdown-{{ category.id }}" >
                        <a href="{% url 'categories:detail' global_slug=global_slug slug=category.slug %}" class="enter btn" type="button" aria-haspopup="true">
{#                            {% if category.image %}#}
{#                                <img src="{{ category.image.url }}" alt="" >#}
{#                            {% else %}#}
{#                                #}
{#                            {% endif %}#}
                        {{ category.title }}
{#                            <span class="glyphicon glyphicon-menu-down"></span>#}
                        </a>
                    </div>


                        <ul class="dropdown-menu open" id="dropdown-{{ category.id }}" aria-labelledby="dLabel">
                            {% for subcategory in category.get_children %}
                                <li>
                                    <a href="{% url 'categories:detail' global_slug=global_slug slug=subcategory.slug %}">{{ subcategory.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>


                </li>



            {% endfor %}
          <div class="clearfix"></div>
        </ul>

    </div>



</div>





