<ul class="fixed-category scroll-pane">

    {% for category in fixed_categories %}

    <li data-toggle="tooltip" title="{{ category.title }}" data-placement="right"
        data-original-title="{{ category.title }}">
        <div class="img-wrapper">
            <a href="{{ category.get_absolute_url }}">
                {% if category.get_icon %}
                    <img src="{{ category.get_icon }}" alt="">
                {% endif %}
            </a>
        </div>
    </li>

    {% endfor %}

</ul>
