{% extends 'base-1.html' %}
{% load staticfiles %}
{% block header %}
{% endblock %}
{% block body %}
    <body class="landing">
{% endblock %}
{% block category_link %}

{% endblock %}
{% block content %}

    <section class="landing-header">
        <div class="uk-container uk-text-center">
            <a class="uk-display-inline-block" href="{% url 'home' %}">
                <img src="{% static 'img/landing/logo.png' %}" width="240" alt="На главную">
            </a>
            <h1>Товары вашего магазина на Ооба Маркет</h1>

        </div>
    </section>

    <section class="about-ooba">
        <div class="shadow">
            <div class="uk-container">
                <div class="uk-grid uk-flex-middle uk-child-width-1-2@m">
                    <div>
                        <h3>Ооба Маркет - это крупная онлайн площадка товаров и магазинов города
                            Бишкек</h3>
                        <p>Идея нашего сервиса проста - Вы размещаете товары у нас на сервисе, мы
                            находим покупателей и доставляем товары конечному потребителю.</p>
                    </div>
                    <div>
                        <img src="{% static 'img/landing/header.png' %}" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="what-are-you-getting shadow">
        <div class="uk-container">
            <h2 class="uk-text-center uk-margin-medium-bottom">Что вы получаете</h2>
            <div class=" uk-grid uk-grid-match uk-text-center uk-child-width-1-3@m" uk-grid>
                <div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/ic1.png' %}" alt="">
                    </div>

                    <h3>Новый канал продаж</h3>
                    <p>Вы получите возможность увеличить охват своих потенциальных клиентов</p>
                </div>
                <div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/ic2.png' %}" alt="">
                    </div>

                    <h3>Повышение узнаваемости</h3>
                    <p>Еще больше покупателей узнают о Вашем ассортименте товаров</p>
                </div>
                <div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/ic3.png' %}" alt="">
                    </div>

                    <h3>Бесплатное продвижение</h3>
                    <p>Вы не потратите ни сома на рекламу своих товаров, мы сделаем это сами за Вас</p>
                </div>
                <div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/ic4.png' %}" alt="">
                    </div>

                    <h3>Доставка</h3>
                    <p>Организация быстрой доставки в любую точку страны</p>
                </div>
                <div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/ic5.png' %}" alt="">
                    </div>

                    <h3>Статистика</h3>
                    <p>Вся информация о посещаемости, аудитории, самых популярных товарах и многое другое</p>
                </div>
                <div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/ic3.png' %}" alt="">
                    </div>

                    <h3>Персональный менеджер</h3>
                    <p>Ваш личный консультант, который станет Вашим помощником по всем вопросам</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-ooba">
        <div class="shadow">
            <div class="uk-container">
                <div class="uk-grid uk-flex-middle">
                    <div class="uk-width-expand">
                        <img src="{% static 'img/landing/footer.png' %}" alt="">
                    </div>
                    <div class="uk-width-1-3@m">
                        <h3>Как разместить товары?</h3>
                        <div class="uk-child-width-1-2@m uk-grid">
                            <div>
                                <div class="img-wrapper">
                                    <img src="{% static 'img/landing/01.png' %}" alt="">
                                </div>
                                <p>Регистрация на сайте</p>
                            </div>
                            <div>
                                <div class="img-wrapper">
                                    <img src="{% static 'img/landing/02.png' %}" alt="">
                                </div>
                                <p>Создание магазина</p>
                            </div>
                            <div>
                                <div class="img-wrapper">
                                    <img src="{% static 'img/landing/03.png' %}" alt="">
                                </div>
                                <p>Размещение товаров</p>
                            </div>

                            <div>
                                <div class="img-wrapper">
                                    <img src="{% static 'img/landing/04.png' %}" alt="">
                                </div>
                                <p>Продажи!</p>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="landing-header">
        <div class="container">
            <div class="row">

                <h1>У вас еще нет интернет-магазина?</h1>
                <p>Вы можете получить его у нас бесплатно!</p>
                <div class="clearfix"></div>
                <a class="log mobile-landing-btn">Посмотреть <br> Магазин</a>
                <a class="log" href="{% url 'shops:create' %}">Создать <br> Магазин</a>
            </div>
        </div>
    </section>

{% endblock %}


{% block modal %}
    <div class="modal fade mobile-landing" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <section class="landing-banner">
                        <div class="container">
                            <div class="row">
                                <h2 class="col-md-offset-2 col-md-8">Вы получаете полноценный интернет магазин со всеми
                                    необходимыми функциями</h2>
                                <div class="col-md-offset-1 col-md-10">
                                    <img class="" src="{% static 'img/landing/p3.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="landing-step">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 img left">
                                    <img src="{% static 'img/landing/p4.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6 text">
                                    <span>1</span>
                                    <h3>Умный каталог</h3>
                                    <p>Вам не придется думать над категориями, просто выберите их из списка</p>
                                </div>

                                <div class="col-md-6 text">
                                    <span>2</span>
                                    <h3>Оповещения об акциях</h3>
                                    <p>Удерживайте клиентов акциями, о которых они получать оповещения</p>
                                </div>
                                <div class="col-md-6 img right">
                                    <img src="{% static 'img/landing/p5.jpg' %}" alt="">
                                </div>

                                <div class="col-md-6 img left">
                                    <img src="{% static 'img/landing/p6.png' %}" alt="">
                                </div>
                                <div class="col-md-6 text">
                                    <span>3</span>
                                    <h3>О компании</h3>
                                    <p>Здесь вы можете разместить информацию о Вашем магазине, его историю и
                                        преимущества</p>
                                </div>

                                <div class="col-md-6 text">
                                    <span>4</span>
                                    <h3>Контакты</h3>
                                    <p>Укажите Ваши контакты, чтобы покупателям было легче связаться с Вами</p>
                                </div>
                                <div class="col-md-6 img right">
                                    <img src="{% static 'img/landing/p7.png' %}" alt="">
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="show-case">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 bg1">
                                    <div class="title">
                                        <h4>Удобная навигация</h4>
                                        <p>Мы разбили категории таким образом, чтобы клиенты могли легко найти нужный им
                                            товар</p>
                                    </div>
                                    <div class="img-wrapper">
                                        <img src="{% static 'img/landing/p1.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 bg2">
                                    <div class="img-wrapper">
                                        <img src="{% static 'img/landing/t1.png' %}" alt="">
                                    </div>
                                    <div class="title">
                                        <h4>Мобильная версия</h4>
                                        <p>С тенденцией роста мобильных устройств, идет рост числа пользователей,
                                            которые совершают покупки онлайн через мобильные устройства.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 bg3">
                                    <div class="title">
                                        <h4>Простое управление</h4>
                                        <p>Наши дизайнеры каждый рабочий день думают над улучшением пользовательсткого
                                            интерфейса
                                            и идет непрерывная работа над сервисом, чтобы он был простым, логичным и
                                            понятным</p>
                                    </div>
                                    <div class="img-wrapper">
                                        <img src="{% static 'img/landing/monitor.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 bg4">
                                    <div class="title">
                                        <h4>Бесплатная реклама</h4>
                                        <p>Откровенно, мы заинтересованы в продвижении на рынке – продвигая Вас, мы
                                            продвигаем себя!</p>
                                    </div>
                                    <div class="img-wrapper">
                                        <img src="{% static 'img/landing/p2.png' %}" alt="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="gy">
                        <div class="container">
                            <div class="row">
                                <h3>На первых строчках!</h3>
                                <p class="col-md-offset-2 col-md-8">Именно ваши товары мы будем рекламировать и
                                    продвигать в поисковиках
                                    Google и Yandex</p>
                                <img src="{% static 'img/landing/8p.png' %}" alt="">
                                <div class="clearfix"></div>
                                <a href="{% url 'shops:create' %}" class="add btn" style="margin-top: 100px">Создать
                                    магазин</a>
                            </div>
                        </div>
                    </section>


                </div>
                {#      <div class="modal-footer">#}
                {#        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                {#        <button type="button" class="btn btn-primary">Save changes</button>#}
                {#      </div>#}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock modal %}
{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>

{% endblock %}
