{% extends 'base-1.html' %}
{% load staticfiles %}
{% block header %}
{% endblock %}
{% block body %}
    <body class="landing">
{% endblock %}
{% block category_link %}

{% endblock %}
{% block content %}

    <section class="landing-header">
        <div class="container">
            <div class="row">
                <img src="{% static 'img/landing/logo.png' %}" alt="">
                <h1>Бесплатная платформа для создание собственного Интернет-магазина</h1>
                <a href="{% url "account_login" %}">Регистрация</a>
            </div>
        </div>
    </section>

    <section class="landing-banner">
        <div class="container">
            <div class="row">
                <h2 class="col-md-offset-2 col-md-8">Вы получаете полноценный интернет магазин со всеми необходимыми
                    функциями</h2>
                <div class="col-md-offset-1 col-md-10">
                    <img class="" src="{% static 'img/landing/p3.png' %}" alt="">
                </div>

            </div>
        </div>
    </section>

    <section class="landing-step">
        <div class="container">
            <div class="row">
                <div class="col-md-6 img left">
                    <img src="{% static 'img/landing/p4.jpg' %}" alt="">
                </div>
                <div class="col-md-6 text">
                    <span>1</span>
                    <h3>Умный каталог</h3>
                    <p>Вам не прийдется думать над категориями просто выбирите из списка</p>
                </div>

                <div class="col-md-6 text">
                    <span>2</span>
                    <h3>Оповещения об акциях</h3>
                    <p>Секция, в который вы сможете размещать информацию об акциях и новостях</p>
                </div>
                <div class="col-md-6 img right">
                    <img src="{% static 'img/landing/p5.jpg' %}" alt="">
                </div>

                <div class="col-md-6 img left">
                    <img src="{% static 'img/landing/p6.png' %}" alt="">
                </div>
                <div class="col-md-6 text">
                    <span>3</span>
                    <h3>О компании</h3>
                    <p>Здесь вы можете разместить информацию о Вашем магазине, его историю и преимущество</p>
                </div>

                <div class="col-md-6 text">
                    <span>4</span>
                    <h3>Контакты</h3>
                    <p>Укажите ваши контакты, чтоб покупателям было легче найти и связаться с вами</p>
                </div>
                <div class="col-md-6 img right">
                    <img src="{% static 'img/landing/p7.png' %}" alt="">
                </div>

            </div>
        </div>
    </section>

    <section class="show-case">
        <div class="container">
            <div class="row">
                <div class="col-md-3 bg1">
                    <div class="title">
                        <h4>Удобная навигация</h4>
                        <p>Мы разбили категории таким образом чтоб клиенты легко могли найти нужный им товар</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/p1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 bg2">
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/t1.png' %}" alt="">
                    </div>
                    <div class="title">
                        <h4>Мобильная версия</h4>
                        <p>В данное время, многие покупатели заходят с мобильных устройств. Мы позаботились об их
                            удобстве</p>
                    </div>
                </div>
                <div class="col-md-3 bg3">
                    <div class="title">
                        <h4>Простое управление</h4>
                        <p>Легкое управление сайтом и контентом магазина</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/monitor.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 bg4">
                    <div class="title">
                        <h4>Бесплатная реклама</h4>
                        <p>Мы каждый день работаем над продвижением и рекламой на всех возможных площадках</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'img/landing/p2.png' %}" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="gy">
        <div class="container">
            <div class="row">
                <h3>На первых строчках !</h3>
                <p class="col-md-offset-2 col-md-8">Именно ваши товары мы будем рекламировать и продвигать в поисковиках
                    Google и Yandex</p>
                <img src="{% static 'img/landing/8p.png' %}" alt="">
            </div>
        </div>
    </section>

   <section class="landing-header">
        <div class="container">
            <div class="row">
                <img src="{% static 'img/landing/logo.png' %}" alt="">
                <h1>Бесплатная платформа для создание собственного Интернет-магазина</h1>
                <a href="{% url 'account_login' %}">Регистрация</a>
            </div>
        </div>
    </section>

    {#    <footer>#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-offset-4 col-md-4">#}
    {#                    <form action="">#}
    {#                        <label class="title">Регистрация магазина</label>#}
    {#                        <div class="form-group">#}
    {#                            <input type="email" class="form-control" placeholder="E-mail">#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="password" class="form-control" placeholder="Пароль">#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="text" class="form-control" placeholder="Имя">#}
    {#                        </div>#}
    {#                        <div class="form-group -m-30">#}
    {#                            <input type="checkbox" id="checkbox" class="form-control checkbox">#}
    {#                            <div class="indicator"></div>#}
    {#                            <label for="checkbox">Я принимаю <a href="">Условия сотрудничества</a></label>#}
    {##}
    {##}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <button class="form-control">Регистрация</button>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </footer>#}

{% endblock %}

