{% for r in shop.shopreviews_set.all %}
    <div class="item">
        <div class="name">
            <h4>{{ r.user.username }}
                <span>{{ r.created_at|date:"d.m.y H:m" }}</span>
                {% if r.stars %}
                    <div class="star pull-right">
                        <div class="star default">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>

                        <div class="star active">
                            {% for i in "*****" %}
                                <i class="fa fa-star {% if forloop.counter <= r.stars|length %}active{% endif %}"
                                   aria-hidden="true"></i>
                            {% endfor %}
                        </div>

                    </div>
                {% endif %}
            </h4>
        </div>
        <div class="description">
            <p>{{ r.text }}</p>
        </div>
    </div>

    {% empty %}
    <p>Будьте первым кто оценит этот магазин!</p>

{% endfor %}



